{% if title %}
<label><b>{{title}}:</b></label>
{% else %}
<label><b>Membro de Execução:</b></label>
{% endif %}
<select class="form-control" 
{% if select_id %} 
id="membro_execucao_select_{{select_id}}" 
{% else %}
id="membro_execucao_select" 
{% endif %} 
name="membro_execucao_id">
    {% if not membro_execucao_id %}
    <option value="">Selecione um Membro da Equipe de Execução</option>
    {% endif %}
    {% for membroExecucao in membrosExecucao %}
    <option {% if selected_membro_execucao_id == membroExecucao.id %} selected {% endif %} 
    value="{{membroExecucao.id}}">
        {{membroExecucao.pessoa.nome}}
    </option>
    {% endfor %}
</select>