<style>
    .btn-icon-acao {
        font-size: 0.8em;
        transition: font-size 0.2s;
        border-radius: 50%;
    }

    .btn-icon-acao:hover {
        font-size: 0.95rem;
        transition: font-size 0.2s;
    }
</style>
<div id="pessoas_ticket_form_container_{{id_to_remove}}" class=" border pt-2 mt-3">
    <form id="pessoaTicketAcaoForm-{{id_to_remove}}" class="container position-relative">
        {% if state != 'control_one' %}
        <div class="w-100 position-absolute"
        style="top: -20px; right: 10px">
            <div>
                <div class="position-relative d-flex justify-content-end ">
                    <span style="color: rgb(21, 125, 151);"
                    class="btn-icon-acao"
                    data-toggle="collapse"
                    href="#collapse_endereco_{{id_to_remove}}" 
                    role="button" 
                    aria-expanded="false" 
                    aria-controls="collapse_endereco_{{id_to_remove}}">
                        <span class="fa-stack" data-toggle="tooltip" data-placement="top" title="Editar Endereço">
                            <i class="fas fa-circle-thin fa-stack-2x shadow"></i>
                            <i class="fa-solid fa-pen fa-stack-1x fa-inverse"></i>
                        </span>
                    </span>
                    <span
                    class="btn-icon-acao"
                    role="button"
                    id="btn-remove-pessoa-{{id_to_remove}}"
                    onclick="removePessoa('{{id_to_remove}}')"
                    {% if hide_remove_button == 'hide' %} style="display: none; color: Tomato;" {% else %} style="color: Tomato;" {% endif %}>
                        <span class="fa-stack" data-toggle="tooltip" data-placement="top" title="Remover Pessoa">
                            <i class="fas fa-circle-thin fa-stack-2x"></i>
                            <i class="fa-solid fa-stack-1x fa-inverse fa-trash shadow"></i>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="form-group row">
            <div class="col-sm-4">
                {% include "pessoas/pessoas_select.html" with pessoas=pessoas pessoa_id=pessoa_id id=id_to_remove %}
            </div>
            <div class="col-sm-4">
                <label><b>Tipo da solicitação:</b></label>
                <select required 
                id="tipo_solicitacao"
                class="form-control" 
                name="tipo">
                    <option
                    value="">
                        Selecione uma opção
                    </option>
                    <option
                    {% if membro_execucao and membro_execucao.tipo == 'diaria' %}
                    selected
                    {% endif %}
                    value="diaria">
                        DIÁRIA
                    </option>
                    <option
                    {% if membro_execucao and membro_execucao.tipo == 'adiantamento' %}
                    selected
                    {% endif %}
                    value="adiantamento">
                        ADIANTAMENTO
                    </option>
                    <option
                    {% if membro_execucao and membro_execucao.tipo == 'veiculo' %}
                    selected
                    {% endif %}
                    value="veiculo">
                        VEÍCULO
                    </option>
                    <option
                    {% if membro_execucao and membro_execucao.tipo == 'nao_se_aplica' %}
                    selected
                    {% endif %}
                    value="nao_se_aplica">
                        NÃO HAVERÁ SOLICITAÇÂO
                    </option>
                </select>
            </div>
            <div class="col-sm-2">
                <label><b>Data Início:</b></label>
                <input 
                type="date" 
                name="data_inicio" 
                class="form-control" 
                {% if membro_execucao %}
                value="{{membro_execucao.data_inicio}}"
                {% endif %}>
            </div>
            <div class="col-sm-2">
                <label><b>Data Fim:</b></label>
                <input 
                type="date" 
                name="data_fim" 
                class="form-control" 
                {% if membro_execucao %}
                value="{{membro_execucao.data_fim}}"
                {% endif %}>
            </div>
        </div>

        <div class="form-group column">
            {% if state != 'control_one' %}
            <div class="collapse w-100" id="collapse_endereco_{{id_to_remove}}">
            {% else %}
            <div class="w-100">
            {% endif %}
                <div class="form-group row">
                    <div class="col-sm-6">
                        {% include "cidades/cidades_select.html" with cidades=cidades cidade_id=cidade_id id=prefix_id id_complement=id_to_remove%}
                    </div>
                    <div class="col-sm-6">
                        <label><b>Complemento:</b></label>
                        <input 
                        type="text" 
                        id="collapse_endereco_input_{{id_to_remove}}_complemento"
                        name="complemento" 
                        class="form-control" 
                        {% if membro_execucao %}
                        value="{{membro_execucao.complemento}}"
                        {% endif %}>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label><b>CEP:</b></label>
                        <input 
                        type="text" 
                        id="collapse_endereco_input_{{id_to_remove}}_cep"
                        name="cep" 
                        class="form-control" 
                        {% if membro_execucao %}
                        value="{{membro_execucao.cep}}"
                        {% endif %}>
                    </div>
                    <div class="col-sm-4">
                        <label><b>Bairro:</b></label>
                        <input 
                        type="text" 
                        name="bairro" 
                        class="form-control" 
                        id="collapse_endereco_input_{{id_to_remove}}_bairro"
                        {% if membro_execucao %}
                        value="{{membro_execucao.bairro}}"
                        {% endif %}>
                    </div>
                    <div class="col-sm-4">
                        <label><b>Logradouro:</b></label>
                        <input 
                        type="text" 
                        name="logradouro" 
                        class="form-control" 
                        id="collapse_endereco_input_{{id_to_remove}}_logradouro"
                        {% if membro_execucao %}
                        value="{{membro_execucao.logradouro}}"
                        {% endif %}>
                    </div>
                    <input type="text" hidden name="acao_id" value="{{acao.id}}">
                </div>
            </div>
        </div>            
    </form>
</div>
<script>
    var membro_execucao_cidade_id = "{% if membro_execucao %}{{membro_execucao.cidade_id}}{% endif %}"
</script>