<style>
    .btn-icon-acao {
        font-size: 0.8em;
        transition: font-size 0.2s;
        border-radius: 50%;
    }

    .btn-icon-acao:hover {
        font-size: 0.95rem;
        transition: font-size 0.2s;
    }
</style>
<div id="pessoas_ticket_form_container_{{id_to_remove}}" class="pt-2 mt-3">
    <form id="pessoaTicketForm-{{id_to_remove}}" class="container position-relative">
        {% if state != 'control_one' %}
        <div class="w-100 position-absolute"
        style="top: -20px; right: 10px">
            <div>
                <div class="position-relative d-flex justify-content-end ">
                    <span style="color: rgb(21, 125, 151);"
                    class="btn-icon-acao"
                    data-toggle="collapse"
                    href="#collapse_endereco_{{id_to_remove}}" 
                    role="button" 
                    aria-expanded="false" 
                    aria-controls="collapse_endereco_{{id_to_remove}}">
                        <span class="fa-stack" data-toggle="tooltip" data-placement="top" title="Editar Endereço">
                            <i class="fas fa-circle-thin fa-stack-2x shadow"></i>
                            <i class="fa-solid fa-pen fa-stack-1x fa-inverse"></i>
                        </span>
                    </span>
                    <span
                    class="btn-icon-acao"
                    role="button"
                    id="btn-remove-pessoa-{{id_to_remove}}"
                    onclick="removePessoa('{{id_to_remove}}')"
                    {% if hide_remove_button == 'hide' %} style="display: none; color: Tomato;" {% else %} style="color: Tomato;" {% endif %}>
                        <span class="fa-stack" data-toggle="tooltip" data-placement="top" title="Remover Pessoa">
                            <i class="fas fa-circle-thin fa-stack-2x"></i>
                            <i class="fa-solid fa-stack-1x fa-inverse fa-trash shadow"></i>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="form-group row">
            <div class="col-sm-12 position-relative">
                {% include "pessoas/pessoas_select.html" with pessoas=pessoas pessoa_id=pessoa_id id=id_to_remove label='Selecione uma pessoa' %}
            </div>
        </div>  
        <input type="hidden" name="membro_execucao_id" value="{% if membro_execucao %}{{membro_execucao.id}}{% endif %}">     
        <input type="hidden" name="evento_id" value="{% if evento %}{{evento.id}}{% endif %}">     
    </form>
</div>
<script>
    var membro_execucao_cidade_id = "{% if membro_execucao %}{{membro_execucao.cidade_id}}{% endif %}"
</script>