.env
*.env
/data
/logs
/.venv
__pycache__
__pycache__
/data
/logs
anotacoes
**.bash_history
*/.local
*/.cache
*/.bash_history
*/.bash_logout
*/.bashrc
*/.profil
*/.vscode-server
*/.ssh
*/.config
*/.gnupg
*/.dotnet
*/tmp
