<style> 
    .color-light {
        color: #fff;
        font-weight: bold;
    }
</style>
<table class="table">
    <thead>
        <tr>
            <th>Status</th>
            <th>Linha</th>
            <th>Menssagem</th>
        </tr>
    </thead>
    <tbody>
        {% for item in extrato %}
            <tr class=" color-light {% if item.status == 'Erro' %}bg-danger{% elif item.status == 'Sucesso' %}bg-success{% endif %}">
                <td>{{ item.status }}</td>
                <td>{{ item.linha }}</td>
                <td>{{ item.message }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
