<table class="table table-borderless" 
width="100%" 
cellspacing="0">
    <thead class="border">
        <tr class="">
            <th class="text-left clickable-column" 
            id="column-demanda-data_inicio" data-toggle="tooltip"
            data-placement="top" onclick="orderTableBy(
                this,
                'data_inicio', 
                'filterDemandaOrderBy',
                (state) => carregarDemandas(getDemandaFilters(), state)
            )" 
            title="Ordenar por Data de início">
                <div class="d-flex justify-content-start align-items-center">
                    <i class="fa-solid fa-arrow-down-a-z arrow-down"></i>
                    <i class="fa-solid fa-arrow-down-z-a arrow-up"></i>
                    <span class="column-label ml-1">Favorecido</span>
                </div>
            </th>
            <th class="text-left">
                <span class="column-label ml-1">Evento/Ação de Ensino</span>
            </th>
            <th class="text-left">Escola/Local</th>
            <th class="text-left clickable-column" 
            id="column-demanda-status" data-toggle="tooltip"
            data-placement="top" onclick="orderTableBy(
                this,
                'status', 
                'filterDemandaOrderBy',
                (state) => carregarDemandas(getDemandaFilters(), state)
            )" 
            title="Ordenar por Status">
                <div class="d-flex justify-content-start align-items-center">
                    <i class="fa-solid fa-arrow-down-a-z arrow-down"></i>
                    <i class="fa-solid fa-arrow-down-z-a arrow-up"></i>
                    <span class="column-label ml-1">Demanda</span>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for demanda in demandas %}
        <tr>
            <td class="text-left w-15" >
                <div class="d-flex flex-column justify-content-start align-items-start">
                    <div class="d-flex flex-column justify-content-start align-items-start">
                        {% if demanda.model == 'alocacao' %}
                        <span class=" ">
                            {{demanda.alocacao.professor.nome|default_if_none:""}}
                        </span>
                        {% elif demanda.model == 'membro_execucao' or demanda.model == None or demanda.model == '' %}
                        <span class=" ">
                            {{demanda.membro_execucao.pessoa.nome|default_if_none:""}}
                        </span>
                        {% elif demanda.model == 'atividade' %}
                        <span class=" ">
                            Demanda criada para uma atividade
                        </span>
                        {% elif  demanda.model == 'pessoa' %}
                        <span class=" ">
                            {{demanda.pessoa.nome|default_if_none:""}}
                        </span>
                        {% endif %}
                    </div>
                </div>
            </td>
            <td  class="text-left position-relative w-35">
                <div class="d-flex flex-wrap ">
                    {% if demanda.model == 'alocacao' %}
                    <div class="d-flex flex-column justify-content-start align-items-start">
                        <div>
                            <span class=" ">
                                Alocado(a) na ação de ensino, {{demanda.alocacao.acaoEnsino.tipo_formatado|default_if_none:""}} em {{demanda.alocacao.acaoEnsino.cidade.nome|default_if_none:""}}
                            </span>
                        </div>
                        <div>
                            <span class=" ">
                               Ação de ensino ocorreu de {{demanda.alocacao.acaoEnsino.data_inicio_formatada|default_if_none:""}} até {{demanda.alocacao.acaoEnsino.data_fim_formatada|default_if_none:""}}
                            </span>
                        </div>
                        {% if demanda.observacao %} 
                            <div>
                                <span class=" ">
                                    <strong>Descrição</strong>: {{demanda.observacao|default_if_none:""}}
                                </span>
                            </div>  
                        {% endif %}
                    </div>
                    {% elif demanda.model == 'membro_execucao' or demanda.model == None or demanda.model == '' %}
                        <div class="d-flex flex-column justify-content-start align-items-start">
                            <div>
                                <span class=" ">
                                    Membro da equipe no evento, {{demanda.membro_execucao.evento.tipo_formatado|default_if_none:""}}
                                </span>
                                <span class=" ">
                                   em {{demanda.membro_execucao.evento.cidade.nome|default_if_none:""}}
                                </span>
                            </div>
                            <div>
                                <span class=" ">
                                Evento ocorreu de {{demanda.membro_execucao.evento.data_inicio_formatada|default_if_none:""}} até {{demanda.membro_execucao.evento.data_fim_formatada|default_if_none:""}}
                                </span>
                            </div>  
                            {% if demanda.observacao %} 
                            <div>
                                <span class=" ">
                                    <strong>Descrição</strong>: {{demanda.observacao|default_if_none:""}}
                                </span>
                            </div>  
                            {% endif %}
                        </div>
                    {% elif demanda.model == 'atividade' or demanda.model == None or demanda.model == '' %}
                        <div class="d-flex flex-column justify-content-start align-items-start">
                            <div>
                                <span class=" ">
                                    Demanda registrada no evento, {{demanda.atividade.evento.tipo_formatado|default_if_none:""}}
                                </span>
                                <span class=" ">
                                   em {{demanda.atividade.evento.cidade.nome|default_if_none:""}}
                                </span>
                            </div>
                            <div>
                                <span class=" ">
                                Evento ocorreu de {{demanda.atividade.evento.data_inicio_formatada|default_if_none:""}} até {{demanda.membro_execucao.evento.data_fim_formatada|default_if_none:""}}
                                </span>
                            </div>  
                            {% if demanda.observacao %} 
                            <div>
                                <span class=" ">
                                    <strong>Descrição</strong>: {{demanda.observacao|default_if_none:""}}
                                </span>
                            </div>  
                            {% endif %}
                        </div>
                    {% elif  demanda.model == 'pessoa' %}
                        <div class="d-flex flex-column justify-content-start align-items-start">
                            <div>
                                <span class=" ">
                                    <strong>Descrição</strong>: {{demanda.observacao|default_if_none:""}}
                                </span>
                            </div> 
                        </div>
                    {% endif %}
                </div>
            </td>
            <td  class="text-left position-relative w-35">
                <div>
                    {% if demanda.model == 'alocacao' %}
                    <span class="">
                        {{demanda.alocacao.acaoEnsino.escola.nome|default_if_none:""}}
                    </span>
                    {% elif demanda.model == 'membro_execucao' or demanda.model == None or demanda.model == '' %}
                    <div class="">
                        {% for escola in demanda.membro_execucao.evento.escolas %}
                            <div>{{escola.nome|default_if_none:""}}<div>
                        {% endfor %}
                    </div>
                    {% elif demanda.model == 'pessoa'%}
                    <span class="">
                        {{demanda.escola.nome|default_if_none:""}}
                    </span>
                    {% endif %}

                    {% if demanda.endereco_completo %}
                    <div class="">
                        <strong>Endereço</strong>: {{demanda.endereco_completo|default_if_none:""}}
                    </div>
                    {% endif %}
                </div>
            </td>
            <td  class="text-left position-relative w-15">
                <div class="d-flex flex-wrap ">
                    {% include "tickets/ticket_card.html" with ticket=demanda model=demanda.model show_delete=False show_edit=True %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    function clearModalFormTicket() {
        $("#cadastrarTicketModal").modal('hide');
        $("#modalTicketContainer").html("");
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
        carregarDemandas()
    }
</script>