<div class="modal" id="importTicketsModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header" id="headerImportacaoRevisao">
          <h5 class="modal-title">Revisão da Demanda <span id="numero-linha"></span></h5>
          <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
        </div>
        
        <div class="modal-header" style="display: none" id="headerImportacaoExtrato">
          <h5 class="modal-title">Revisão da Demanda <span id="numero-linha"></span></h5>
          <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal Body -->
        <div class="modal-body" id="modalBodyImportacaoContainer">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Dados da Demanda da linha <span id="table-demanda-linha"></span></h5>
                </div>
                <div class="card-body" id="template">
                    <div class="row w-100 d-flex justify-content-between" data-key="record_evento_id">
                        <span class="w-30">ID Evento:</span>
                        <span class="value ml-2 font-weight-bold text-right"></span>
                    </div>
                    <hr>
                    <div class="row w-100 d-flex justify-content-between" data-key="record_id_protocolo">
                        <span class="w-30">ID Protocolo:</span>
                        <span class="value ml-2 font-weight-bold text-right"></span>
                    </div>
                    <hr>
                    <div class="row w-100 d-flex justify-content-between" data-key="record_escola">
                        <span class="w-30">Departamento:</span>
                        <span class="value ml-2 font-weight-bold text-right"></span>
                    </div>
                    <hr>
                    <div class="row w-100 d-flex justify-content-between" data-key="record_tipo">
                        <span class="w-30">Tipo:</span>
                        <span class="value ml-2 font-weight-bold text-right"></span>
                    </div>
                    <hr>
                    <div class="row w-100 d-flex justify-content-between" data-key="record_descricao">
                        <span class="w-30">Assunto (Descrição do ID):</span>
                        <span class="value ml-2 font-weight-bold text-right"></span>
                    </div>
                    <hr>
                    <div class="row w-100 d-flex justify-content-between" data-key="record_motivo">
                        <span class="w-30">Descrição (Motivo da Solicitação):</span>
                        <span class="value ml-2 font-weight-bold text-right"></span>
                    </div>
                    <hr>
                    <div class="row w-100 d-flex justify-content-between" data-key="record_data_inicio">
                        <span class="w-30">Data Inicio:</span>
                        <span class="value ml-2 font-weight-bold text-right"></span>
                    </div>
                    <hr>
                    <div class="row w-100 d-flex justify-content-between" data-key="record_data_fim">
                        <span class="w-30">Data Fim:</span>
                        <span class="value ml-2 font-weight-bold text-right"></span>
                    </div>
                    <hr>
                    <div class="row w-100 d-flex justify-content-between" data-key="record_status">
                        <span class="w-30">Status:</span>
                        <span class="value ml-2 font-weight-bold text-right"></span>
                    </div>
                    <hr>
                    <div class="row w-100 d-flex justify-content-between" data-key="record_valor_orcado">
                        <span class="w-30">Valor Previsto:</span>
                        <span class="value ml-2 font-weight-bold text-right"></span>
                    </div>
                    <hr>
                    <div class="row w-100 d-flex justify-content-between" data-key="record_valor_executado">
                        <span class="w-30">Valor Utilizado:</span>
                        <span class="value ml-2 font-weight-bold text-right"></span>
                    </div>
                    <hr>
                    <div class="row w-100 d-flex justify-content-between" data-key="record_beneficiario">
                        <span class="w-30">Beneficiário:</span>
                        <span class="value ml-2 font-weight-bold text-right"></span>
                    </div>
                    <hr>
                    <div class="row w-100 d-flex justify-content-between" data-key="record_escola">
                        <span class="w-30">Escola:</span>
                        <span class="value ml-2 font-weight-bold text-right"></span>
                    </div>
                    <hr>
                    <div class="row w-100 d-flex justify-content-between" data-key="record_rubrica">
                        <span class="w-30">Rubrica:</span>
                        <span class="value ml-2 font-weight-bold text-right"></span>
                    </div>
                </div>
            </div>
            <form id="formImportarDemanda">
            <div class="form-group row">
              <div class="col-sm-12">
                  <label class="filter-label"><b>Linha da Planilha:</b></label>
                  <input readonly
                  type="text" 
                  class="form-control" 
                  name="row"
                  id="row">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-3">
                  <label class="filter-label"><b>Tipo da demanda:</b></label>
                  <select required 
                  id="tipo"
                  class="form-control" 
                  name="tipo">
                      <option
                      value="">
                          Selecione uma opção
                      </option>
                      <option
                      value="diaria">
                          DIÁRIA
                      </option>
                      <option
                      value="adiantamento">
                          ADIANTAMENTO
                      </option>
                      <option
                      value="adiantamento_insumo">
                          ADIANTAMENTO INSUMOS
                      </option>
                      <option
                      value="adiantamento_combustivel">
                          ADIANTAMENTO COMBUSTÍVEL
                      </option>
                      <option
                      value="veiculo">
                          VEÍCULO
                      </option>
                      <option
                      value="passagem">
                          PASSAGEM
                      </option>
                      <option
                      value="rpa">
                          RPA
                      </option>
                    <option
                    value="servico">
                        COMPRA DE PRODUTO(S)
                    </option>
                    <option
                    {% if ticket and ticket.tipo == 'servico' %}
                    selected
                    {% endif %}
                    value="servico">
                        CONTRATAÇÂO DE SERVIÇO(S)
                    </option>
                    <option
                    {% if ticket and ticket.tipo == 'outro' %}
                    selecte
                    {% endif %}
                    value="outro">
                        OUTRO
                    </option>    
                      <option
                      {% if ticket and ticket.tipo == 'nao_se_aplica' %}
                      selected
                      {% endif %}
                      value="nao_se_aplica">
                          NÃO HAVERÁ SOLICITAÇÂO
                      </option>
                  </select>
              </div>
              <div 
              {% if layout == '6' %}
              class="col-sm-6 mb-1"
              {% else %}
              class="col-sm-3"
              {% endif %}>
                  <div class="d-flex justify-content-between align-items-center">
                      <label class="filter-label"><b>Data Início:</b></label>
                      <div class="form-group d-flex justify-content-start align-items-start" 
                      style=" padding: 0; margin: 0">
                          <input name="nao_se_aplica_data_inicio"  
                          id="nao_se_aplica_data_inicio" 
                          style="cursor: pointer; margin-right: 0.5rem;" 
                          type="checkbox"
                          {% if ticket.nao_se_aplica_data_inicio == True %}
                          checked
                          {% endif %}
                          onclick="disableField(this,'data_inicio')">
                          <label for="nao_se_aplica_data_inicio" class="filter-label"
                          style="line-height: 1rem;white-space: nowrap;">
                              <b>Não se aplica</b>
                          </label>
                      </div>
                  </div>
                  <input 
                  type="date" 
                  name="data_inicio" 
                  id="data_inicio"
                  class="form-control" 
                  {% if ticket and ticket.nao_se_aplica_data_inicio == False or ticket.nao_se_aplica_data_fim == None %}
                  value="{{ticket.data_inicio|date:'Y-m-d'}}"
                  {% else %}
                  value=""
                  disabled
                  {% endif %}>
              </div>
              <div 
              {% if layout == '6' %}
              class="col-sm-4"
              {% else %}
              class="col-sm-3"
              {% endif %}>
                  <div class="d-flex justify-content-between align-items-center">
                      <label class="filter-label">
                          <b>Data Fim:</b>
                      </label>
                      <div class="form-group d-flex justify-content-start align-items-start" 
                      style=" padding: 0; margin: 0">
                          <input name="nao_se_aplica_data_fim"  
                          id="nao_se_aplica_data_fim" 
                          style="cursor: pointer; margin-right: 0.5rem;" 
                          type="checkbox"
                          {% if ticket.nao_se_aplica_data_fim == True %}
                          checked
                          {% endif %}
                          onclick="disableField(this,'data_fim')">
                          <label for="nao_se_aplica_data_fim" class="filter-label"
                          style="line-height: 1rem;white-space: nowrap;">
                              <b>Não se aplica</b>
                          </label>
                      </div>
                  </div>
      
                  <input 
                  type="date" 
                  name="data_fim" 
                  id="data_fim"
                  class="form-control" 
                  {% if ticket and ticket.nao_se_aplica_data_fim == False or ticket.nao_se_aplica_data_fim == None %}
                  value="{{ticket.data_fim|date:'Y-m-d'}}"
                  {% else %}
                  value=""
                  disabled
                  {% endif %}>
              </div>
              <div 
              {% if layout == '6' %}
              class="col-sm-4"
              {% else %}
              class="col-sm-3"
              {% endif %}>
                  <label class="filter-label"><b>Id da demanda:</b></label>
                  <input 
                  type="text" 
                  {% if ticket %}
                  value="{{ ticket.id_protocolo|default_if_none:''}}" 
                  {% endif %}
                  class="form-control" 
                  name="id_protocolo">
              </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label><b>Status:</b></label>
                    <select required 
                    id="status"
                    class="form-control" 
                    name="status">
                        <option
                        value="">
                            Selecione uma opção
                        </option>
                        <!-- CRIACAO_PENDENTE -->
                        <option 
                        {% if ticket and ticket.status_calculado == 'CRIACAO_PENDENTE' %}
                        selected
                        {% endif %}
                        value="CRIACAO_PENDENTE">
                            CRIAÇÂO PENDENTE
                        </option>
                        <!-- CRIADO -->
                        <option 
                        {% if ticket and ticket.status_calculado == 'CRIADO' %}
                        selected
                        {% endif %}
                        value="CRIADO">
                            CRIADO
                        </option>
        
                        <!-- ATRASADO_PARA_CRIACAO -->
                        <option 
                        {% if ticket and ticket.status_calculado == 'ATRASADO_PARA_CRIACAO' %}
                        selected
                        {% endif %}
                        value="ATRASADO_PARA_CRIACAO">
                            ATRASADO PARA CRIACAO
                        </option>
                        <!-- PENDING_PRESTACAO_CONTAS -->
                        <option 
                        {% if ticket and ticket.status_calculado == 'PENDING_PRESTACAO_CONTAS' %}
                        selected
                        {% endif %}
                        value="PENDING_PRESTACAO_CONTAS">
                            PRESTAÇÂO DE CONTAS PENDENTE
                        </option>
                        <!-- PRESTACAO_CONTAS_CREATED -->
                        <option 
                        {% if ticket and ticket.status_calculado == 'PRESTACAO_CONTAS_CREATED' %}
                        selected
                        {% endif %}
                        value="PRESTACAO_CONTAS_CREATED">
                            CONTAS PRESTADAS
                        </option>
                        <option 
                        {% if ticket and ticket.status_calculado == 'CANCELADO' %}
                        selected
                        {% endif %}
                        value="CANCELADO">
                            CANCELADO
                        </option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label><b>Valor Orçado:</b></label>
                    <input 
                    type="number"
                    step="0.01" 
                    {% if ticket %}
                    value="{{ ticket.valor_orcado|default_if_none:''}}" 
                    {% endif %}
                    class="form-control" 
                    name="valor_orcado">
                </div>
                <div class="col-sm-4">
                    <label><b>Valor Executado:</b></label>
                    <input 
                    type="number"
                    step="0.01" 
                    {% if ticket %}
                    value="{{ ticket.valor_executado|default_if_none:''}}" 
                    {% endif %}
                    class="form-control" 
                    name="valor_executado">
                </div>
                <!-- <div class="col-sm-3">
                    <label class=""><b>Demanda para:</b></label>
                    <select required 
                    id="demanda_para"
                    class="form-control" 
                    name="demanda_para">
                        <option
                        value="">
                            Selecione uma opção
                        </option>
                        <option
                        value="membro_eexecucao">
                            Membro de Equipe de Execução
                        </option>
                        <option
                        value="alocacao">
                            Alocação de Professor
                        </option>
                        <option
                        value="atividade">
                            Atividade
                        </option>
                    </select>
                </div> -->
            </div>
            <div class="form-group row">
                <input hidden type="text" id="selectedBeneficiarioTicketForm" value="{{ticket.beneficiario.id}}">
                <div id="eventoSelectContainer" class="col-sm-4">
                </div>
                <div id="beneficiarioSelectContainer" class="col-sm-4">
                </div>
                <div id="escolasSelectContainer" class="col-sm-4">
                </div>
            </div>
            <div class="form-group row">
                <div id="membroExecucaoSelectContainer" class="col-sm-4">
                </div>
                <div id="atividadeSelectContainer" class="col-sm-4">
                </div>
                <div id="alocacaoSelectContainer" class="col-sm-4">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <label><b>Descrição:</b></label>
                    <textarea 
                    rows="4"
                    placeholder="Descreva a função da pessoa na equipe de execução do evento, motivo pelo qual ela é necessario solicitar essa demanda, etc."
                    name="observacao" 
                    id="observacao"
                    class="form-control">{% if ticket %}{{ticket.observacao|default_if_none:""}}{% endif %}</textarea>
                </div>
            </div>
        
            <div class="form-group row">
                <div id="cidadesSelectContainer" class="col-sm-2">
                </div>
                <div class="col-sm-3">
                    <label><b>Complemento:</b></label>
                    <input 
                    type="text" 
                    id="complemento"
                    name="complemento" 
                    class="form-control" 
                    {% if ticket %}
                    value="{{ticket.complemento|default_if_none:''}}"
                    {% endif %}>
                </div>
                <div class="col-sm-2">
                    <label><b>CEP:</b></label>
                    <input 
                    type="text" 
                    id="cep"
                    name="cep" 
                    class="form-control" 
                    {% if ticket %}
                    value="{{ticket.cep|default_if_none:''}}"
                    {% endif %}>
                </div>
                <div class="col-sm-3">
                    <label><b>Bairro:</b></label>
                    <input 
                    type="text" 
                    name="bairro" 
                    class="form-control" 
                    id="bairro"
                    {% if ticket %}
                    value="{{ticket.bairro|default_if_none:''}}"
                    {% endif %}>
                </div>
                <div class="col-sm-2">
                    <label><b>Logradouro:</b></label>
                    <input 
                    type="text" 
                    name="logradouro" 
                    class="form-control" 
                    id="logradouro"
                    {% if ticket %}
                    value="{{ticket.logradouro|default_if_none:''}}"
                    {% endif %}>
                </div>
            </div>
            </form>
        </div>

        <div id="resumoImportacaoContainer">
        </div>
  
        <!-- Modal Footer -->
        <div class="modal-footer d-flex justify-content-between">
            <div>
                <button id="closeModalImportacao"
                  type="button" 
                  class="btn btn-secondary" 
                  dat-bs-dismiss="modal">Fechar</button>
            </div>
            <div>
                <button type="button" id="denyButton" class="btn btn-danger">Negar Demanda</button>
                <button type="button" id="confirmButton" class="btn btn-success">Confirmar Demanda</button>
                <button type="button" id="saveButton" 
                style="display: none;" 
                onclick="saveSelectedhDemanda()"
                class="btn btn-primary">Salvar Demandas</button>
            </div>

        </div>
  
      </div>
    </div>
  </div>

 {{ data|json_script:"dataScript" }}
 {{ row_data|json_script:"tableScript" }}
<script>
    var dataToSent = [];
    var rejectedTickets = [];

    function saveSelectedhDemanda() {
        saveBatchDemanda(dataToSent, function (html) {
            $('#resumoImportacaoContainer').html(html);
            $('#modalBodyImportacaoContainer').hide();
            $('#headerImportacaoRevisao').hide();
            $('#saveButton').hide();
            $('#closeModalImportacao').show();
            $('#headerImportacaoExtrato').show();
        });
    }

    function waitForConfirmation(data) {
        return new Promise((resolve, reject) => {
            var confirmButton = document.getElementById('confirmButton');
            var denyButton = document.getElementById('denyButton');
            function confirmHandler() {
                confirmButton.removeEventListener('click', confirmHandler);
                denyButton.removeEventListener('click', denyHandler);
                let formData = $("#formImportarDemanda")
                .serializeArray()
                .reduce(function(acc, cur) {
                    if (cur.name == 'pessoa_id') acc['beneficiario_id'] = cur.value;
                    else acc[cur.name] = cur.value;
                    return acc;
                }, {});
                
                dataToSent.push(formData);
                resolve();
            }
            function denyHandler() {
                confirmButton.removeEventListener('click', confirmHandler);
                denyButton.removeEventListener('click', denyHandler);
                rejectedTickets.push(data);
                resolve();
            }

            confirmButton.addEventListener('click', confirmHandler);
            denyButton.addEventListener('click', denyHandler);
        });
    }

    async function verifySelectLoaded() {
        return new Promise((resolve) => {
            let inputEvento = $('#dp_evento_id');
            let interval = setInterval(() => {
            if (inputEvento.length > 0) {
                inputEvento.on('change', function () {
                    let evento_id = $(this).val();
                    console.log("evento mudou", evento_id);
                    getMembroExecucaoSelect({
                        evento_id: evento_id
                    }, function (html) {
                        $('#membroExecucaoSelectContainer').html(html);
                    });

                    getAtividadeSelect({
                        evento_id: evento_id
                    }, function (html) {
                        $('#atividadeSelectContainer').html(html);
                    });
                });
                clearInterval(interval);
                resolve();
            } else {
                inputEvento = $('#dp_evento_id');
            }
            }, 1000);
        });
    }

    async function processImport() {
        await verifySelectLoaded();
        var jsonData = JSON.parse($('#dataScript').text());
        var table_data = JSON.parse($('#tableScript').text());
        let inputTipo = $('#tipo');
        let inputDataInicio = $('data_inicio')
        let inputStatus = $('#status');
        let inputEvento = $('#dp_evento_id');
        let inputPessoa = $('#pessoa_id');
        let inputEscola = $('#escola_id');
        let inputObservacao = $('#observacao');
        let headerLine = $("#numero-linha")
        let rowInput = $("#row")
        let totalLinhas = jsonData.length + 1;

        for (let index = 0; index < jsonData.length; index++) {
            let data = jsonData[index];            
            let row_data = table_data[index];
            let template = $('#template')
            let linhaRow = $("#table-demanda-linha")
            
            for (let key in row_data) {
                let text = row_data[key] ? row_data[key] : 'Não Informado';
                template.find('div[data-key="' + key + '"] .value').text(text);
                linhaRow.text(row_data['rowNumber'] + " de " + totalLinhas);
            }

            for (let key in data) {
                if (data.hasOwnProperty(key)) {
                    if (key == 'tipo') {
                        inputTipo.val(data[key] ? data[key] : 'Não Informado');
                    } else if (key == 'data_inicio') {
                        inputDataInicio.val(data[key] ? data[key] : 'Não Informado');
                    } else if (key == 'status') {
                        inputStatus.val(data[key] ? data[key] : 'Não Informado');
                    } else if (key == 'evento_id') {
                        if (data[key]) {
                            inputEvento.val(data[key].toString());
                            console.log("valor sendo salvo na solicitação: ", data[key].toString());
                            inputEvento.trigger('change');
                        }
                        else inputEvento.find('option[value=""]').attr('selected', true);
                    } else if (key == 'beneficiario') {
                        if (data[key]) inputPessoa.val(data[key].toString());
                        else inputPessoa.find('option[value=""]').attr('selected', true);
                    } else if (key == 'escola') {
                        if (data[key]) inputEscola.val(data[key].toString());
                        else inputEscola.find('option[value=""]').attr('selected', true);
                    } else if (key == 'observacao') {
                        inputObservacao.val(data[key] ? data[key] : 'Não Informado');
                    } else if (key == 'rowNumber') {
                        headerLine.text(data[key] ? data[key] + " de "+ totalLinhas: 'Não Informado');
                        rowInput.val(data[key] ? data[key] + " de "+ totalLinhas: 'Não Informado');
                    } else {
                        let inputElement = $('input[name="' + key + '"], select[name="' + key + '"]');
                        
                        if(inputElement.length){
                            inputElement.val(data[key] ? data[key] : 'Não Informado');
                        } 
                    }
                }
            }

            await waitForConfirmation(row_data);
        }

        $("#denyButton").hide();
        $("#confirmButton").hide();
        $("#saveButton").show();
    }

    $(document).ready(function(){
        (function(params) {
            getPessoaSelect({}, function (html) {
                $("#beneficiarioSelectContainer").html(html);
            })
            getEscolaSelect({showEscolaEndereco: false}, function (html) {
                $("#escolasSelectContainer").html(html);
            })
            getCidadeSelect({}, function (html) {
                $("#cidadesSelectContainer").html(html);
            })

            getEventoSelect({}, function (html) {
                $("#eventoSelectContainer").html(html);
                console.log($('#dp_evento_id'))
            })
            
            processImport()
        })({data: ''});
    })
</script>