<div class="modal fade" id="cadastrarPessoaModal" tabindex="-1" role="dialog"
    aria-labelledby="cadastrarPessoaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cadastrarPessoaModalLabel">
                    {% if pessoa is None %}
                        Cadastrar Pessoa
                        <span id="modelId" hidden></span>
                    {% else %}
                        Editar Cadastro de: {{pessoa.nome}}
                        <span id="modelId" hidden>{{pessoa.id}}</span>
                    {% endif %}
                </h5>
                <button type="button" id="dismissCadastrarPessoa" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="w-100">
                    <form id="cadastrarPessoaForm" action="/" method="POST">
                        <div id="home" class="py-3">
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label><b>Nome Completo:</b></label>
                                    <input 
                                    type="text" 
                                    {% if pessoa %}
                                    value="{{pessoa.nome}}" 
                                    {% endif %}
                                    class="form-control" 
                                    id="nome" 
                                    name="nome" 
                                    placeholder=""
                                    required>
                                </div>
                                <div class="col-sm-3">
                                    <label><b>Email:</b></label>
                                    <input 
                                    type="email" 
                                    {% if pessoa %}
                                    value="{{pessoa.email}}" 
                                    {% endif %}
                                    class="form-control" 
                                    id="email"
                                    name="email"
                                    placeholder=""
                                    required>
                                </div>
                                <div class="col-sm-3">
                                    <label><b>Telefone:</b></label>
                                    <input 
                                    type="text" 
                                    {% if pessoa %}
                                    value="{{pessoa.telefone}}" 
                                    {% endif %}
                                    class="form-control" 
                                    id="telefone" 
                                    name="telefone"
                                    placeholder="" 
                                    required>
                                </div>
                                <div class="col-sm-3">
                                    <label><b>CPF:</b></label>
                                    <input 
                                    type="text" 
                                    {% if pessoa %}
                                    value="{{pessoa.cpf}}" 
                                    {% endif %}
                                    class="form-control" 
                                    id="cpf" 
                                    name="cpf" 
                                    placeholder=""
                                    required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label><b>Cargo:</b></label>
                                    <select required class="form-control" id="cargo" name="cargo">
                                        <option 
                                        {% if pessoa %}
                                            {% if pessoa.cargo == 'estoquista' %}
                                                selected
                                            {% endif %}
                                        {% endif %}
                                        value="estoquista">Estoquista</option>
                                        <option 
                                        {% if pessoa %}
                                            {% if pessoa.cargo == 'professor' %}
                                                selected
                                            {% endif %}
                                        {% endif %}
                                        value="professor">Professor</option>
                                        <option 
                                        {% if pessoa %}
                                            {% if pessoa.cargo == 'auxiliar' %}
                                                selected
                                            {% endif %}
                                        {% endif %}
                                        value="auxiliar">auxiliar</option>
                                        <option 
                                        {% if pessoa %}
                                            {% if pessoa.cargo == 'assistente' %}
                                                selected
                                            {% endif %}
                                        {% endif %}
                                        value="assistente">Assistente</option>
                                        <option 
                                        {% if pessoa %}
                                            {% if pessoa.cargo == 'coordenador' %}
                                                selected
                                            {% endif %}
                                        {% endif %}
                                        value="coordenador">Coordenador</option>
                                        <option 
                                        {% if pessoa %}
                                            {% if pessoa.cargo == 'gerente' %}
                                                selected
                                            {% endif %}
                                        {% endif %}
                                        value="gerente">Gerente</option>
                                        <option 
                                        {% if pessoa %}
                                            {% if pessoa.cargo == 'outro' %}
                                                selected
                                            {% endif %}
                                        {% endif %}
                                        value="outro">Outro</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label><b>Instituição:</b></label>
                                    <select required class="form-control" id="instituicao" name="instituicao">
                                        <option value="">Selecione uma Opção</option>
                                        {% for instituicao in instituicoes %}
                                        <option 
                                        {% if pessoa %}
                                            {% if pessoa.instituicao == instituicao.0 %}
                                                selected
                                            {% endif %}
                                        {% endif %}
                                        value="{{instituicao.0}}">{{instituicao.1}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-3" id="pessoaFormSelectEscola" 
                                {% if pessoa.instituicao == 'escola' %}
                                    style="display: block;"
                                {% else %}
                                    style="display: none;"
                                {% endif %}>
                                    {% include 'escolas/escolas_select.html' with escolas=escolas escola_id=pessoa.escola.id %}
                                </div>
                                <div class="col-sm-3">
                                    {% include 'users/users_select.html' with users=users selected=pessoa.user.id current_user=pessoa.user.username %}
                                </div>
                                <div id="selectCursosCadastrarPessoa" class="col-sm-3">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button 
                {% if pessoa %}
                    onclick="editarPessoa({{pessoa.id}})" 
                {% else %}
                    onclick="cadastrarPessoa()" 
                {% endif %}
                id="finishCadastroPessoa" 
                type="button"
                class="btn btn-primary">
                    </span>
                    <span>Cadastrar</span>
                </button>
            </div>
        </div>
    </div>
</div>

{{ cursos|json_script:"cursos" }}
<script>
    formId = "cadastrarPessoaForm"
    function updateSelectedCursos(cursos) {
        setTimeout(() => {  
            $("input[name='cursos']").each(function (i, elem) {
                for (let index = 0; index < cursos.length; index++) {
                    const selectedId = cursos[index]["id"];
                    if ($(elem).val() == selectedId) $(elem).trigger("click");
                }
            })
        }, 200);
    }

    function clearModalForm(changedResource = null) {
        document.getElementById('cadastrarPessoaForm').reset();
        $("div[id^='dropdownInputedItem']").each(function () {
            $(this).remove()
        })

        if (changedResource) pessoaModificadaEventProxy.modificado = changedResource
        if (changedResource) $("#dismissCadastrarPessoa").click()
    }

    function cadastrarPessoa() {
        $.ajax({
            url: "savePessoa",
            data: JSON.stringify({"data":getFormData()}),
            dataType: "json",
            headers: { "X-CSRFToken":'{{ csrf_token }}' },
            contentType: 'application/json',
            method: "POST",
            success: function (data) {
                clearModalForm(data)
            }
        });
    }

    function editarPessoa(id) {
        $.ajax({
            url: "editarPessoa/"+id,
            data: JSON.stringify({"data":getFormData()}),
            dataType: "json",
            headers: { "X-CSRFToken":  '{{ csrf_token }}' },
            contentType: 'application/json',
            method: "POST",
            type: "POST",
            success: function (data) {
                clearModalForm(data)
            }
        });
    }

    function buscarCursos(selectedCursos = null) {
        $.ajax({
            url: "cursosSelect",
            data: {},
            success: function (data) {
                $("#selectCursosCadastrarPessoa").html(data);
                if (selectedCursos) updateSelectedCursos(selectedCursos)
            }
        });
    }

    function getFormData() {
        if ($("#sexo_select").length) {
            if ($("#sexo_input").val()) {
                $("#sexo_select").remove()
            } else $("#sexo_input").remove()
        }

        let form = $('#cadastrarPessoaForm')
        var unindexed_array = form.serializeArray();
        var values = {};
            
        let cursosId = []
        cursosCheckbox.each(function (i, el) {
            if ($(this).is(":checked")) { cursosId.push($(this).val()) }
        })

        $.map(unindexed_array, function (n, i) {
            values[n['name']] = n['value'];
        });

        values['cursos'] = cursosId;
        return values
    }

    $(document).ready(function () {
        let cursos = JSON.parse(document.getElementById('cursos').textContent)
        tabsQuantity = 4
        item = 1
        $(".nav-tabs a").click(function () {
            $(this).tab('show');
        });
        
        $("#cadastrarPessoaModal").on('hide.bs.modal', function(){
            let pessoaId = $("#modelId").text()
            if (pessoaId) {
                clearModalForm()
            }
        });
        $("#sexo_select").on('change', function(evt){
            if ($(this).val() == "outro") {
                $("#sexo_select").remove()
                $("#sexo_input").toggle()
                $("#sexo_input").focus()
                $("#sexo_input").attr("placeholder", "Digite um valor para o sexo...")
            } 
        });

        pessoaFormSelectEscola = $("#pessoaFormSelectEscola")
        $("#instituicao").on('change', function(evt){
            let instituicaoValue = $(this).val()
            if (instituicaoValue == 'escola') pessoaFormSelectEscola.show()
            else pessoaFormSelectEscola.hide()
        });

        buscarCursos(cursos)
        maskValues()
    });
</script>