{% load static %}
<table id="tablePessoa" class="table table-borderless border-cst" width="100%" cellspacing="0">
    <thead class="border">
        <tr class="">
            <th class="select-row">
                <input id="pessoaTableCheckboxAll" type="checkbox">
            </th>
            <th class="w-10 text-left clickable-column" id="column-pessoa-nome" data-toggle="tooltip"
                data-placement="top" onclick="orderTableBy(this,'nome', 'filterPessoa_order_by', (state) => carregarPessoas(getFiltros(), state))" title="Ordenar por Nome">
                <div class="d-flex justify-content-start align-items-center">
                    <i class="fa-solid fa-arrow-down-a-z arrow-down"></i>
                    <i class="fa-solid fa-arrow-down-z-a arrow-up"></i>
                    <span class="column-label ml-1">Nome</span>
                </div>
            </th>
            <th class="w-10 text-left clickable-column" id="column-pessoa-email" data-toggle="tooltip"
                data-placement="top" onclick="orderTableBy(this,'email', 'filterPessoa_order_by', (state) => carregarPessoas(getFiltros(), state))" title="Ordenar por email">
                <div class="d-flex justify-content-start align-items-center">
                    <i class="fa-solid fa-arrow-down-a-z arrow-down"></i>
                    <i class="fa-solid fa-arrow-down-z-a arrow-up"></i>
                    <span class="column-label ml-1">Email</span>
                </div>
            </th>
            <th class="w-10 text-left clickable-column" id="column-pessoa-telefone" data-toggle="tooltip"
                data-placement="top" onclick="orderTableBy(this,'telefone', 'filterPessoa_order_by', (state) => carregarPessoas(getFiltros(), state))" title="Ordenar por telefone">
                <div class="d-flex justify-content-start align-items-center">
                    <i class="fa-solid fa-arrow-down-1-9 arrow-down"></i>
                    <i class="fa-solid fa-arrow-down-9-1 arrow-up"></i>
                    <span class="column-label ml-1">Telefone</span>
                </div>
            </th>
            <th class="w-10 text-left clickable-column" id="column-pessoa-cargo" data-toggle="tooltip"
                data-placement="top" onclick="orderTableBy(this, 'cargo', 'filterPessoa_order_by', (state) => carregarPessoas(getFiltros(), state))" title="Ordenar por Cargo">
                <div class="d-flex justify-content-start align-items-center">
                    <i class="fa-solid fa-arrow-down-a-z arrow-down"></i>
                    <i class="fa-solid fa-arrow-down-z-a arrow-up"></i>
                    <span class="column-label ml-1">Cargo</span>
                </div>
            </th>
            <th class="w-10 text-left clickable-column" id="column-pessoa-instituicao" data-toggle="tooltip"
                data-placement="top" onclick="orderTableBy(this, 'instituicao', 'filterPessoa_order_by', (state) => carregarPessoas(getFiltros(), state))" title="Ordenar por Instituição">
                <div class="d-flex justify-content-start align-items-center">
                    <i class="fa-solid fa-arrow-down-a-z arrow-down"></i>
                    <i class="fa-solid fa-arrow-down-z-a arrow-up"></i>
                    <span class="column-label ml-1">Instituição</span>
                </div>
            </th>
            <th class="w-2 text-left">Ação</th>
        </tr>
    </thead>
    <tbody>
        {% for pessoa in pessoas %}
        <tr id="rowPessoa-{{pessoa.id}}">
            <td class="select-row">
                <input id="pessoaTableCheckboxRow-{{pessoa.id}}" type="checkbox">
            </td>
            <td class="w-10 text-left">
                <span>{{pessoa.nome}}</span>
                <div>
                    {% for curso in pessoa.cursos %}
                    <span class="badge badge-pill badge-secondary">{{curso.nome}}</span>
                    {% endfor %}
                </div>
            </td>
            <td class="w-10 text-left">{{pessoa.email}}</td>
            <td class="w-10 text-left">{{pessoa.telefone}}</td>
            <td class="w-10 text-left">{{pessoa.cargo}}</td>
            <td class="w-10 text-left">{{pessoa.instituicao_formatada}}</td>
            <td class="w-2 text-left" style="position: relative;">
                <button id="buttonMenuPessoas{{pessoa.id}}" class="btn-circle">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
                <div style="display: none; position: absolute; z-index: 2; right: 10%"
                    id="hiddenMenuPessoas{{pessoa.id}}" class="btn-group-custom">
                    <!-- <a id="linkVisualizarPessoa{{pessoa.id}}" href="/visualizarPessoa/({{pessoa.id}})"></a> -->
                    <button onclick="visualizarPessoa('{{pessoa.id}}')">Visualizar</button>
                    <button onclick="carregarPessoasModalCadastrar('{{pessoa.id}}')">Editar</button>
                    <!-- <button onclick="deletePessoa('{{pessoa.id}}')">Excluir</button> -->
                    <button type="button" 
                    class="delete-btn" 
                    onclick="openDeleteModal(() => deletePessoa('{{pessoa.id}}'))">Excluir</button>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<input hidden type="number" value="0" id="pessoasTableActiveCheckBoxes">
<script>

    $(document).ready(function () {
        function isvisibleOnViewport(element) {
            var rect = element.getBoundingClientRect();
            var html = document.documentElement;
            return (
                (rect.top) >= 0 &&
                rect.left >= 0 &&
                (rect.bottom + 100) <= (window.innerHeight || html.clientHeight) &&
                rect.right <= (window.innerWidth || html.clientWidth)
            );
        }

        function hideControlAlocacaoButton(value) {
            if (value > 0) {
                $("#" + alocarPessoasBtnId).removeClass("d-none")
                $("#" + alocarPessoasBtnId).addClass("d-flex")
            } else {
                $("#" + alocarPessoasBtnId).addClass("d-none")
                $("#" + alocarPessoasBtnId).removeClass("d-flex")
            }
        }

        function bindButtons() {
            $("button[id^='buttonMenuPessoas']").each(function (i, el) {
                $(this).on("click", function () {
                    let id = $(this).attr('id').split("Pessoas")[1];
                    let menuId = "#hiddenMenuPessoas" + id
                    $("div[id^='hiddenMenuPessoas']").each(function (i, el) {

                        if (menuId != "#" + $(this).attr("id")) {
                            if ($(this).css('display') != 'none') {
                                $(this).toggle()
                            }
                        }
                    })
                    let hiddenMenu = $(menuId).parent()
                    let isVisible = isvisibleOnViewport(hiddenMenu[0])
                    if (!isVisible) {
                        $(menuId).css("bottom", "40px")
                    }
                    $(menuId).toggle()
                });
            });
        }

        $(document).mouseup(function (e) {
            $("div[id^='hiddenMenuPessoas']").each(function (i, el) {
                if (!$(this).is(e.target) && $(this).has(e.target).length === 0) {
                    if ($(this).css('display') != 'none') {
                        $(this).toggle()
                    }
                }
            })
        });

        $("input[id^='" + pessoaTableCheckboxRowId + "']").each(function () {
            $(this).change(function () {
                let rowIdNumber = $(this).attr("id").split("-")[1]
                let rowId = rowPessoaId + rowIdNumber
                let currentValue = parseInt($("#pessoasTableActiveCheckBoxes").val())
                if ($(this).is(":checked")) {
                    $("#" + rowId).addClass("selected-row")
                    currentValue += 1
                    $("#pessoasTableActiveCheckBoxes").val(currentValue)
                } else {
                    $("#" + rowId).removeClass("selected-row")
                    currentValue -= 1
                    $("#pessoasTableActiveCheckBoxes").val(currentValue)
                }

                hideControlAlocacaoButton(currentValue)
            })
        })

        $("#" + pessoaTableCheckboxAllId).change(function () {
            let checkedValue = $(this).is(":checked")
            let currentValue = 0
            $("input[id^='" + pessoaTableCheckboxRowId + "']").each(function (elem, value) {
                let rowCheckedValue = $(this).is(":checked")
                $(this).prop('checked', checkedValue);
                $(this).trigger("change");
                if (rowCheckedValue == checkedValue) {
                    if (checkedValue) currentValue--
                    else currentValue++
                }
            })

            let rowsActive = parseInt($("#pessoasTableActiveCheckBoxes").val()) + currentValue
            $("#pessoasTableActiveCheckBoxes").val(rowsActive)
            hideControlAlocacaoButton(rowsActive)
        })

        bindButtons()
    })
</script>