<style>
    .btn-delete {
        border-radius: 50%;
        width: 32px;
        height: 32px;
        padding: 6px;
        background-color: white;
    }

    .btn-delete i {
        font-size: 18px;
        color: #dc3545;
    }
    
    .btn-delete:hover i {
        font-size: 18px;
        color: white;
    }
</style>
<form id="cadastrarTicketForm{{form_id}}" action="/" method="POST">
    <input type="text" 
    hidden
    id="model"
    name="model"
    value="beneficiario">
    <input type="file" 
    hidden
    id="anexoFileInput"
    name="anexo"
    value="anexo">
    <div class="form-group row" id="ticketFormAnexos-{{ticket.id}}">
        {% for anexo in anexos %}
            {% include 'anexos/anexo-card.html' with anexo=anexo %}
        {% endfor %}
    </div>
    <div class="form-group row">
        <div class="col-sm-3">
            <label><b>Tipo da demanda:</b></label>
            <select required 
            id="tipo_solicitacao"
            class="form-control" 
            name="tipo">
                <option
                value="">
                    Selecione uma opção
                </option>
                <option
                {% if ticket and ticket.tipo == 'diaria' %}
                selected
                {% endif %}
                value="diaria">
                    DIÁRIA
                </option>
                <option
                {% if ticket and ticket.tipo == 'adiantamento' %}
                selected
                {% endif %}
                value="adiantamento">
                    ADIANTAMENTO
                </option>
                <option
                {% if ticket and ticket.tipo == 'adiantamento_insumo' %}
                selected
                {% endif %}
                value="adiantamento_insumo">
                    ADIANTAMENTO INSUMOS
                </option>
                <option
                {% if ticket and ticket.tipo == 'adiantamento_combustivel' %}
                selected
                {% endif %}
                value="adiantamento_combustivel">
                    ADIANTAMENTO COMBUSTÍVEL
                </option>
                <option
                {% if ticket and ticket.tipo == 'veiculo' %}
                selected
                {% endif %}
                value="veiculo">
                    VEÍCULO
                </option>
                <option
                {% if ticket and ticket.tipo == 'passagem' %}
                selected
                {% endif %}
                value="passagem">
                    PASSAGEM
                </option>
                <option
                {% if ticket and ticket.tipo == 'rpa' %}
                selected
                {% endif %}
                value="rpa">
                    RPA
                </option>
                <option
                {% if ticket and ticket.tipo == 'produto' %}
                selected
                {% endif %}
                value="servico">
                    COMPRA DE PRODUTO(S)
                </option>
                <option
                {% if ticket and ticket.tipo == 'servico' %}
                selected
                {% endif %}
                value="servico">
                    CONTRATAÇÂO DE SERVIÇO(S)
                </option>
                <option
                {% if ticket and ticket.tipo == 'outro' %}
                selecte
                {% endif %}
                value="outro">
                    OUTRO
                </option>
                <option
                {% if ticket and ticket.tipo == 'nao_se_aplica' %}
                selected
                {% endif %}
                value="nao_se_aplica">
                    NÃO HAVERÁ SOLICITAÇÂO
                </option>
            </select>
        </div>
        <div class="col-sm-4">
            <div class="d-flex justify-content-between align-items-center">
                <label><b>Data Início:</b></label>
                <div class="form-group d-flex justify-content-start align-items-start" 
                style=" padding: 0; margin: 0">
                    <input name="nao_se_aplica_data_inicio"  
                    id="nao_se_aplica_data_inicio" 
                    style="cursor: pointer; margin-right: 0.5rem;" 
                    type="checkbox"
                    {% if ticket.nao_se_aplica_data_inicio == True %}
                    checked
                    {% endif %}
                    onclick="disableField(this,'data_inicio')">
                    <label for="nao_se_aplica_data_inicio" 
                    style="line-height: 1rem;white-space: nowrap;">
                        <b>Não se aplica</b>
                    </label>
                </div>
            </div>
            <input 
            type="date" 
            name="data_inicio" 
            id="data_inicio"
            class="form-control" 
            {% if ticket and ticket.nao_se_aplica_data_inicio == False or ticket.nao_se_aplica_data_fim == None %}
            value="{{ticket.data_inicio|date:'Y-m-d'}}"
            {% else %}
            value=""
            disabled
            {% endif %}>
        </div>
        <div class="col-sm-4">
            <div class="d-flex justify-content-between align-items-center">
                <label>
                    <b>Data Fim:</b>
                </label>
                <div class="form-group d-flex justify-content-start align-items-start" 
                style=" padding: 0; margin: 0">
                    <input name="nao_se_aplica_data_fim"  
                    id="nao_se_aplica_data_fim" 
                    style="cursor: pointer; margin-right: 0.5rem;" 
                    type="checkbox"
                    {% if ticket.nao_se_aplica_data_fim == True %}
                    checked
                    {% endif %}
                    onclick="disableField(this,'data_fim')">
                    <label for="nao_se_aplica_data_fim" 
                    style="line-height: 1rem;white-space: nowrap;">
                        <b>Não se aplica</b>
                    </label>
                </div>
            </div>

            <input 
            type="date" 
            name="data_fim" 
            id="data_fim"
            class="form-control" 
            {% if ticket and ticket.nao_se_aplica_data_fim == False or ticket.nao_se_aplica_data_fim == None %}
            value="{{ticket.data_fim|date:'Y-m-d'}}"
            {% else %}
            value=""
            disabled
            {% endif %}>
        </div>
        <div class="col-sm-1">
            <button id="add-anexo-button-{{ticket.id}}"
            type="button"
            {% if not ticket %}
            hidden
            {% endif %}
            data-toggle="tooltip" 
            data-placement="top" 
            title="Adicionar anexo"
            class="btn btn-light btn-sm">
                <i class="fa-solid fa-paperclip"></i>
            </button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3">
            <label><b>Id da demanda:</b></label>
            <input 
            type="text" 
            {% if ticket %}
            value="{{ ticket.id_protocolo|default_if_none:''}}" 
            {% endif %}
            class="form-control" 
            name="id_protocolo">
        </div>
        <div class="col-sm-3">
            <label><b>Status:</b></label>
            <select required 
            id="status"
            class="form-control" 
            name="status">
                <option
                value="">
                    Selecione uma opção
                </option>
            <!-- CRIACAO_PENDENTE -->
                <option 
                {% if ticket and ticket.status_calculado == 'CRIACAO_PENDENTE' %}
                selected
                {% endif %}
                value="CRIACAO_PENDENTE">
                    CRIAÇÂO PENDENTE
                </option>
                <!-- CRIADO -->
                <option 
                {% if ticket and ticket.status_calculado == 'CRIADO' %}
                selected
                {% endif %}
                value="CRIADO">
                    CRIADO
                </option>

                <!-- ATRASADO_PARA_CRIACAO -->
                <option 
                {% if ticket and ticket.status_calculado == 'ATRASADO_PARA_CRIACAO' %}
                selected
                {% endif %}
                value="ATRASADO_PARA_CRIACAO">
                    ATRASADO PARA CRIACAO
                </option>
            <!-- PENDING_PRESTACAO_CONTAS -->
                <option 
                {% if ticket and ticket.status_calculado == 'PENDING_PRESTACAO_CONTAS' %}
                selected
                {% endif %}
                value="PENDING_PRESTACAO_CONTAS">
                    PRESTAÇÂO DE CONTAS PENDENTE
                </option>
            <!-- PRESTACAO_CONTAS_CREATED -->
                <option 
                {% if ticket and ticket.status_calculado == 'PRESTACAO_CONTAS_CREATED' %}
                selected
                {% endif %}
                value="PRESTACAO_CONTAS_CREATED">
                    CONTAS PRESTADAS
                </option>
                <option 
                {% if ticket and ticket.status_calculado == 'CANCELADO' %}
                selected
                {% endif %}
                value="CANCELADO">
                    CANCELADO
                </option>
            </select>
        </div>
        <div class="col-sm-3">
            <label><b>Valor Orçado:</b></label>
            <input 
            type="number"
            step="0.01" 
            {% if ticket %}
            value="{{ ticket.valor_orcado|default_if_none:''}}" 
            {% endif %}
            class="form-control" 
            name="valor_orcado">
        </div>
        <div class="col-sm-3">
            <label><b>Valor Executado:</b></label>
            <input 
            type="number"
            step="0.01" 
            {% if ticket %}
            value="{{ ticket.valor_executado|default_if_none:''}}" 
            {% endif %}
            class="form-control" 
            name="valor_executado">
        </div>
    </div>
    <div class="form-group row">
        <input hidden type="text" id="selectedBeneficiarioTicketForm" value="{{ticket.beneficiario.id}}">
        <div id="beneficiarioSelectContainer" class="col-sm-6">
        </div>
        <div id="escolasSelectContainer" class="col-sm-6">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <label><b>Descrição:</b></label>
            <textarea 
            rows="4"
            placeholder="Descreva a função da pessoa na equipe de execução do evento, motivo pelo qual ela é necessario solicitar essa demanda, etc."
            name="observacao" 
            class="form-control">{% if ticket %}{{ticket.observacao|default_if_none:""}}{% endif %}</textarea>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            <label><b>CEP:</b></label>
            <input 
            type="text" 
            id="cep"
            name="cep" 
            class="form-control" 
            {% if ticket %}
            value="{{ticket.cep|default_if_none:''}}"
            {% endif %}>
        </div>
        <div id="cidadesSelectContainer" class="col-sm-3">
        </div>
        <div class="col-sm-3">
            <label><b>Bairro:</b></label>
            <input 
            type="text" 
            name="bairro" 
            class="form-control" 
            id="bairro"
            {% if ticket %}
            value="{{ticket.bairro|default_if_none:''}}"
            {% endif %}>
        </div>
        <div class="col-sm-4">
            <label><b>Logradouro:</b></label>
            <input 
            type="text" 
            name="logradouro" 
            class="form-control" 
            id="logradouro"
            {% if ticket %}
            value="{{ticket.logradouro|default_if_none:''}}"
            {% endif %}>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <label><b>Complemento:</b></label>
            <input 
            type="text" 
            id="complemento"
            name="complemento" 
            class="form-control" 
            {% if ticket %}
            value="{{ticket.complemento|default_if_none:''}}"
            {% endif %}>
        </div>
    </div>

    {% if ticket %}
    <input type="text" name="membro_execucao_id" id="membro_execucao_id" hidden value="{{ticket.membro_execucao.id}}">
    {% elif membro_execucao_id %}
    <input type="text" name="membro_execucao_id" id="membro_execucao_id" hidden value="{{membro_execucao_id}}">
    {% endif %}
    
    {% if ticket.alocacao %}
    <input type="text" name="alocacao_id" id="alocacao_id" hidden value="{{ticket.alocacao.id}}">
    {% elif alocacao_id %}
    <input type="text" name="alocacao_id" id="alocacao_id" hidden value="{{alocacao_id}}">
    {% endif %}

    <input type="text" name="atividade_id" id="atividade_id" hidden value="{{ticket.atividade.id}}">

    
    {% if ticket %}
    <input type="text" name="selected_beneficioario_id" id="selected_beneficioario_id" hidden value="{{ticket.beneficiario.id}}">
    {% elif beneficiario_id %}
    <input type="text" name="selected_beneficioario_id" id="selected_beneficioario_id" hidden value="{{beneficiario_id}}">
    {% endif %}

    <input type="text" name="selected_escola_id" id="selected_escola_id" hidden value="{{ticket.escola.id}}">
    <input type="text" name="selected_cidade_id" id="selected_cidade_id" hidden value="{{ticket.cidade.id}}">
    <input type="text" name="ticket_id" id="ticket_id" hidden value="{{ticket.id}}">
</form>
{{ escolas|json_script:"escolas-script" }}
<script>
    var escolas = JSON.parse(document.getElementById("escolas-script").textContent);
    
    function bindEnderecoFields(escolaId) {
        let escola = escolas.find(escola => escola.id == escolaId)
        $('#cadastrarTicketForm{{form_id}} #bairro').val(escola.bairro);
        $('#cadastrarTicketForm{{form_id}} #logradouro').val(escola.logradouro);
        $('#cadastrarTicketForm{{form_id}} #cep').val(escola.cep);
        $('#cadastrarTicketForm{{form_id}} #complemento').val(escola.complemento);
        $('#cadastrarTicketForm{{form_id}} #cidade_id').val(escola.cidade.id);
    } 

    function carregarSelectCidades() {
        let selected = $("#cadastrarTicketForm{{form_id}} #selected_cidade_id").val()
        getCidadeSelect({
            selected: selected,
        }, function (html) {
            $("#cadastrarTicketForm{{form_id}} #cidadesSelectContainer").html(html)
        })
    }

    function carregarSelectBeneficiario () {
       let selected = $("#cadastrarTicketForm{{form_id}} #selected_beneficioario_id").val()
       getPessoaSelect({
            selected: selected,
            input_id: "beneficiario_id",
            input_name: "beneficiario_id",
       }, function (html) {
            $("#cadastrarTicketForm{{form_id}} #beneficiarioSelectContainer").html(html)
       })
    }
    
    function carregarSelectEscolas() {
        let selected = $("#cadastrarTicketForm{{form_id}} #selected_escola_id").val()
        getEscolaSelect({
            selected: selected,
        }, function (data) {
            $("#cadastrarTicketForm{{form_id}} #escolasSelectContainer").html(data)
        });
    }
    
    function carregarEscola(id) {
        $.ajax({
            url: "/escolasSelect",
            method: "GET",
            success: function (data) {
                let selected = $("#cadastrarTicketForm{{form_id}} #selected_escola_id").val()
                $("#cadastrarTicketForm{{form_id}} #escolasSelectContainer").html(data)
                $("#cadastrarTicketForm{{form_id}} #escola_id").val(selected)

            } 
        });
    }

    function disableField(event, field) {
        console.log("disableField {{form_id}}", event.checked)
        if (event.checked) {
            $("#cadastrarTicketForm{{form_id}} #"+field).attr("disabled", true)
            $("#cadastrarTicketForm{{form_id}} #"+field).val("")
        } else {
            $("#cadastrarTicketForm{{form_id}} #"+field).attr("disabled", false)
        }
    }

    function removeAnexoCard(anexoId) {
        deleteAnexo(anexoId, function () {
            $('#anexo-card-'+anexoId).remove();
        })
    }

    $(document).ready(function() {   
        (function (params) {
            console.log("dentro do formulario: ", params)
            let buttonId = `#add-anexo-button-${params.id}`
            $(buttonId).click(function() {
                $('#anexoFileInput').click();
            });
    
            $('#anexoFileInput').change(function() {
                var file = this.files[0];
                var reader = new FileReader();
                
                reader.onloadend = function() {
                    var ticketId = params.id
                    var dataURL = reader.result;
                    
                    var data = {
                        'id_model': ticketId, 
                        'model': 'Ticket',
                        'dataUrl': dataURL,
                        "nome": file.name,
                    };
    
                    createAnexo(data, function(html) {
                        $("#ticketFormAnexos-"+params.id).append(html);
                    });
                }
    
                reader.readAsDataURL(file);
            });
    
            carregarSelectCidades();
            carregarSelectBeneficiario();
            carregarSelectEscolas();
        })({"id": '{{ticket.id}}'})
    });
</script>
