<div class="modal fade" id="cadastrarTicketModal" tabindex="-1" role="dialog"
    aria-labelledby="cadastrarTicketModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div 
                class="d-flex justify-content-between align-items-center" 
                style="width: 100%;">
                    <div class="modal-title" id="cadastrarTicketModalLabel">
                        {% if ticket.membro_execucao %}
                            Editar Demanda para: {{ticket.membro_execucao.pessoa.nome}}
                        {% elif ticket.alocacao %}
                            Editar Demanda para: {{ticket.alocacao.professor.nome}}
                        {% else %}
                            {% if model == 'alocacao' %}
                            Cadastrar Demanda para: {{entity.professor.nome}}
                            {% elif model == 'membro_execucao' %}
                            Cadastrar Demanda para: {{entity.pessoa.nome}}
                            {% endif %}
                        {% endif %}
                    </div>
                    <button type="button" 
                    id="dismissCadastrarTicket" 
                    class="close" 
                    data-dismiss="modal" 
                    aria-label="Close">
                        <span>&times;</span>
                    </button>
                </div>
            </div>
            {% if ticket and False %}
                <div class="d-flex justify-content-between">
                    <span> <strong>Nome:</strong> </span> <span>{{membro_execucao.pessoa.nome}}</span>
                </div> 
                <div class="d-flex justify-content-between">
                    <span> <strong>Tipo:</strong> </span> <span>{{ticket.tipo|default_if_none:"Não definido"}}</span>
                </div> 
                <div class="d-flex justify-content-between">
                    <span> <strong>Inicio:</strong> </span> <span>{{ticket.data_inicio|date:"d/m/Y"}}</span>
                </div> 
                <div class="d-flex justify-content-between">
                    <span><strong>Fim:</strong> </span> <span>{{ticket.data_fim|date:"d/m/Y"}}</span>
                </div> 
                <div class="d-flex justify-content-between">
                    <span><strong>Escola:</strong> </span> <span>{{evento.escola.nome|default_if_none:"Não definido"}}</span>
                </div> 
                <div class="d-flex justify-content-between">
                    <span><strong>Endereco:</strong> </span> <span style="text-align: right;">{{endereco_completo}}</span>
                </div> 
                <span id="ticketModelId" hidden></span>
            {% endif %}
            <div class="modal-body">
                <div class="w-100">
                    <div>
                        <div class="tab-content">
                            <div id="home" class="tab-pane py-3 active">
                                {% include "tickets/ticket_form.html" with ticket=ticket %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="formTicketPrev" style="display: none;" type="button" class="btn btn-secondary prev">
                    <span id="prevTicketLink" class=""></span>
                    <span>Anterior</span>
                </button>
                <button id="formTicketNext" type="button" class="btn btn-primary">
                    <span id="nextTicketLink" class="TicketMenuLink2">
                    </span>
                    <span>Próximo</span>
                </button>
                <button
                {% if ticket %}
                    onclick="editarTicket({{ticket.id}})" 
                {% else %}
                    onclick="cadastrarTicket()" 
                {% endif %}
                id="finishCadastroTicket" 
                type="button"
                class="btn btn-primary">
                {% if ticket %}
                    <span>Salvar Alterações</span>
                {% else %}
                    <span>Cadastrar</span>
                {% endif %}
                </button>
            </div>
        </div>
    </div>
</div>


<script>
    var formId = "cadastrarTicketForm"
    var ticketModelId = "ticketModelId"
    var tabsId = "ticketsTab"
    var cadastrarTicketModalId = "cadastrarTicketModal"
    var dismissCadastrarTicketId = "dismissCadastrarTicket"

    function clearModalForm(changedResource = null) {
        document.getElementById(formId).reset();
        if (changedResource) ticketModificadaEventProxy.modificado = changedResource
        let dismissBtn = $("#"+dismissCadastrarTicketId)
        console.log(dismissBtn)
        dismissBtn.click()
        console.log("modal fechada")
        $('.modal-backdrop').remove()
        $(document.body).removeClass("modal-open");
    }

    function cadastrarTicket() {
        $.ajax({
            url: "/saveTicket",
            data: JSON.stringify({"data":getFormData()}),
            headers: { "X-CSRFToken":  '{{ csrf_token }}' },
            dataType: "json",
            contentType: 'application/json',
            method: "POST",
            success: function (data) {
                showFloatingMessage("Demanda criada com sucesso!", "alert-success")
                clearModalFormTicket()
            }
        });
    }
    
    function editarTicket(id) {
        $.ajax({
            url: "/editarTicket/"+id,
            data: JSON.stringify({"data":getFormData()}),
            headers: { "X-CSRFToken":  '{{ csrf_token }}' },
            dataType: "json",
            contentType: 'application/json',
            method: "POST",
            success: function (data) {
                showFloatingMessage("Demanda atualizada com sucesso!", "alert-success")
                clearModalFormTicket(data)
            }
        });
    }

    function getFormData() {
        let form = $('#'+formId)
        var unindexed_array = form.serializeArray();
        var values = {};

        $.map(unindexed_array, function (n, i) {
            values[n['name']] = n['value'];
        });
        
        return values
    }

    function getActiveTab() {
        let activeTab = $("*[id^='"+tabsId+"']").filter(function (i, el) {
            return $(el).hasClass("active") || $(el).hasClass("active-form-tab")
        })

        id = $(activeTab[0]).attr("id")

        if (id == undefined) return 0

        id = id.charAt(id.length - 1)
        return id
    }

    function functionGetTabsQuantity() {
        return $("*[id^='"+tabsId+"']").length
    }

    function showHideTabs(instructions) {
        instructions.show.forEach(function (elementId) {
                $("#" + elementId).show()
        })
        instructions.hide.forEach(function (elementId) {
            $("#" + elementId).hide()
        })
    }

    function processTabBtnClick(direction) {
        let activeTab = getActiveTab()
        let nextTab = parseInt(activeTab) + direction
        $("#ticketTabLink"+nextTab).trigger("click")
        $("#ticketsTab"+nextTab).addClass("active-form-tab")
        $("#ticketsTab"+activeTab).removeClass("active-form-tab")
        setTabsbehavior()
    }

    function setTabsbehavior() {
        tabsControl = {
            first: {
                show: ["formTicketNext"],
                hide: ["formTicketPrev", "finishCadastroTicket"]
            },
            last: {
                show: ["formTicketPrev", "finishCadastroTicket"],
                hide: ["formTicketNext"]
            },
            middle: {
                show: ["formTicketPrev", "formTicketNext"],
                hide: ["finishCadastroTicket"]
            },
            only: {
                show: ["finishCadastroTicket"],
                hide: ["formTicketPrev", "formTicketNext"]
            }
        }

        activTabFn = getActiveTab()
        tabsQuantity = functionGetTabsQuantity()
        if (activTabFn == 1) {
            showHideTabs(tabsControl.first)
        } else if (activTabFn == 0) {
            showHideTabs(tabsControl.only)
        } else if (activTabFn == tabsQuantity) {
            showHideTabs(tabsControl.last)
        } else {
            showHideTabs(tabsControl.middle)
        }
    }

    $(document).ready(function () {
        $("#cadastrarTicketModal").on('hide.bs.modal', function(){
            let pessoaId = $("#"+ticketModelId).text()
            if (pessoaId) {
                clearModalForm()
            }
        });

        setTabsbehavior()
        $("#formTicketNext").click(function () {
            processTabBtnClick(1)
        })
        $("#formTicketPrev").click(function () {
            processTabBtnClick(-1)
        })

        maskValues()
    });
</script>