{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Extensão - CETT</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' />
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/gestao-cursos.css' %}" rel="stylesheet">
    <link href="{% static 'css/pessoa_table.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/general.css' %}" rel="stylesheet">
    <link href="{% static 'css/visualizar_evento.css' %}" rel="stylesheet">
    <link href="{% static 'css/atividadeSection.css' %}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <!-- FONT AWESOME -->
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- LEAFLET MAP -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
   

    <!-- CUSTOM STYLE -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom_photo_gallery.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/spinner-container.css' %}">

    <style>
        #accordionSidebar::-webkit-scrollbar {
            width: 0.2em;
            background-color: #F5F5F5;
        }

        #accordionSidebar::-webkit-scrollbar-thumb {
            background-color: #157a74;
        }

        #accordionSidebar::-webkit-scrollbar-track {
            background-color: #F5F5F5;
        }
    </style>
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="success-delete" 
    class="alert alert-success position-fixed"
    style="top: 0; right: 0; z-index: 9999; display: none;">
        <strong id="message-box">Deletado com sucesso!</strong>
    </div>
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-dark accordion" style="background-color: #0c504b; 
            position: sticky; 
            top: 0; 
            height: 100vh; 
            overflow-y: scroll; 
            overflow-x: hidden;" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center"
                style="position: sticky; top: 0; background-color: #0c504b;" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">EXTENSÃO<sup> :)</sup></div>
            </a>

            <hr class="sidebar-divider my-0">

            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/gerenciar-pessoas">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Pessoas</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gerenciar-ensinos">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Ensino</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gerenciar-cursos">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Cursos</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gerenciar-cidades">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Cidades</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gerenciar-escolas">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Escolas</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gerencia_turnos">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Turnos</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gerenciar-departamentos">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Departamentos</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gerenciarTipoAtividade">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Tipos de Atividades</span></a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="/gerencia_acoes">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Ações</span></a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="/gerencia_dp_eventos">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Eventos</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gerencia_demandas">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Demandas</span></a>
            </li>
            {% endif %}

            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/auth-user/logout-user">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Logout</span></a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/auth-user/login-user">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Login</span></a>
            </li>
            {% endif %}

        </ul>
        <!-- End of Sidebar -->
        <div class="d-flex flex-column w-100">
            <!-- Topbar -->
            <nav style="position: sticky; top: 0; z-index: 4;height: 75px;" class=" navbar w-100
            navbar-expand navbar-light
            bg-white topbar
            static-top shadow">
                <div class="w-100 d-flex justify-content-between align-items-center">
                    <div class="align-items-start d-flex">
                        {% if path_back %}
                        <a class="link-back" href="/{{path_back}}">
                            <i class="fa-solid fa-arrow-left"></i>
                        </a>
                        {% endif %}
                        
                        {% if page_title %}
                        <div class="h4 ml-2 d-flex">
                            {% if count %}
                            <span data-toggle="tooltip" 
                            data-placement="top" 
                            title="Total de eventos cadastrados" 
                            class="badge badge-success mr-1">({{count}}) </span> 
                            {% endif %}
                            <span>{{ page_title }}</span> 
                         </div>
                        {% endif %}

                        {% if dpEvento %}
                        {% include 'dpEventos/dp_evento_title.html' %}
                        {% endif %}
                    </div>
                    {% if user.is_authenticated %}
                    <span>Bem vindo {{ user.get_username }}</span>
                    {% endif %}
                </div>
            </nav>
            <!-- End of Topbar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                
                <!-- Main Content -->
                <div id="content">

                    <!-- Begin Page Content -->
                    <div class="w-100" style="min-height: 100vh; position: relative">
                        {% block content %}
                        

                        {% endblock content %}
                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

            </div>
            <!-- End of Content Wrapper -->
        </div>

    </div>
    <div id="modalTicketContainer"></div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded " style="margin-right: 40px;" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div id="confirmDeleteModalContainer"></div>
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static  'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Custom static js -->
    <script src="{% static 'js/gestao-pessoas.js' %}"></script>
    <script src="{% static 'js/table.js' %}"></script>
    <script src="{% static 'js/custom-tabs.js' %}"></script>
    <script src="{% static 'js/modal-tabs.js' %}"></script>
    <script src="{% static 'js/custom_photo_gallery.js' %}"></script>

    <!-- services -->
    <script src="{% static 'js/services/atividadeSection.js' %}"></script>
    <script src="{% static 'js/services/atividade.js' %}"></script>
    <script src="{% static 'js/services/membroExecucao.js' %}"></script>
    <script src="{% static 'js/services/departamento.js' %}"></script>
    <script src="{% static 'js/services/anexo.js' %}"></script>
    <script src="{% static 'js/services/tipoAtividade.js' %}"></script>
    <script src="{% static 'js/services/cidade.js' %}"></script>
    <script src="{% static 'js/services/servico.js' %}"></script>
    <script src="{% static 'js/services/demanda.js' %}"></script>
    <script src="{% static 'js/services/escola.js' %}"></script>
    <script src="{% static 'js/services/pessoa.js' %}"></script>
    <script src="{% static 'js/services/ensino.js' %}"></script>
    <script src="{% static 'js/services/evento.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>

    <script src="{% static 'js/jquery.mask.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <!-- leaflet -->
    <!-- <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script> -->
    <!-- jquery ui -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"
        integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="{% static 'js/ticket.js' %}"></script>

    <script type="text/javascript">
        let XCSRFToken = "{{ csrf_token }}";
        function toggleLoading(loadingBehaviour = null) {
            $(".loading-container").each(function() {
                if (loadingBehaviour == "show") {
                    $(this).show();
                } else if (loadingBehaviour == "hide") {
                    $(this).hide();
                } else {
                    $(this).toggle();
                }
                
            });

            $(".disabled-on-loading").each(function() {
                if (loadingBehaviour == "show") {
                    $(this).prop("disabled", true);
                } else if (loadingBehaviour == "hide") {
                    $(this).prop("disabled", false);
                } else {
                    $(this).prop("disabled", !$(this).prop("disabled"));
                }
            });
        }

        function showFloatingMessage(message, style) {
            $("#success-delete").removeClass("alert-success");
            $("#success-delete").removeClass("alert-danger");
            $("#success-delete").addClass(style);
            $("#success-delete #message-box").html(message);

            $("#success-delete").show();   
            setTimeout(function() {
                $("#success-delete").hide();
            }, 2000);     
        }

        function maskValues() {
            $('#telefone').mask("(00)0 0000-0000");
            $('#telefone_recado').mask("(00)0 0000-0000");
            $('#cpf').mask("000.000.000-00");
            $('#cep').mask("00.000-000");
        }

        function debounce(func, timeout = 300){
            let timer;
            return (...args) => {
                clearTimeout(timer);
                timer = setTimeout(() => { func.apply(this, args); }, timeout);
            };
        }

        function carregarDeleteModal() {
            $.ajax({
                url: "/confirmDeleteModal",
                type: "GET",
                success: function (data) {
                    $("#confirmDeleteModalContainer").html(data)
                }
            })
        }

        function getDropdownSelectedValues(dropDownId) {
            let dropdown = $("#"+dropDownId+" .select-dropdown-content");
            let items = dropdown.children();
            let selectedValues = [];
            items.each(function () {
                let input = $(this).find("input");
                if (input.is(":checked")) {
                    let value = $(this).children("span")[1].textContent;
                    selectedValues.push(value);
                }
            })
            return selectedValues;
        }

        function watchDropdownChanges(dropDownId, callback) {
            let dropdown = $("#"+dropDownId+" .select-dropdown-content");
            let items = dropdown.children();
            items.each(function () {
                let input = $(this).find("input");
                input.on("change", function () {
                    callback();
                })
            })
        }

        function setTabelaState(state, column = "column-pessoa", defaultOrder = "nome") {
            if (state) {
                let orderClass = state.direction == 1 ? "order-by-up" : "order-by-down"
                $("#" + state.column).addClass(orderClass)
                $("#" + state.column).find("i").each(function () {
                    $(this).addClass("current-order-by")
                })
                $("#" + state.column).find("span").each(function () {
                    $(this).addClass("current-order-by")
                })
                $("*[id^='" + column + "-']").each(function (i, th) {
                    if ($(this).attr("id") != state.column) {
                        $(this).addClass("order-by-up")
                    }
                })
            } else {
                $("*[id^='" + column + "-']").each(function (i, th) {
                    if ($(this).attr("id") == "" + column + "-" + defaultOrder) {
                        $(this).addClass("order-by-up")
                        $(this).find("i").each(function () {
                            $(this).addClass("current-order-by")
                        })
                        $(this).find("span").each(function () {
                            $(this).addClass("current-order-by")
                        })
                    } else {
                        $(this).addClass("order-by-up")
                    }
                })
            }
        }

        function orderTableBy(event, column, orderByInput = "filterPessoa_order_by", loadDataFn) {
            let orderBy = $("#" + orderByInput).val()
            let state = {}
            state.column = $(event).attr("id")
            if (orderBy == column) {
                $("#" + orderByInput).val("-" + column)
                state.direction = 1
            } else {
                $("#" + orderByInput).val(column)
                state.direction = -1
            }
            loadDataFn(state)
        }

        $(document).ready(function () {
            carregarDeleteModal();
        });
    </script>
</body>

</html>