{% extends "base.html" %}

{% block content %}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-success">Cadastro de Pessoa</h6>
    </div>
    <div class="card-body">
        <form action="/registrar" method="POST">{% csrf_token %}
            <div class="form-group row">
                <div class="col-sm-4">

                    <label><b>Nome Completo:</b></label>
                    <input style="background-color: rgb(12, 80, 75); color:#fff;" type="text" class="form-control" id="nome" name="nome" placeholder="" required>
                </div>
                <div class="col-sm-4">
                    <label><b>Email:</b></label>
                    <input style="background-color: rgb(12, 80, 75); color:#fff;" type="email" class="form-control" id="email" name="email" placeholder=""required>
                </div>
                <div class="col-sm-4">
                    <label><b>Data de Nascimento:</b></label>
                    <input style="background-color: rgb(12, 80, 75); color:#fff;" type="date" class="form-control" id="data_nascimento" name="data_nascimento" placeholder=""required>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-4">
                    <label><b>Telefone:</b></label>
                    <input style="background-color: rgb(12, 80, 75); color:#fff;" type="text" class="form-control" id="telefone" name="telefone" placeholder=""required>
                </div>
                <div class="col-sm-4">
                    <label><b>CPF:</b></label>
                    <input style="background-color: rgb(12, 80, 75); color:#fff;" type="text" class="form-control" id="cpf" name="cpf" placeholder=""required>
                </div>
                <div class="col-sm-4">
                    <label><b>RG:</b></label>
                    <input style="background-color: rgb(12, 80, 75); color:#fff;" type="text" class="form-control" id="rg" name="rg" placeholder=""required>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-4">
                    <label><b>Orgão Emissor:</b></label>
                    <input style="background-color: rgb(12, 80, 75); color:#fff;" type="text" class="form-control" id="orgao_emissor" name="orgao_emissor" placeholder=""required>
                </div>
                <div class="col-sm-4">
                    <label><b>Endereço:</b></label>
                    <input style="background-color: rgb(12, 80, 75); color:#fff;" type="text" class="form-control" id="endereco" name="endereco" placeholder=""required>
                </div>
                <div class="col-sm-4">
                    <label><b>CEP:</b></label>
                    <input style="background-color: rgb(12, 80, 75); color:#fff;" type="text" class="form-control" id="cep" name="cep" placeholder=""required>
                </div>
              
            </div>
            <div class="form-group row">
            <div class="col-sm-3">
                <label><b>CARGO:</b></label>
                <input style="background-color: rgb(12, 80, 75); color:#fff;" type="text" class="form-control" id="cargo" name="cargo" placeholder=""required>
            </div>
            <div class="col-sm-3">
                <label><b>TIPO:</b></label>
                <select required style="background-color: rgb(12, 80, 75); color:#fff;" class="form-control" id="tipo" name="tipo">
                    <option>RPA</option>
                    <option>CLT</option> 

                  </select>
            </div>
            <div class="col-sm-3">
                <label><b>Qtd de Contratações:</b></label>
                <input min="0" max="3" style="background-color: rgb(12, 80, 75); color:#fff;" type="number" class="form-control" value="0" id="qtd_contratacoes" name="qtd_contratacoes" placeholder=""required>
            </div>

            <div class="col-sm-3">
                <label><b>Usuário do Camunda:</b></label>
                <input style="background-color: rgb(12, 80, 75); color:#fff;" type="text" class="form-control" id="user_camunda" name="user_camunda" placeholder=""required>
            </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-success">Informações Financeiras</h6>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label><b>Banco:</b></label>
                            <input style="background-color: rgb(12, 80, 75); color:#fff;" type="text" class="form-control" id="banco" name="banco" placeholder=""required>
                        </div>
                        <div class="col-sm-3">
                            <label><b>Agência:</b></label>
                            <input style="background-color: rgb(12, 80, 75); color:#fff;" type="text" class="form-control" id="agencia" name="agencia" placeholder=""required>
                        </div>
                        <div class="col-sm-3">
                            <label><b>Conta:</b></label>
                            <input style="background-color: rgb(12, 80, 75); color:#fff;" type="text" class="form-control" id="conta" name="conta" placeholder=""required>
                        </div>
                        <div class="col-sm-3">
                            <label><b>Pix:</b></label>
                            <input style="background-color: rgb(12, 80, 75); color:#fff;" type="text" class="form-control" id="pix" name="pix" placeholder=""required>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success btn-user btn-block">EFETUAR CADASTRO</button>
 
        </form>

    
    </div>
</div>

{% endblock content %}