{% extends "base.html" %}

{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-success">Gerenciador de Pessoa</h6>
    </div>
    <div class="card-body">

        <div class="card shadow mb-4">
          
            <div class="card-body">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-dismissible alert-success" role="alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong class="text-dark">{{message}}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>Telefone</th>
                                <th>Cargo</th>
                                <th>Tipo</th>
                                <th>Contratações</th>
                                <th>Ação</th>
                               
                            </tr>
                        </thead>
                        
                        <tbody>
                           
                            
                            
                            {% for pessoa in pessoas %}
                            
                            <tr>
                                <td>{{pessoa.nome}}</td>
                                <td>{{pessoa.email}}</td>
                                <td>{{pessoa.telefone}}</td>
                                <td>{{pessoa.cargo}}</td>
                                <td>{{pessoa.tipo}}</td>
                                <td>{{pessoa.qtd_contratacoes}}</td>
                                <td><a href="visualizarPessoa/{{pessoa.id}}" class="btn btn-success">Visualizar</a> <a href="editarPessoa/{{pessoa.id}}"  class="btn btn-warning">Editar</a> <a href="eliminarPessoa/{{pessoa.id}}" class="btn btn-danger btnExcluir" >Excluir</a></td>
                            </tr>
                    
                            {% endfor %}
                            
                           

                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}