<div id="{{id}}" class="w-100">
    <div class="row justify-content-end my-2 mb-2">
        <button type="button" id="add-atividade" class="btn btn-primary">Adicionar atividade</button>
    </div>

    <div id="atividade-template" class="card mb-3" style="display: none;">
        <div class="card-header">
            <span class="title">Atividade #</span>
            <button type="button" class="btn btn-danger remove-atividade float-right">Remover</button>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label class="form-label">Nome:</label>
                    <input type="text" name="nome" class="form-control" placeholder="Digite o nome da atividade">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label class="form-label">Data Início:</label>
                    <input type="date" name="data" class="form-control" placeholder="Data">
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">Hora Início:</label>
                    <input type="time" name="hora" class="form-control" placeholder="Hora">
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">Público Esperado:</label>
                    <input type="number" name="publico_esperado" class="form-control" placeholder="Ex: 10">
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">Cidade:</label>
                    <input type="text" name="cidade" class="form-control" placeholder="Cidade">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label class="form-label">Local de realização:</label>
                    <input type="text" name="local" class="form-control"
                        placeholder="Local onde acontecerá a atividade">
                </div>
            </div>
        </div>
    </div>

    <div id="atividade-form-container" 
    {% if cronograma %}
    class=""
    {% else %}
    class="text-center" 
    {% endif %}
    style="min-height: 100px;">
        {% if cronograma %}
        {% for atividade in cronograma %}
            <div class="card mb-3" id="atividade_{{ forloop.counter }}" style="display: block;">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div id="spinner-{{ atividade.id }}"
                    class="spinner-border text-primary" 
                    role="status" 
                    style="display: none;">
                        <span class="sr-only">Carregando...</span>
                    </div>
                    <span class="title">Atividade #{{ forloop.counter }}</span>
                    <button 
                    data-atividade-id="{{ atividade.id }}"
                    type="button" 
                    class="btn btn-danger remove-atividade float-right">Remover</button>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label class="form-label">Nome:</label>
                            <input type="text" 
                            name="nome" 
                            class="form-control" 
                            data-atividade-id="{{ atividade.id }}"
                            data-current-value="{{ atividade.nome }}"
                            value="{{ atividade.nome }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label class="form-label">Data Início:</label>
                            <input 
                            type="date" 
                            name="data" 
                            data-atividade-id="{{ atividade.id }}"
                            data-current-value="{{ atividade.data_realizacao_inicio|date:'Y-m-d' }}"
                            class="form-control" 
                            value="{{ atividade.data_realizacao_inicio|date:'Y-m-d' }}">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label class="form-label">Hora Início:</label>
                            <input 
                            data-atividade-id="{{ atividade.id }}"
                            data-current-value="{{ atividade.horario_inicio|date:'H:i' }}"
                            type="time" 
                            name="hora" 
                            class="form-control" 
                            value="{{ atividade.horario_inicio|date:'H:i' }}">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label class="form-label">Público Esperado:</label>
                            <input 
                            data-atividade-id="{{ atividade.id }}"
                            data-current-value="{{ atividade.publico_esperado }}"
                            type="number" 
                            name="publico_esperado" 
                            class="form-control" 
                            value="{{ atividade.publico_esperado }}">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label class="form-label">Cidade:</label>
                            <input 
                            data-atividade-id="{{ atividade.id }}"
                            data-current-value="{{ atividade.cidade.nome }}"
                            type="text" 
                            name="cidade" 
                            class="form-control" 
                            value="{{ atividade.cidade.nome }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label class="form-label">Local de realização:</label>
                            <input 
                            data-atividade-id="{{ atividade.id }}"
                            data-current-value="{{ atividade.local }}"
                            type="text" 
                            name="local" 
                            class="form-control" 
                            value="{{ atividade.local }}">
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% else %}
        <h4 id="container-empty-text" {% if atividades.count > 0 %}style="display: none;"{% endif %}>
            Clique no botão acima para adicionar uma atividade ao cronograma
        </h4>
        {% endif %}
    </div>
</div>
<script>
    $(document).ready(function () {
        (function (params) {
            var atividadeCount = 0;
            let container = $('#' + params.id);

            function removeCard(card) {
                card.remove();

                if (container.find("#atividade-form-container").children("div[id^='atividade_']").length == 0) {
                    container.find("#container-empty-text").show();
                    container.find("#atividade-form-container").addClass('text-center');
                }
            }

            function componentUpdateResource(data, atividadeId, input) {
                // Show the loading spinner and disable the input fields
                container.find('input').prop('disabled', true);
                container.find('#spinner-' + atividadeId).show();

                // Make AJAX request to update the Atividade
                updateAtividade(
                    atividadeId,
                    data,
                    function(response) { // Success callback
                        console.log("sucesso", response);

                        // Re-enable input fields and hide spinner
                        container.find('input').prop('disabled', false);
                        container.find('#spinner-' + atividadeId).hide();
                        showFloatingMessage("Atividade atualizada com sucesso", "alert-success");

                        // Update the current-value attribute
                        input.attr('data-current-value', newValue);
                    },
                    function(error) { // Error callback
                        console.log("erro", error);

                        // Re-enable input fields and hide spinner
                        container.find('input').prop('disabled', false);
                        container.find('#spinner-' + atividadeId).hide();
                        showFloatingMessage("Erro ao atualizar atividade", "alert-danger");
                    }
                );
            }

            function componentCreateResource(data, newAtividade) {
                createAtividade(
                    data,
                    function(response) { 
                        console.log("sucesso", response);
                        newAtividade.find('input').each(function() {
                            var name = $(this).attr('name');
                            $(this).attr('data-atividade-id', response.id);
                            $(this).attr('data-current-value', response[name]);
                        });

                        newAtividade.find('.remove-atividade').attr('data-atividade-id', response.id);

                        showFloatingMessage("Atividade Adicionada com sucesso", "alert-success");
                    },
                    function(error) { 
                        console.log("erro", error);
                        newAtividade.remove();
                        showFloatingMessage("Erro ao adicionar atividade", "alert-danger");
                    }
                );
            }

            function componentDeleteResource (resourceId, card) {
                removeAtividade(
                    resourceId,
                    function(response) { 
                        console.log("sucesso", response);
                        showFloatingMessage("Atividade removida com sucesso", "alert-success");
                        removeCard(card);
                    },
                    function(error) { 
                        console.log("erro", error);
                        showFloatingMessage("Erro ao remover atividade", "alert-danger");
                    }
                );
            }

            container.on("click", ".remove-atividade", function () {
                let atividadeId = $(this).data('atividade-id');
                let card = $(this).parents(".card.mb-3")

                if (!atividadeId) {
                    removeCard(card);
                    return;
                }

                componentDeleteResource(atividadeId, card);
            });

            container.find("#add-atividade").click(function () {
                atividadeCount++;

                container.find("#container-empty-text").hide();
                container.find("#atividade-form-container").removeClass('text-center');
                var newAtividade = $("#atividade-template").clone();

                newAtividade.attr('id', 'atividade_' + atividadeCount);
                newAtividade.find('.title').text('Atividade #' + atividadeCount);

                newAtividade.show();
                container.find("#atividade-form-container").append(newAtividade);

                if (params.propostaId) {
                    let data = {
                        proposta_projeto_id: params.propostaId
                    };
                    componentCreateResource(data, newAtividade);
                }
            });

            container.on('focusout', 'input', function() {
                var atividadeId = $(this).data('atividade-id');
                var fieldName = $(this).attr('name');
                var newValue = $(this).val();
                var currentValue = $(this).attr('data-current-value');
                var input = $(this);

                var canUpdate = newValue != currentValue
                canUpdate = canUpdate && atividadeId != undefined && atividadeId != '' && atividadeId != null;
                if (canUpdate) {
                    let data = {}
                    data[fieldName] = newValue; 
                    
                    componentUpdateResource(data, atividadeId, input);
                }
            });

            container[0].getValue = function () {

                var atividades = [];

                container.find("#atividade-form-container").children("div[id^='atividade_']").each(function () {
                    var atividade = {};

                    $(this).find('input').each(function () {
                        var name = $(this).attr('name');
                        atividade[name] = $(this).val();
                    });

                    atividades.push(atividade);
                });

                console.log("atividades", atividades);
                return atividades;

            }

        })({ id: '{{id}}', propostaId: '{{propostaId}}' });
    });

</script>