<form id="form-atividade-container-{{atividade.id}}">
    <div id="form-container-{{atividade.id}}">
        <div class="form-group row">
            <div class="col-12">
                <label for="nome"><b>Nome</b></label>
                <input type="text" class="form-control" 
                {% if read_only == True %} disabled {% endif %}
                data-id="{{atividade.id}}"
                data-current-value="{{atividade.nome|default_if_none:''}}"
                value="{{atividade.nome|default_if_none:''}}"
                id="nome"
                name="nome">
            </div>
        </div>
        <div class="row align-items-end">
            <div class="col-3">
                <label for="nome"><b>Data Início</b></label>
                <input type="date" class="form-control" 
                       {% if read_only == True %} disabled {% endif %}
                       data-id="{{atividade.id}}"
                       data-current-value="{{atividade.data_realizacao_inicio|default_if_none:''}}"
                       value="{{atividade.data_realizacao_inicio|date:'Y-m-d' }}"
                       id="data_realizacao_inicio"
                       name="data_realizacao_inicio">
            </div>
        
            <div class="col-3">
                <label for="nome"><b>Hora Início</b></label>
                <input type="time" class="form-control" 
                       {% if read_only == True %} disabled {% endif %}
                       data-id="{{atividade.id}}"
                       data-current-value="{{atividade.horario_inicio|default_if_none:''}}"
                       value="{{atividade.horario_inicio|date:'H:i'}}"
                       id="horario_inicio"
                       name="horario_inicio">
            </div>
            
            <div class="col-3">
                <label for="nome"><b>Hora de Término</b></label>
                <input type="time" class="form-control" 
                       {% if read_only == True %} disabled {% endif %}
                       data-id="{{atividade.id}}"
                       data-current-value="{{atividade.horario_fim|default_if_none:''}}"
                       value="{{atividade.horario_fim|date:'H:i'}}"
                       id="horario_fim"
                       name="horario_fim">
            </div>
        
            <div class="col-3">
                <label for="nome"><b>Público Esperado</b></label>
                <input type="number" class="form-control" 
                       {% if read_only == True %} disabled {% endif %}
                       data-id="{{atividade.id}}"
                       data-current-value="{{atividade.publico_esperado|default_if_none:''}}"
                       value="{{atividade.publico_esperado|default_if_none:''}}"
                       id="publico_esperado"
                       name="publico_esperado">
            </div>
        
            <div class="col-6 offset-3 mt-0">
                <small id="timeDifferenceError" class="form-text text-danger"></small>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-6">
                <label for="nome"><b>Cidade</b></label>
                <div id="select-atividade-cidade-{{atividade.id}}" 
                data-cidade-id="{{atividade.cidade.id}}">
                </div>
            </div>

            <div class="col-6">
                <label for="nome"><b>Local</b></label>
                <input type="text" class="form-control" 
                {% if read_only == True %} disabled {% endif %}
                data-id="{{atividade.id}}"
                data-current-value="{{atividade.local|default_if_none:''}}"
                value="{{atividade.local|default_if_none:''}}"
                id="local"
                name="local">
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        (function (params) {
            let formContainer = $("#form-container-" + params.atividadeId);

            const cidadeModal = new CustomModalComponent({
                loadContent: cidadeForm,
                modalTitle: "Adicionar Cidade",
                modalBtnActionText: "Adicionar",
                modalActionFunction: cidadeCreate
            });

            let cidade_id = $(`#select-atividade-cidade-${params.atividadeId}`).data('cidade-id');
            const customSelect = new CustomSelectMultiple(cidadeModal, {
                label: "Selecione Cidade",
                multiple: false,
                selectedOptions: cidade_id ? [cidade_id] : [],
                loadOptions: function () {
                    return selectDataService.fetchData('cidades', getCidades);
                }
            }, function () {
                $('#select-atividade-cidade-' + params.atividadeId).append(customSelect.element);
                formContainer[0].getValue = function () {
                    var membroEquipe = {}

                    formContainer.find("input").each(function () {
                        var name = $(this).attr('name');
                        membroEquipe[name] = $(this).val();
                    });

                    return membroEquipe;
                }

                formContainer.find("input").each(function () {
                    let includedField = ['nome', 'data_realizacao_inicio', 'horario_inicio','horario_fim', 'publico_esperado', 'local'];
                    if (!includedField.includes($(this).attr('name'))) return;
                    $(this).on('change', function () {
                        var name = $(this).attr('name');
                        var value = $(this).val();
                        let data = {}
                        let current_value = $(this).data('current-value');
                        data[name] = value;

                        if (current_value == value || !params.atividadeId) return;
                        cotecUpdateAtividade(params.atividadeId, 
                        data, 
                        function (response) {
                            showFloatingMessage("Atividade atualizada com sucesso!", "alert-success")
                        }, function (error) {
                            showFloatingMessage("Erro ao atualizar atividade!", "alert-danger")
                            $(this).val(current_value);
                        });
                    });
                });

                customSelect.element.on('change', function (event) {
                    const selectedOptions = event.detail;
                    if (selectedOptions.length == 0) return
                    if (!params.atividadeId) return;

                    let data = {
                        cidade_id: selectedOptions[0]
                    }

                    updateAtividade(params.atividadeId,
                        data,
                        function (response) {
                            showFloatingMessage("Atividade atualizada com sucesso!", "alert-success")
                        }, function (error) {
                            showFloatingMessage("Erro ao atualizar atividade!", "alert-danger")
                            $(this).val(current_value);
                        });
                });

            });

            let startTimeInput = $('#horario_inicio');
            let endTimeInput = $('#horario_fim');
        
            function validateTimeDifference() {
                let startTimeArray = $('#horario_inicio').val().split(':');
                let endTimeArray = $('#horario_fim').val().split(':');
            
                let startDate = new Date();
                startDate.setHours(startTimeArray[0], startTimeArray[1], 0, 0);
            
                let endDate = new Date();
                endDate.setHours(endTimeArray[0], endTimeArray[1], 0, 0);
            
                let differenceInHours = (endDate - startDate) / (1000 * 60 * 60);
            
                if (differenceInHours < 4) {
                    $('#timeDifferenceError').text("A diferença entre o horário de início e término deve ser de pelo menos 4 horas!");
                    $('#horario_inicio').addClass('is-invalid');
                    $('#horario_fim').addClass('is-invalid');
            
                    return false;
                } else {
                    $('#timeDifferenceError').text("");
                    $('#horario_inicio').removeClass('is-invalid');
                    $('#horario_fim').removeClass('is-invalid');
                    return true;
                }
            }
                                
            startTimeInput.on('change', validateTimeDifference);
            endTimeInput.on('change', validateTimeDifference);

        })({
            atividadeId: '{{atividade.id}}'
        })
    });
</script>