<style>
.custom-dropdown-menu {
    min-width: max-content;
    left: auto;
    right: 0;
}
.display-inline {
    display: inline-block;
}

.badge-outline-secondary {
    border: 1px solid #6c757d;
    background-color: transparent;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
}

.badge-outline-secondary span {
    color: black;
    font-weight: bold;
}

.badge-outline-secondary .close:hover {
    color: #995058;
}
</style>
 <div class="display-inline" id="custom-select-multiple-{{id}}">
    <div id="custom-select-multiple" class="d-flex align-items-center">
        <div id="badges-container" class="d-flex align-items-center">
        </div>
        <div class="position-relative">
            <div class="input-dropdown-container" data-toggle="manual">
                <input type="text" 
                id="filterInput" 
                class="form-control" 
                autocomplete="off"
                style="cursor: pointer; border-radius: 0;"
                placeholder="Buscar">
            </div>

            <div class="dropdown-menu custom-dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdownMenu" style="z-index: 10; position: absolute; top: 100%; left: 0; right: 0;">
                <div id="options-container" class="scroll-custom" style="max-height: 300px; overflow-y: auto;"></div>
                <div id="options-container" class="scroll-custom" style="max-height: 300px; overflow-y: auto;">
                    <div id="options-container" class="scroll-custom d-flex justify-content-center align-items-center" style="max-height: 300px; overflow-y: auto;">
                        <div id="loading-spinner" style="display: none;">
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Carregando itens...</span>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <button type="button" 
        style="border-radius: 0;"
        class="btn btn-primary" 
        data-toggle="tooltip"
        data-placement="top"
        title="Adicionar"
        id="btn-open-modal">
            <i class="fas fa-plus"></i>
        </button>
    </div>
</div>

