{% load custom_tags %}
<div id="{{id}}" class="w-100">
    <div class="row justify-content-end my-2 mb-2">
        {% if hide_add_button %}
        {% else %}
            {% if add_button_label %}
            <button type="button" id="add-equipe" class="btn btn-primary">{{add_button_label}}</button>
            {% else %}
            <button type="button" id="add-equipe" class="btn btn-primary">Adicionar membro da equipe</button>
            {% endif %}
        {% endif %}
    </div>

    <div id="equipe-template" class="card mb-3" style="display: none;">
        <div class="card-header">
            {% if card_label %}
            <span class="title">{{card_label}}</span>
            {% else %}
            <span class="title">Membro da equipe #</span>
            {% endif %}
            {% if hide_remove == 'True' %}
            {% else %}
            <button type="button" class="btn btn-danger remove-equipe float-right">Remover</button>
            {% endif %}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 mb-3" id="input-pessoa-">
                    <label class="form-label">Nome:</label>
                </div>
            </div>
            <div class="row">
                {% if hide_funcao == 'True' %}
                {% else %}
                <div class="col-md-6 mb-3">
                    <label class="form-label">Função:</label>
                    <input type="text" name="role" class="form-control" placeholder="Digite a função">
                </div>
                {% endif %}

                <div class="col-md-6 mb-3">
                    <label class="form-label">Instituição:</label>
                    <input type="text" name="instituicao" class="form-control" placeholder="Digite a instituição">
                </div>
            </div>
        </div>
    </div>

    <div id="equipe-form-container" 
    {% if equipe %}
    class="" 
    {% else %}
    class="text-center" 
    {% endif %}
    style="min-height: 100px;">
        {% if equipe %}
        {% for membroEquipe in equipe %}
        <div class="card mb-3" id="membro_equipe_{{ forloop.counter }}" style="display: block;">
            <div class="card-header d-flex justify-content-between align-items-center">
                <div id="spinner-{{ membroEquipe.id }}"
                class="spinner-border text-primary" 
                role="status" 
                style="display: none;">
                    <span class="sr-only">Carregando...</span>
                </div>
                {% if card_label %}
                <span class="title">{{ card_label }}</span>
                {% else %}
                <span class="title">Membro da equipe #{{ forloop.counter }}</span>
                {% endif %}
                {% if hide_remove == 'True' %}
                {% else %}
                <button 
                data-membro-equipe-id="{{ membroEquipe.id }}"
                type="button" 
                class="btn btn-danger remove-equipe float-right">Remover</button>
                {% endif %}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 mb-3" 
                    data-membro-equipe-id="{{ membroEquipe.id }}"
                    data-current-value="{{ membroEquipe.pessoa.id }}"
                    id="input-pessoa-{{membroEquipe.pessoa.id}}">
                        <label class="form-label">Nome:</label>
                        {% with membroEquipe.pessoa.id|to_list as selected_values %}
                        {% include 'projetosCotec/customSelectMultiple.html' with selected_values=selected_values options=pessoas model='pessoas' id='pessoa-equipe-'|concat:id|concat:'-'|concat:membroEquipe.id modal_label="Adicionar Pessoa" select_label='Selecione o membro da equipe' multiple='False'%}
                        {% endwith %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Função:</label>
                        <input type="text" 
                        name="role" 
                        class="form-control" 
                        data-membro-equipe-id="{{ membroEquipe.id }}"
                        data-current-value="{{ membroEquipe.role }}"
                        value="{{ membroEquipe.role|default_if_none:'' }}"
                        placeholder="Ex: coordenador, professor, etc...">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Instituição:</label>
                        <input 
                        type="text" 
                        name="instituicao" 
                        data-membro-equipe-id="{{ membroEquipe.id }}"
                        data-current-value="{{ membroEquipe.instituicao }}"
                        value="{{ membroEquipe.instituicao|default_if_none:'' }}"
                        class="form-control" 
                        placeholder="Digite o nome da escola, orgão público, empresa, etc...">
                    </div>
                </div>
            </div>
        </div> 
        {% endfor %}
        {% else %}
        <h4 id="container-empty-text">
            {% if card_placeholder_label %}
            Clique no botão acima para adicionar um membro da equipe
            {% else %}
            Clique no botão acima para adicionar um membro da equipe
            {% endif %}
        </h4>
        {% endif %}
    </div>
</div>
<script>
    $(document).ready(function () {
        (function (params) {
            var equipeCount = 0;
            let container = $('#' + params.id);

            function removeCard(card) {
                card.remove();

                if (container.find("#equipe-form-container").children("div[id^='equipe_']").length == 0) {
                    container.find("#container-empty-text").show();
                    container.find("#equipe-form-container").addClass('text-center');
                }
            }

            function componentUpdateResource(data, membroEquipeId, input) {
                // Show the loading spinner and disable the input fields
                container.find('input').prop('disabled', true);
                container.find('#spinner-' + membroEquipeId).show();

                // Make AJAX request to update the Atividade
                updateMembroEquipe(
                    membroEquipeId,
                    data,
                    function(membro_equipe) { // Success callback
                        let newValue = '';
                        if (data.pessoa_id) newValue = membro_equipe.pessoa.id
                        if (data.role) newValue = membro_equipe.role
                        if (data.instituicao) newValue = membro_equipe.instituicao
                        // Re-enable input fields and hide spinner
                        container.find('input').prop('disabled', false);
                        container.find('#spinner-' + membroEquipeId).hide();
                        showFloatingMessage("Membro da equipe atualizado com sucesso", "alert-success");

                        // Update the current-value attribute
                        input.attr('data-current-value', newValue);
                    },
                    function(error) { // Error callback
                        oldValue = input.attr('data-current-value');
                        // Re-enable input fields and hide spinner
                        container.find('input').prop('disabled', false);
                        container.find('#spinner-' + membroEquipeId).hide();
                        showFloatingMessage("Erro ao atualizar atividade", "alert-danger");

                        if (data.pessoa_id) {
                            let selectContainer = $(input).find("div[id^='custom-select-multiple-']")[0]
                            selectContainer.setValue(oldValue);
                        } else {
                            input.data('current-value', oldValue);
                        }
                    }
                );
            }

            function componentCreateResource(data, newMembroEquipeContainer) {
                createMembroEquipe(
                    data,
                    function(response) { 
                        newMembroEquipeContainer.find('input').each(function() {
                            if ($(this).attr('type') == 'checkbox') return;
                            var name = $(this).attr('name');
                            $(this).attr('data-membro-equipe-id', response.id);
                            $(this).attr('data-current-value', response[name] ?? '');
                        });

                        newMembroEquipeContainer.find("div[id^='input-pessoa-'")
                        .first()
                        .attr(
                            'data-membro-equipe-id', 
                            response.id
                        );
                        
                        newMembroEquipeContainer.find("div[id^='input-pessoa-'")
                        .first()
                        .attr(
                            'data-membro-current-value', 
                            ''
                        );

                        newMembroEquipeContainer.find('.remove-equipe').attr(
                            'data-membro-equipe-id', 
                            response.id
                        );

                        setupPessoaIdListners();

                        showFloatingMessage("Membro Adicionada com sucesso a equipe", "alert-success");
                    },
                    function(error) { 
                        newMembroEquipeContainer.remove();
                        showFloatingMessage("Erro ao adicionar membro a equipe", "alert-danger");
                    }
                );
            }

            function componentDeleteResource (resourceId, card) {
                removeMembroEquipe(
                    resourceId,
                    function(response) { 
                        showFloatingMessage("Membro da equipe removido com sucesso", "alert-success");
                        removeCard(card);
                    },
                    function(error) { 
                        showFloatingMessage("Erro ao remover membro da equipe", "alert-danger");
                    }
                );
            }

            function attachEventListener(element) {
                let inputContainer = $(element);
                element.addEventListener('change', function(event) {
                    let membro_equipe_id = (inputContainer.parent().data('membro-equipe-id'));
                    let data = {
                        pessoa_id: event.selectedOptions[0]
                    };
                    let oldValue = event.oldSelectedOptions;

                    componentUpdateResource(
                        data,
                        membro_equipe_id,
                        inputContainer.parent()
                    );
                });
            }

            function setupPessoaIdListners() {
                container.find("div[id^='custom-select-multiple-']").each(function() {
                    attachEventListener(this);
                });
            }

            function setEquipeCount() {
                equipeCount = container.find("#equipe-form-container").children("div[id^='membro_equipe_']").length;
            }

            function addMembroEquepe() {
                equipeCount++;

                container.find("#container-empty-text").hide();
                container.find("#equipe-form-container").removeClass('text-center');
                var newEquipe = container.find("#equipe-template").clone();

                newEquipe.attr('id', 'equipe_' + equipeCount);
                if (params.card_label) {
                    newEquipe.find('.title').text(params.card_label);
                } else {
                    newEquipe.find('.title').text('Membro da equipe #' + equipeCount);
                }
                var inputPessoa = newEquipe.find('#input-pessoa-');
                inputPessoa.attr('id', 'input-pessoa-equipe-' + equipeCount);
                getSelectMultipleComponent({
                    id: 'pessoa-equipe-' + params.id + "-" +equipeCount,
                    model: 'pessoas',
                    multiple: 'False',
                    modal_label: 'Adicionar Pessoa',
                    select_label: 'Selecione uma pessoa'},
                    function (selectComponent) {
                        inputPessoa.html(selectComponent);
                    },
                    function () {
                        inputPessoa.html('');
                    }
                )
                
                newEquipe.show();
                container.find("#equipe-form-container").append(newEquipe);
                
                if (params.propostaId) {
                    let data = {
                        proposta_projeto_id: params.propostaId
                    };
                    componentCreateResource(data, newEquipe);
                }
            }

            container.on("click", ".remove-equipe", function () {
                let membroEquipeId = $(this).data('membro-equipe-id');
                let card = $(this).parents(".card.mb-3")

                if (!membroEquipeId) {
                    removeCard(card);
                    return;
                }

                componentDeleteResource(membroEquipeId, card);
            });

            container.find("#add-equipe").click(function () {
                addMembroEquepe();
            });

            container.on('focusout', 'input', function() {
                var membroEquipeId = $(this).data('membro-equipe-id');
                var fieldName = $(this).attr('name');
                var newValue = $(this).val();
                var currentValue = $(this).attr('data-current-value');
                var input = $(this);

                var canUpdate = newValue != currentValue
                canUpdate = canUpdate && membroEquipeId != undefined && membroEquipeId != '' && membroEquipeId != null;
                if (canUpdate) {
                    let data = {}
                    data[fieldName] = newValue; 
                    
                    componentUpdateResource(data, membroEquipeId, input);
                }
            });

            container[0].getValue = function () {
                var membros = [];
                container.find("#equipe-form-container").children("div[id^='equipe_']").each(function () {
                    var membro = {};

                    $(this).find('input').each(function () {
                        var name = $(this).attr('name');
                        membro[name] = $(this).val();
                    });

                    let inputPessoaEquipe = $(this).find("div[id^='input-pessoa-equipe-']");
                    inputPessoaEquipe.each(function () {
                        let number = $(this).attr('id').split('-').pop();
                        let value = $("#custom-select-multiple-pessoa-equipe-"+ params.id + "-" + number)[0].getValue();
                        membro['pessoa_id'] = value;
                    });
                    membros.push(membro);
                });

                return membros;

            }

            setupPessoaIdListners()
            setEquipeCount()
            if (params.createOne) {
                addMembroEquepe();
            }
        })({ 
            id: '{{id}}',
            propostaId: '{{propostaId}}',
            createOne: '{{createOne}}',
            card_label: '{{card_label}}',
        });
    });

</script>
