<form id="form-membro-equipe-container-{{membroEquipe.id}}">
    <div id="form-container-{{membroEquipe.id}}">
        <div class="form-group row">
            <div class="col-12">
                <label for="nome">Nome</label>
                <div id="select-pessoa-membro-{{membroEquipe.id}}" data-pessoa-id="{{membroEquipe.pessoa|default_if_none:''}}">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-6">
                <label for="nome">Função</label>
                <div id="select-role-membro-{{membroEquipe.id}}" data-role-id="{{membroEquipe.role.id}}">
                </div>
                <!-- <input type="text" class="form-control" 
                {% if read_only == True or membroEquipe.role == 'responsavel' or membroEquipe.role == 'proponente' %} 
                    disabled 
                {% endif %}
                data-id="{{membroEquipe.id}}" 
                data-current-value="{{membroEquipe.role.nome|default_if_none:''}}"
                value="{{membroEquipe.role.nome|default_if_none:''}}" 
                id="role" 
                name="role"> -->
            </div>
            <div class="col-6">
                <label for="nome">Instituição</label>
                <input type="text" 
                class="form-control" 
                {% if read_only == True %} 
                disabled 
                {% endif %}
                data-id="{{membroEquipe.id}}" 
                data-current-value="{{membroEquipe.instituicao|default_if_none:''}}"
                {% if membroEquipe.instituicao %}
                value="{{membroEquipe.instituicao|default_if_none:''}}" 
                {% elif escola_nome %}
                value="{{escola_nome}}" 
                {% endif %}
                id="instituicao" 
                name="instituicao">
            </div>
        </div>
    </div>
</form>
<script>
    
    function isProfessorChange(checkbox) {
        let numero_matricula = $(checkbox).parent().parent().parent().find("#numero_matricula")
        if ($(checkbox).is(':checked')) {
            numero_matricula.attr("placeholder", "Digite o número de matricula do professor...")
            numero_matricula.attr("disabled", false)
        } else {
            numero_matricula.attr("placeholder", "")
            numero_matricula.attr("disabled", true)
        }
    }

    $(document).ready(function () {
        (function (params) {
            
            let formContainer = $("#form-container-" + params.membroEquipeId);
            let role_id_ready = false;
            let pessoa_id_ready = false;

            const pessoaModal = new CustomModalComponent({
                loadContent: pessoaForm,
                modalTitle: "Adicionar Pessoa",
                modalBtnActionText: "Adicionar",
                modalActionFunction: (data) => {
                    return pessoaCreate(data)
                }
            });

            const roleModal = new CustomModalComponent({
                loadContent: membroExecucaoRoleForm,
                modalTitle: "Adicionar Função",
                modalBtnActionText: "Adicionar",
                modalActionFunction: membroExecucaoRoleCreate
            });

            let pessoa_id = $(`#select-pessoa-membro-${params.membroEquipeId}`).data('pessoa-id');
            let role_ids = params.roles;
            
            function handleMembroEquipeUpdate(data, input, current_value) {
                updateMembroEquipe(params.membroEquipeId, 
                    data, 
                    function (response) {
                        showFloatingMessage("Membro da equipe atualizado com sucesso!", "alert-success")
                    }, function (error) {
                        showFloatingMessage("Erro ao atualizar membro da equipe!", "alert-danger")
                        if (input) input.val(current_value);
                    });
            }

            function setupFormReady(field) {
                if (field == 'role') {
                    $('#select-role-membro-' + params.membroEquipeId).append(customSelectRole.element);
                    role_id_ready = true;
                } else if (field == 'pessoa') {
                    $('#select-pessoa-membro-' + params.membroEquipeId).append(customSelectPessoa.element);
                    pessoa_id_ready = true;
                }

                if (role_id_ready && pessoa_id_ready) {
                    formContainer[0].getValue = function () {
                        var membroEquipe = {}

                        formContainer.find("input").each(function () {
                            var name = $(this).attr('name');
                            membroEquipe[name] = $(this).val();
                        });

                        membroEquipe['pessoa_id'] = customSelectPessoa.getValue();
                        membroEquipe['role_ids'] = customSelectRole.getValue();

                        return membroEquipe;
                    }

                    formContainer.find("input").each(function () {
                        let includedField = ['role_id', 'instituicao', 'pessoa_id'];
                        if (!includedField.includes($(this).attr('name'))) return;
                        $(this).on('change', function () {
                            var name = $(this).attr('name');
                            var value = $(this).val();
                            let data = {}
                            let current_value = $(this).data('current-value');
                            data[name] = value;
                            data = formContainer[0].getValue()
                            if (current_value == value || !params.membroEquipeId) return;
                            let input = $(this);
                            handleMembroEquipeUpdate(data, input, current_value);
                        });
                    });
                }
            }

            const customSelectPessoa = new CustomSelectMultiple(
                pessoaModal, 
                {
                    label: "Selecione Pessoa",
                    multiple: false,
                    selectedOptions: pessoa_id ? [pessoa_id] : [],
                    loadOptions: function () {
                        return selectDataService.fetchData('pessoas', getPessoas);
                    }
                }, 
                function () {
                    setupFormReady('pessoa');
                    customSelectPessoa.element.on('change', async function (event) {
                        const selectedOptions = event.detail;
                        if (selectedOptions.length == 0) return
                        if (!params.membroEquipeId) return;
                        data = formContainer[0].getValue()
                        let input = $(this);
                        let current_value = $(this).data('current-value');
                        let selectedPessoa = customSelectPessoa.getValue()
                        let membrosExecucao = await getMembrosExecucao({proposta_projeto_id: params.propostaId})
                        if (membrosExecucao.filter(membro => {
                            if (!membro.pessoa) return false
                            membro.pessoa.id == selectedPessoa
                        }).length > 0) {
                            showFloatingMessage("Pessoa já adicionada como membro da equipe!", "alert-danger")
                            customSelectPessoa.setValue(0, false)
                            return
                        }
                        handleMembroEquipeUpdate(data, input, current_value);
                    });
                }
            );
            console.log("role_ids", role_ids)
            const customSelectRole = new CustomSelectMultiple(
                // roleModal, 
                null, 
                {
                    label: "Selecione a Função",
                    multiple: true,
                    selectedOptions: role_ids ? role_ids : [],
                    loadOptions: function () {
                        return selectDataService.fetchData('membro_execucao_roles', getMembroExecucaoRoles);
                    }
                }, 
                function () {
                    setupFormReady('role');
                    customSelectRole.element.on('change', function (event) {
                        const selectedOptions = event.detail;
                        if (selectedOptions.length == 0) return
                        if (!params.membroEquipeId) return;
                        data = formContainer[0].getValue()
                        let input = null
                        let current_value = null
                        handleMembroEquipeUpdate(data, input, current_value);
                    });
                }
            );

        })({
            membroEquipeId: '{{membroEquipe.id}}',
            roles: {% if membroEquipe.roles %}{{membroEquipe.roles}}{% else %}[]{% endif %},
            propostaId: '{{membroEquipe.proposta_projeto}}'
        })
    });
</script>