<form id="form-membro-equipe-container-{{membroEquipe.id}}">
    <div id="form-container-{{membroEquipe.id}}">
        <div class="form-group row">
            <div class="col-12">
                <label for="nome">Nome</label>
                <div id="select-pessoa-membro-{{membroEquipe.id}}" data-pessoa-id="{{membroEquipe.pessoa.id}}">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-6">
                <label for="nome">Função</label>
                <input type="text" class="form-control" 
                {% if read_only == True or membroEquipe.role == 'responsavel' or membroEquipe.role == 'proponente' %} 
                    disabled 
                {% endif %}
                data-id="{{membroEquipe.id}}" 
                data-current-value="{{membroEquipe.role|default_if_none:''}}"
                value="{{membroEquipe.role|default_if_none:''}}" 
                id="role" 
                name="role">
            </div>
            <div class="col-6">
                <label for="nome">Instituição</label>
                <input type="text" 
                class="form-control" 
                {% if read_only == True %} 
                disabled 
                {% endif %}
                data-id="{{membroEquipe.id}}" 
                data-current-value="{{membroEquipe.instituicao|default_if_none:''}}"
                value="{{membroEquipe.instituicao|default_if_none:''}}" 
                id="instituicao" 
                name="instituicao">
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        (function (params) {
            let formContainer = $("#form-container-" + params.membroEquipeId);

            const pessoaModal = new CustomModalComponent({
                loadContent: pessoaForm,
                modalTitle: "Adicionar Pessoa",
                modalBtnActionText: "Adicionar",
                modalActionFunction: pessoaCreate
            });

            let pessoa_id = $(`#select-pessoa-membro-${params.membroEquipeId}`).data('pessoa-id');

            const customSelect = new CustomSelectMultiple(pessoaModal, {
                label: "Selecione Pessoa",
                multiple: false,
                selectedOptions: pessoa_id ? [pessoa_id] : [],
                loadOptions: function () {
                    return selectDataService.fetchData('pessoas', getPessoas);
                }
            }, function () {
                $('#select-pessoa-membro-' + params.membroEquipeId).append(customSelect.element);
                formContainer[0].getValue = function () {
                    var membroEquipe = {}

                    formContainer.find("input").each(function () {
                        var name = $(this).attr('name');
                        membroEquipe[name] = $(this).val();
                    });

                    membroEquipe['pessoa_id'] = customSelect.getValue();

                    return membroEquipe;
                }

                formContainer.find("input").each(function () {
                    let includedField = ['role', 'instituicao', 'pessoa_id'];
                    if (!includedField.includes($(this).attr('name'))) return;
                    $(this).on('change', function () {
                        var name = $(this).attr('name');
                        var value = $(this).val();
                        let data = {}
                        let current_value = $(this).data('current-value');
                        data[name] = value;

                        if (current_value == value || !params.membroEquipeId) return;
                        updateMembroEquipe(params.membroEquipeId, 
                        data, 
                        function (response) {
                            showFloatingMessage("Membro da equipe atualizado com sucesso!", "alert-success")
                        }, function (error) {
                            showFloatingMessage("Erro ao atualizar membro da equipe!", "alert-danger")
                            $(this).val(current_value);
                        });
                    });
                });

                customSelect.element.on('change', function (event) {
                    const selectedOptions = event.detail;
                    if (selectedOptions.length == 0) return
                    if (!params.membroEquipeId) return;

                    let data = {
                        pessoa_id: selectedOptions[0]
                    }

                    updateMembroEquipe(params.membroEquipeId,
                        data,
                        function (response) {
                            showFloatingMessage("Membro da equipe atualizado com sucesso!", "alert-success")
                        }, function (error) {
                            showFloatingMessage("Erro ao atualizar membro da equipe!", "alert-danger")
                            $(this).val(current_value);
                        });
                });

            });

        })({
            membroEquipeId: '{{membroEquipe.id}}'
        })
    });
</script>