<style>
    .multiple-form-component {
        border: 1px solid #e0e0e0;
        padding: 16px;
        position: relative;
    }

    .add-form-btn {
        margin-top: 16px;
    }

    .form-container {
       gap: 16px;
    }
</style>
<div class="multiple-form-component" id="multiple-form-component-{{id}}">
    
    <div class="form-container d-flex flex-column">
        <!-- Forms will be appended dynamically here -->
    </div>
    <button type="button" class="btn btn-primary add-form-btn w-100">
        <i class="fas fa-plus"></i>
        <span>Adicionar</span>
    </button>
</div>
