<div id="{{id}}" class="w-100">
    <div class="row justify-content-end my-2 mb-2">
        <button type="button" id="add-orcamento" class="btn btn-primary">Adicionar item ao orçamento</button>
    </div>

    <div id="orcamento-template" class="card mb-3" style="display: none;">
        <div class="card-header">
            <span class="title">Item de orçamento #</span>
            <button type="button" class="btn btn-danger remove-orcamento float-right">Remover</button> <!-- The remove button -->
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label class="form-label">Descrição:</label>
                    <input type="text" name="descricao" class="form-control" placeholder="Digite a descrição">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label class="form-label">Tipo:</label>
                    <input type="text" name="tipo" class="form-control" placeholder="Digite o tipo">
                </div>
                <div class="col-md-2 mb-3">
                    <label class="form-label">Quantidade:</label>
                    <input type="number" name="quantidade" class="form-control" placeholder="Digite a quantidade">
                </div>
                <div class="col-md-3 mb-3">
                    <label class="form-label">Unidade:</label>
                    <input type="text" name="unidade" class="form-control" placeholder="Digite a unidade">
                </div>
                <div class="col-md-2 mb-3">
                    <label class="form-label">Valor:</label>
                    <input type="number" name="valor" class="form-control" placeholder="Digite o valor">
                </div>
                <div class="col-md-2 mb-3">
                    <label class="form-label">Valor Total:</label>
                    <input type="number" name="valor_total" class="form-control" placeholder="Digite o valor total">
                </div>
            </div>
        </div>
    </div>

    <div id="orcamento-form-container" class="" style="min-height: 100px;">
        {% if orcamento_items %}
        {% for orcamento_item in orcamento_items %}
        <div id="orcamento-template" class="card mb-3">
            <div class="card-header">
                <div id="spinner-{{ orcamento_item.id }}"
                    class="spinner-border text-primary" 
                    role="status" 
                    style="display: none;">
                        <span class="sr-only">Carregando...</span>
                    </div>
                <span class="title">Item de orçamento #{{ forloop.counter }}</span>
                <button data-orcamento-item-id="{{ orcamento_item.id }}"
                type="button" 
                class="btn btn-danger remove-orcamento float-right">Remover</button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Descrição:</label>
                        <input 
                        data-orcamento-item-id="{{ orcamento_item.id }}"
                        data-current-value="{{ orcamento_item.descricao }}"
                        value="{{ orcamento_item.descricao|default_if_none:'' }}"
                        type="text" 
                        name="descricao" 
                        class="form-control" 
                        placeholder="Digite a descrição">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label class="form-label">Tipo:</label>
                        <input 
                        data-orcamento-item-id="{{ orcamento_item.id }}"
                        data-current-value="{{ orcamento_item.tipo }}"
                        value="{{ orcamento_item.tipo|default_if_none:'' }}"
                        type="text" 
                        name="tipo" 
                        class="form-control" 
                        placeholder="Digite o tipo">
                    </div>
                    <div class="col-md-2 mb-3">
                        <label class="form-label">Quantidade:</label>
                        <input 
                        data-orcamento-item-id="{{ orcamento_item.id }}"
                        data-current-value="{{ orcamento_item.quantidade }}"
                        value="{{ orcamento_item.quantidade|default_if_none:'' }}"
                        type="number" 
                        name="quantidade" 
                        class="form-control" 
                        placeholder="Digite a quantidade">
                    </div>
                    <div class="col-md-3 mb-3">
                        <label class="form-label">Unidade:</label>
                        <input 
                        data-orcamento-item-id="{{ orcamento_item.id }}"
                        data-current-value="{{ orcamento_item.unidade }}"
                        value="{{ orcamento_item.unidade|default_if_none:'' }}"
                        type="text" 
                        name="unidade" 
                        class="form-control" 
                        placeholder="Digite a unidade">
                    </div>
                    <div class="col-md-2 mb-3">
                        <label class="form-label">Valor:</label>
                        <input 
                        data-orcamento-item-id="{{ orcamento_item.id }}"
                        data-current-value="{{ orcamento_item.valor }}"
                        value="{{ orcamento_item.valor|default_if_none:'' }}"
                        type="number" 
                        name="valor" 
                        class="form-control" 
                        placeholder="Digite o valor">
                    </div>
                    <div class="col-md-2 mb-3">
                        <label class="form-label">Valor Total:</label>
                        <input 
                        data-orcamento-item-id="{{ orcamento_item.id }}"
                        data-current-value="{{ orcamento_item.valor_total }}"
                        value="{{ orcamento_item.valor_total|default_if_none:'' }}"
                        type="number" 
                        name="valor_total" 
                        class="form-control" 
                        placeholder="Digite o valor total">
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h4 id="container-empty-text" class="text-center">
            Clique no botão acima para adicionar um item ao orçamento
        </h4>
        {% endif %}
    </div>
</div>
<script>
    $(document).ready(function () {
        (function (params) {
            var orcamentoCount = 0;
            let container = $('#' + params.id);

            function removeCard(card) {
                card.remove();

                if (container.find("#orcamento-form-container").children("div[id^='atividade_']").length == 0) {
                    container.find("#container-empty-text").show();
                }
            }

            function componentUpdateResource(data, itemOrcamentoId, input) {
                container.find('input').prop('disabled', true);
                container.find('#spinner-' + itemOrcamentoId).show();

                updateItemOrcamento(
                    itemOrcamentoId,
                    data,
                    function(response) {
                        container.find('input').prop('disabled', false);
                        container.find('#spinner-' + itemOrcamentoId).hide();
                        showFloatingMessage("Item de orçamento atualizada com sucesso", "alert-success");

                        input.attr('data-current-value', newValue);
                    },
                    function(error) { 
                        container.find('input').prop('disabled', false);
                        container.find('#spinner-' + itemOrcamentoId).hide();
                        showFloatingMessage("Erro ao atualizar item de orçamento", "alert-danger");
                    }
                );
            }

            function componentCreateResource(data, newItemOrcamento) {
                console.log("dentro de componentCreateResource", data, newItemOrcamento)
                createItemOrcamento(
                    data,
                    function(response) { 
                        newItemOrcamento.find('input').each(function() {
                            var name = $(this).attr('name');
                            $(this).attr('data-orcamento-item-id', response.id);
                            $(this).attr('data-current-value', response[name]);
                        });

                        newItemOrcamento.find('.remove-orcamento').attr('data-orcamento-item-id', response.id);

                        showFloatingMessage("Atividade Adicionada com sucesso", "alert-success");
                    },
                    function(error) { 
                        newItemOrcamento.remove();
                        showFloatingMessage("Erro ao adicionar Item ao orçamento", "alert-danger");
                    }
                );
            }

            function componentDeleteResource (resourceId, card) {
                console.log("dentro de componentDeleteResource", resourceId, card)
                removeItemOrcamento(
                    resourceId,
                    function(response) { 
                        showFloatingMessage("Item removido do orçamento com sucesso", "alert-success");
                        removeCard(card);
                    },
                    function(error) { 
                        showFloatingMessage("Erro ao remover item do orçamento", "alert-danger");
                    }
                );
            }

            container.on("click", ".remove-orcamento", function () {
                let orcamentoItemId = $(this).data('orcamento-item-id');
                let card = $(this).parents(".card.mb-3")

                if (!orcamentoItemId) {
                    removeCard(card);
                    return;
                }

                componentDeleteResource(orcamentoItemId, card);
            });

            container.find("#add-orcamento").click(function () {
                orcamentoCount++;

                container.find("#container-empty-text").hide();
                container.find("#orcamento-form-container").removeClass('text-center');
                var newOrcamento = $("#orcamento-template").clone();

                newOrcamento.attr('id', 'orcamento_' + orcamentoCount);
                newOrcamento.find('.title').text('Orçamento #' + orcamentoCount);

                newOrcamento.show();
                container.find("#orcamento-form-container").append(newOrcamento);

                if (params.orcamentoId) {
                    let data = {
                        orcamento_id: params.orcamentoId
                    };
                    componentCreateResource(data, newOrcamento);
                }
            });

            container.on('focusout', 'input', function() {
                var atividadeId = $(this).data('orcamento-item-id');
                var fieldName = $(this).attr('name');
                var newValue = $(this).val();
                var currentValue = $(this).attr('data-current-value');
                var input = $(this);

                var canUpdate = newValue != currentValue
                canUpdate = canUpdate && atividadeId != undefined && atividadeId != '' && atividadeId != null;
                if (canUpdate) {
                    let data = {}
                    data[fieldName] = newValue; 
                    
                    componentUpdateResource(data, atividadeId, input);
                }
            });

            container[0].getValue = function () {

                var orcamentos = [];

                container.find("#orcamento-form-container").children("div[id^='orcamento_']").each(function () {
                    var orcamento = {};

                    $(this).find('input').each(function () {
                        var name = $(this).attr('name');
                        orcamento[name] = $(this).val();
                    });

                    orcamentos.push(orcamento);
                });

                return orcamentos;
            }

        })({ 
            id: '{{id}}',
            orcamentoId: '{{orcamentoId}}',
        });
    });

</script>
