<div class="w-100">
        <table class="table table-hover table-sm table-responsive-md">
            <thead>
                <tr>
                    <th scope="col" class="text-left">Nome</th>
                    <th scope="col" class="text-left">Data de envio</th>
                    <th scope="col" class="text-left">status</th>
                    <th scope="col" class="text-left"></th>
                </tr>
            </thead>
            <tbody id="tbody">
                {% for proposta in propostas %}
                <tr>
                    <td class="text-left">{{ proposta.titulo_projeto }}</td>
                    <td class="text-left">{{ proposta.created_at|date:"d/m/Y" }}</td>
                    <td class="text-left">
                        {% if proposta.status == 'devolvida' %}
                        <button class="btn btn-outline-warning btn-sm" 
                        style="border-radius: 50%" 
                        data-toggle="modal" 
                        data-target="#justificativaModal" 
                        data-justificativa="{{ proposta.justificativas }}">
                            <i data-toggle="tooltip" 
                            data-placement="top" 
                            title="Ver Justificativa"
                             class="fas fa-info-circle"></i>
                        </button>
                        {% endif %}
                        {{ proposta.status_formatado }}
                    </td>
                    <td class="text-left">
                        <div class="d-flex justify-content-end">
                            <div class="btn-group">
                                <button type="button" class="btn-remove-default btn-circle btn-outline-secondary"
                                data-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                </button>
                                <div class="dropdown-menu" role="menu">
                                    {% if user.pessoa.instituicao == "cett" %}
                                    <a href="{% url 'show-proposta-projeto' proposta.id %}"
                                    class="dropdown-item cursor-pointer">
                                        <span> Ver Proposta</span>
                                    </a>
                                    {% else %}
                                    <a href="{% url 'cotec-projeto-form' %}?proposta_id={{ proposta.id }}"
                                    class="dropdown-item cursor-pointer">
                                        <span> Editar Proposta</span>
                                    </a>
                                    {% endif %}
                                    <button class="dropdown-item cursor-pointer" 
                                    type="button"
                                    id="btn-excluir-proposta"
                                    data-proposta-projeto-id="{{ proposta.id }}">
                                        Excluir
                                    </button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="justificativaModal" tabindex="-1" aria-labelledby="justificativaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="justificativaModalLabel">Justificativa</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="justificativaBody">
          <!-- Justificativa will be inserted here -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
<script>
    $(document).ready(function () {
        (function(params) {
            $('#btn-excluir-proposta').click(function () {
                var proposta_projeto_id = $(this).data('proposta-projeto-id')
                console.log(proposta_projeto_id)
                removePropostaProjeto(
                    proposta_projeto_id,
                    function (response) {
                        showFloatingMessage("Proposta de projeto removida com sucesso", "alert-success");
                        loadPropostasTable()
                    },
                    function (error) {
                        console.log("erro")
                        console.log(error)
                    }
                )
            })

            $(document).on('click', '[data-toggle="modal"]', function(event) {
                var justificativa = $(this).attr('data-justificativa');
                $('#justificativaBody').text(justificativa);
            });
        })({})
    })
</script>
