{% extends "base.html" %}

{% block content %}
<style>
    #step-indicators {
        display: flex; 
        justify-content: space-between; 
        align-items: center;
        padding: 1em 0;
        width: 87%;
        background-color: #f8f9fc;
        z-index: 1000; /* Ensure it stays on top of other elements */
        position: fixed;
        top: 75px; /* Adjust this value based on the actual height of your navigation bar */
        z-index: 10;
    }
    
    .step-line {
        flex-grow: 1;
        border-top: 3px solid #ddd; /* Increase the pixel size for a thicker line */
        position: relative;
    }
    
    .step-line.line-primary {
        border-color: #007bff;
    }

    .step-badge {
        font-size: 2em; 
        width: 2em; 
        height: 2em; 
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%; 
        z-index: 2;
        position: relative;
        background: #ddd; /* grey background for not completed steps */
    }
    
    .step-badge.badge-primary {
        background: #007bff; /* blue background for completed steps */
        color: #fff; /* white text for completed steps */
    }

    #form-container {
        margin-top: 100px; /* Adjust as needed */
    }

    .step-container {
        display: flex;
        justify-content: space-between;
        max-width: 75%;
        position: relative;
    }
    
    .step-container .step {
        flex: 1 0 auto;
        text-align: center;
    }

    .custom-badge {
        font-size: 1.0rem; /* Adjust the font size as needed */
        padding: .5em 1em; /* Adjust padding for larger text */
    }
</style>
<div style="width: 100%;" class="w-100">
    <div class="step-container">
        <div id="step-indicators" class="text-center px-1">
            <span class="badge badge-secondary step-badge" id="step-1-badge">1</span>
            <div class="step-line" id="line-1"></div>
            <span class="badge badge-secondary step-badge" id="step-2-badge">2</span>
            <div class="step-line" id="line-2"></div>
            <span class="badge badge-secondary step-badge" id="step-3-badge">3</span>
            <div class="step-line" id="line-3"></div>
            <span class="badge badge-secondary step-badge" id="step-4-badge">4</span>
            {% if proposta_projeto.id %}
            <div class="ml-5 mr-2 d-flex">
                <span class="badge 
                {% if proposta_projeto.status == 'rascunho' %}
                bg-secondary
                {% elif proposta_projeto.status == 'devolvida' %}
                bg-danger
                {% elif proposta_projeto.status == 'em_analise' %}
                bg-warning
                {% elif proposta_projeto.status == 'aprovada' %}
                bg-success
                {% endif %}
                custom-badge">
                    {{proposta_projeto.status_formatado}}
                </span>
                <div>
                    <button class="btn btn-primary" type="button" id="commentsButton" data-bs-toggle="offcanvas"
                    data-bs-target="#commentsOffcanvas" aria-controls="commentsOffcanvas">
                    <i class="fa fa-comment"></i>
                    </button>
                
                    <div class="offcanvas offcanvas-end" style="z-index: 50000; top: 75px"
                    tabindex="-1" 
                    id="commentsOffcanvas" 
                    aria-labelledby="commentsOffcanvasLabel"
                        style="width: 30%;">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="commentsOffcanvasLabel">Comentários</h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body" style="height: 90%; overflow-y: auto;">
                            {% for comment in proposta_projeto.comentarios.all %}
                        <div class="card mb-3">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span>{{ comment.autor.nome }} </span>
                                        <small class="text-muted float-right">{{ comment.created_at|date:"d/m/Y, H:i" }}</small>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="card-text text-left">{{ comment.conteudo }}</p>
                                </div>
                            </div>
                            {% empty %}
                            <p>Nenhum comentário ainda</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div id="form-container" class="container" >
        <form id="create-projeto-cotec-form" class="container">
            <div id="step-dados-gerais">
                <h2>Dados Gerais</h2>
                <div class="form-group">
                    <label for="titulo-do-projeto">Título do projeto</label>
                    <input type="text" 
                    class="form-control proposta-field" 
                    id="titulo_projeto" 
                    {% if proposta_projeto.read_only %}
                    disabled
                    {% endif %}
                    name="titulo_projeto"
                    value="{{proposta_projeto.titulo_projeto|default_if_none:''}}">
                </div>
                <div class="form-group">
                    <label for="periodo-de-realizacao"><b>Período de realização</b></label>
                    <div class="form-group row">
                        <div class="col-6">
                            <label for="data_inicio">Data de início</label>
                            <input type="date" 
                            {% if proposta_projeto.read_only %}
                            disabled
                            {% endif %}
                            class="form-control proposta-field" id="data_inicio" 
                            value="{{proposta_projeto.data_inicio|date:'Y-m-d'|default_if_none:''}}"
                            name="data_inicio">
                        </div>
                        <div class="col-6">
                            <label for="data_fim">Data de Término</label>
                            <input type="date" 
                            {% if proposta_projeto.read_only %}
                            disabled
                            {% endif %}
                            class="form-control proposta-field" id="data_fim" 
                            value="{{proposta_projeto.data_fim|date:'Y-m-d'|default_if_none:''}}"
                            name="data_fim">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="resumo-da-proposta">Resumo da proposta</label>
                    <textarea class="form-control proposta-field" rows="5" 
                    {% if proposta_projeto.read_only %}
                    disabled
                    {% endif %}
                    id="resumo_proposta" 
                    name="resumo_proposta">{{proposta_projeto.resumo_proposta|default_if_none:''}}</textarea>
                </div>
                <div class="form-group">
                    <label for="objetivos-gerais">Objetivos gerais</label>
                    <textarea class="form-control proposta-field" 
                    {% if proposta_projeto.read_only %}
                    disabled
                    {% endif %}
                    rows="5" id="objetivos_gerais" 
                    name="objetivos_gerais">{{proposta_projeto.objetivos_gerais|default_if_none:''}}</textarea>
                </div>
                <div class="form-group">
                    <label for="objetivos-especificos">Objetivos específicos</label>
                    <textarea class="form-control proposta-field" 
                    {% if proposta_projeto.read_only %}
                    disabled
                    {% endif %}
                    id="objetivos_especificos" 
                    name="objetivos_especificos"
                    rows="5">{{proposta_projeto.objetivos_especificos|default_if_none:''}}</textarea>
                </div>
                <div class="form-group">
                    <label for="metodologia">Metodologia</label>
                    <textarea class="form-control proposta-field" 
                    {% if proposta_projeto.read_only %}
                    disabled
                    {% endif %}
                    id="metodologia" 
                    name="metodologia" rows="5">{{proposta_projeto.metodologia|default_if_none:''}}</textarea>
                </div>
                <div class="form-group">
                    <label for="formato-e-conteudo">Formato e conteúdo do produto a ser entregue</label>
                    <textarea class="form-control proposta-field" 
                    {% if proposta_projeto.read_only %}
                    disabled
                    {% endif %}
                    id="formato_conteudo"
                    name="formato_conteudo"
                    rows="5">{{proposta_projeto.formato_conteudo|default_if_none:''}}</textarea>
                </div>
                <div class="form-group">
                    <label for="justificativas">Justificativas</label>
                    <textarea class="form-control proposta-field" 
                    {% if proposta_projeto.read_only %}
                    disabled
                    {% endif %}
                    id="justificativas" 
                    name="justificativas" rows="5">{{proposta_projeto.justificativas|default_if_none:''}}</textarea>
                </div>
                <div class="form-group">
                    <label for="resultados-esperados">Resultados esperados</label>
                    <textarea class="form-control proposta-field" 
                    {% if proposta_projeto.read_only %}
                    disabled
                    {% endif %}
                    id="resultados_esperados" 
                    name="resultados_esperados"
                    rows="5">{{proposta_projeto.resultados_esperados|default_if_none:''}}</textarea>
                </div>
                <div class="form-group">
                    <label for="fontes-de-apoio">Fontes de apoio e patrocínio utilizadas para realização da ação</label>
                    <textarea class="form-control proposta-field" 
                    {% if proposta_projeto.read_only %}
                    disabled
                    {% endif %}
                    id="fontes_apoio" 
                    name="fontes_apoio" rows="5">{{proposta_projeto.fontes_apoio|default_if_none:''}}</textarea>
                </div>
                <div class="form-group">
                    <label for="publico_alvo">Público alvo</label>
                    <textarea class="form-control proposta-field" id="publico_alvo" 
                    {% if proposta_projeto.read_only %}
                    disabled
                    {% endif %}
                    name="publico_alvo"
                    rows="5">{{proposta_projeto.publico_alvo|default_if_none:''}}</textarea>
                </div>
                <div class="form-group">
                    <label for="informacoes-adicionais">Informações adicionais</label>
                    <textarea class="form-control proposta-field" 
                    {% if proposta_projeto.read_only %}
                    disabled
                    {% endif %}
                    id="informacoes_adicionais" 
                    name="informacoes_adicionais"
                    rows="5">{{proposta_projeto.informacoes_adicionais|default_if_none:''}}</textarea>
                </div>
            </div>
    
            <div id="step-cronograma" style="height: fit-content;">
                <h2>Cronograma geral das atividades</h2>
                <div id="multiple-form-component-cronograma">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Carregando itens...</span>
                        </div>
                    </div>
                </div>
            </div>
    
            <div id="step-equipe">
                <h2>Equipe</h2>
                <div class="form-group">
                    <label for="proponente"><b>Proponente</b></label>
                    <div id="multiple-form-component-proponente">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Carregando itens...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="responsavel"><b>Responsáveis</b></label>
                    <div id="multiple-form-component-respomsaveis">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Carregando itens...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="equipe-executora"><b>Equipe executora</b></label>
                    <div id="multiple-form-component-equipe">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Carregando itens...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div id="step-orcamento">
                <h2>Orçamento</h2>
                <div id="multiple-form-component-orcamento">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Carregando itens...</span>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="d-flex justify-content-between pb-2">
                {% if not proposta_projeto.id %}
                <div>
                    <button type="button" 
                    id="rascunhoBtn"
                    class="btn btn-secondary">Salvar Rascunho</button>
                </div>
                {% else %}
                <div>

                </div>
                {% endif %}
                <div>
                    <button type="button" class="btn btn-primary" id="backBtn" style="display: none;">Anterior</button>
                    <button type="button" class="btn btn-primary" id="nextBtn">Próximo</button>
                    {% if proposta_projeto.id %}
                    <a 
                    href="{% url 'cotec-projeto-index' %}" 
                    class="btn btn-success" 
                    id="editBtn" 
                    style="display: none;">
                        {% if proposta_projeto.status %}
                        <span>Submeter proposta</span>
                        {% endif %}
                    </a>
                    {% else %}
                    <button type="button" class="btn btn-success" id="submitBtn" style="display: none;">Submeter
                        Proposta</button>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function getOrcamentoValues() {
        return $('#orcamento')[0].getValue()
    }

    function getCronogramaValues() {
        return $('#cronograma-geral')[0].getValue()
    }

    function getEquipeExecucao() {
        return $('#equipe-executora')[0].getValue()
    }

    function getSelectedValues() {
        let proponente = $('#proponente')[0].getValue()
        let responssavel = $('#responsaveis')[0].getValue()

        let form = $('#create-projeto-cotec-form');
        let data = form.serializeArray();

        data.push({ name: 'proponente', value: proponente });
        data.push({ name: 'responsavel', value: responssavel });
        data.push({ name: 'equipe', value: getEquipeExecucao() });
        data.push({ name: 'cronograma', value: getCronogramaValues() });
        data.push({ name: 'orcamento', value: getOrcamentoValues() });
        
        let result = data.reduce(function (obj, item) {
            obj[item.name] = item.value;
            return obj;
        }, {});
    
        return result;
    }

    $(document).ready(function () {
        let proponentes = {{ proponentes_json|safe }};
        let responsaveis = {{ responsaveis_json|safe }};
        let equipe = {{ equipe_json|safe }};
        let atividades = {{ atividades_json|safe }};
        let escola_nome = {% if user.is_authenticated %}'{{ user.pessoa.escola.nome }}'{% else %}''{% endif %}
        let propostaId = '{{proposta_projeto.id}}'
        let orcamentoId = '{{proposta_projeto.orcamento.id}}'
        let itensOrcamento = {{ orcamento_itens_json|safe }}
        var currentStep = 0;
        var steps = ['step-dados-gerais', 'step-cronograma', 'step-equipe', 'step-orcamento'];

        function showStep(step) {
            $('#' + steps[step]).show();
            $('#step-' + (step + 1) + '-badge').removeClass('badge-secondary').addClass('badge-primary');
            if (step > 0) {
                $('#line-' + step).addClass('line-primary');
            }
            if (step === steps.length - 1) {
                $('#nextBtn').hide();
                $('#submitBtn').show();
                $('#editBtn').show();
            }
            if (step > 0) {
                $('#backBtn').show();
            } else {
                $('#backBtn').hide();
            }
        }
        
        function hideAllSteps() {
            for (var step of steps) {
                $('#' + step).hide();
            }
        }

        function resetStepBadges() {
            $('.step-badge').removeClass('badge-primary').addClass('badge-secondary');
        }

        $('#nextBtn').click(function () {
            if (currentStep < steps.length - 1) {
                hideAllSteps();
                currentStep++;
                showStep(currentStep);
            }
        });

        $('#backBtn').click(function () {
            if (currentStep > 0) {
                hideAllSteps();
                $('#step-' + (currentStep + 1) + '-badge').removeClass('badge-primary').addClass('badge-secondary');
                $('#line-' + currentStep).removeClass('line-primary');
                currentStep--;
                showStep(currentStep);
            }
            if (currentStep < steps.length - 1) {
                $('#nextBtn').show();
                $('#submitBtn').hide();
                $('#editBtn').hide();
            }
        });

        hideAllSteps();
        resetStepBadges();
        showStep(currentStep);

        $('#submitBtn').on('click', function () {
            let values = getSelectedValues()
            createPropostaProjeto(values, 
            function (data) {
                $(location).attr('href', "{% url 'cotec-projeto-success' %}?proposta_id={{proposta_projeto.id}}");
            }, function (error) {
                showFloatingMessage(error.responseJSON.message, "alert-danger");
            })
        });
        
        $('#rascunhoBtn').on('click', function () {
            let values = getSelectedValues()
            values.status = 'rascunho'
            createPropostaProjeto(values, 
            function (data) {
                $(location).attr('href', "{% url 'cotec-projeto-index' %}");
            }, function (error) {
                showFloatingMessage(error.responseJSON.message, "alert-danger");
            })
        });

        if (propostaId) {
            $(".proposta-field").each(function () {
                $(this).on('focusout', function () {
                    let name = $(this).attr('name')
                    let value = $(this).val()
                    let data = {}
    
                    data[name] = value
                    updatePropostaProjeto(
                        propostaId,
                        data,
                        function (data) {
                            showFloatingMessage("Proposta atualizada com sucesso", "alert-success");
                        },
                        function (error) {
                            showFloatingMessage("Erro ao atualizar proposta", "alert-danger");
                        }
                    )
                })
            })
        }

        let propostaStatus = '{{proposta_projeto.status}}'
        $('#editBtn').on('click', function () {
            if (propostaStatus == 'devolvida' || propostaStatus == 'rascunho') {
                let values = {
                    status : 'em_analise'
                }
                updatePropostaProjeto(propostaId, values, 
                function (data) {
                    $(location).attr('href', "{% url 'cotec-projeto-success' %}");
                }, function (error) {
                    console.log(error)
                })
            }
        });

        // SETUP FORMULARIO DE PROPONENTES
        let proponentesIds = proponentes.map(item => {
            return {
                id: item.pk
            }
        });

        let handleCreateMembroEquipe = (data) => propostaId ? createMembroEquipe(data, function (data) {
                showFloatingMessage("Membro adicionado a equipe com sucesso", "alert-success");
            }, function (error) {
                showFloatingMessage(error.responseJSON.message, "alert-danger");
            }) : undefined;

        const multipleFormOptions = {
            fetchFormTemplateFunction: (data) => getMembroEquipeForm({...{escola_nome: escola_nome}, ...data}),
            fetchComponentTemplateFunction: getMultipleFormComponent,
            createFunction: propostaId ? () => handleCreateMembroEquipe({proposta_projeto_id: propostaId, role: "proponente"}) : undefined,
            showAddButton: false,
            showDeleteButton: false,
            updateFunction: async function(modelId, data) {
                console.log(modelId, data)
            },
            deleteFunction: async function(modelId) {
                console.log(modelId)
            },
            onReady: function() {
                $("#multiple-form-component-proponente").html(multipleForm.element);
                const formData = proponentesIds.length > 0 ? proponentesIds : 1;
                multipleForm.setValue(formData);
            }
        };

        // SETUP FORMULARIO DE RESPONSÁVEIS
        let responsaveisIds = responsaveis.map(item => {
            return {
                id: item.pk
            }
        });
        
        let handleDeleteMembroEquipe = (membroEquipeId) => propostaId ? removeMembroEquipe(membroEquipeId, function (data) {
                showFloatingMessage("Membro removido da equipe com sucesso", "alert-success");
            }, function (error) {
                showFloatingMessage(error.responseJSON.message, "alert-danger");
            }) : undefined;

        const multipleFormOptionsResponsaveis = {
            fetchFormTemplateFunction: (data) => getMembroEquipeForm({...{escola_nome: escola_nome}, ...data}),
            fetchComponentTemplateFunction: getMultipleFormComponent,
            createFunction: propostaId ? () => handleCreateMembroEquipe({proposta_projeto_id: propostaId, role: "responsavel"}) : undefined,
            // showAddButton: false,
            // showDeleteButton: false,
            showSaveButton: false,
            updateFunction: async function(modelId, data) {
                console.log(modelId, data)
            },
            deleteFunction: async function(modelId) {
                handleDeleteMembroEquipe(modelId)
            },
            onReady: function() {
                $("#multiple-form-component-respomsaveis").html(multipleFormResponsaveis.element);
                const formData = responsaveisIds.length > 0 ? responsaveisIds : 1;
                multipleFormResponsaveis.setValue(formData);
            }
        };

        // SETUP FORMULARIO DE EQUIPE

        equipeIds = equipe.map(item => {
            return {
                id: item.pk
            }
        });
        const multipleFormEquipeOptions = {
            fetchFormTemplateFunction: (data) => getMembroEquipeForm({...{escola_nome: escola_nome}, ...data}),
            fetchComponentTemplateFunction: getMultipleFormComponent,
            createFunction: propostaId ? () => handleCreateMembroEquipe({proposta_projeto_id: propostaId}) : undefined,
            // showAddButton: false,
            // showDeleteButton: false,
            showSaveButton: false,
            updateFunction: async function(modelId, data) {
                console.log(modelId, data)
            },
            deleteFunction: async function(modelId) {
                handleDeleteMembroEquipe(modelId)
            },
            onReady: function() {
                $("#multiple-form-component-equipe").html(multipleFormEquipe.element);
                const formData = equipeIds.length > 0 ? equipeIds : 0;
                multipleFormEquipe.setValue(formData);
            }
        };

        selectDataService.fetchData('pessoas', getPessoas).then(data => {
            multipleForm = new MultipleFormComponent(multipleFormOptions);
            $("#get-form-values").on('click', () => {
                console.log("proponente: ", multipleForm.getValues())
            })

            multipleFormResponsaveis = new MultipleFormComponent(multipleFormOptionsResponsaveis);
            $("#get-form-values").on('click', () => {
                console.log("responsavel: ", multipleFormResponsaveis.getValues())
            })

            multipleFormEquipe = new MultipleFormComponent(multipleFormEquipeOptions);
            $("#get-form-values").on('click', () => {
                console.log("equipe: ", multipleFormEquipe.getValues())
            })
        }).catch(error => {
            console.error("Failed to fetch pessoas data:", error);
        });

        // SETUP FORMULARIO DE CRONOGRAMA
        let atividadeIds = atividades.map(item => {
            return {
                id: item.pk
            }
        });

        let handleCreateCronograma = () => propostaId ? createAtividadeCotec({proposta_projeto_id: propostaId}, function (data) {
                showFloatingMessage("Item adicionado ao cronograma com sucesso", "alert-success");
            }, function (error) {
                showFloatingMessage(error.responseJSON.message, "alert-danger");
            }) : undefined;

        
        let handleDeleteCronograma = (membroEquipeId) => propostaId ? removeAtividade(membroEquipeId, function (data) {
                showFloatingMessage("Membro removido da equipe com sucesso", "alert-success");
            }, function (error) {
                showFloatingMessage(error.responseJSON.message, "alert-danger");
            }) : undefined;

        const multipleFormOptionsCronograma = {
            fetchFormTemplateFunction: getAtividadeForm,
            fetchComponentTemplateFunction: getMultipleFormComponent,
            createFunction: propostaId ? handleCreateCronograma : undefined,
            // showAddButton: false,
            // showDeleteButton: false,
            showSaveButton: false,
            updateFunction: async function(modelId, data) {
                console.log(modelId, data)
            },
            deleteFunction: async function(modelId) {
                handleDeleteCronograma(modelId)
            },
            onReady: function() {
                $("#multiple-form-component-cronograma").html(multipleFormCronograma.element);
                const formData = atividadeIds.length > 0 ? atividadeIds : 1;
                multipleFormCronograma.setValue(formData);
            }
        };

        selectDataService.fetchData('cidades', getCidades).then(data => {
            multipleFormCronograma = new MultipleFormComponent(multipleFormOptionsCronograma);
            $("#get-form-values").on('click', () => {
                console.log("cronograma: ", multipleFormCronograma.getValues())
            })
        }).catch(error => {
            console.error("Failed to fetch cidades data:", error);
        });

        // SETUP FORMULARIO DE ORÇAMENTO
        let itemOrcamentoIds = itensOrcamento.map(item => {
            return {
                id: item.pk
            }
        });

        let handleCreateOrcamento = () => orcamentoId ? createItemOrcamento({orcamento_id: orcamentoId}, function (data) {
                showFloatingMessage("Item adicionado ao orçamento com sucesso", "alert-success");
            }, function (error) {
                showFloatingMessage(error.responseJSON.message, "alert-danger");
            }) : undefined;
        
        let handleDeleteOrcamento = (itemOrcamentoId) => orcamentoId ? removeItemOrcamento(itemOrcamentoId, function (data) {
                showFloatingMessage("Item removido do orçamento com sucesso", "alert-success");
            }, function (error) {
                showFloatingMessage(error.responseJSON.message, "alert-danger");
            }) : undefined;

        const multipleFormOptionsOrcamento = {
            fetchFormTemplateFunction: getItemOrcamentoForm,
            initializeForm:  initializeItemOrcamentoForm,
            fetchComponentTemplateFunction: getMultipleFormComponent,
            createFunction: orcamentoId ? handleCreateOrcamento : undefined,
            // showAddButton: false,
            // showDeleteButton: false,
            showSaveButton: false,
            updateFunction: async function(modelId, data) {
                console.log(modelId, data)
            },
            deleteFunction: async function(modelId) {
                handleDeleteOrcamento(modelId)
            },
            onReady: function() {
                $("#multiple-form-component-orcamento").html(multipleFormOrcamento.element);
                const formData = itemOrcamentoIds.length > 0 ? itemOrcamentoIds : 1;
                multipleFormOrcamento.setValue(formData);
            }
        };

        multipleFormOrcamento = new MultipleFormComponent(multipleFormOptionsOrcamento);
        $("#get-form-values").on('click', () => {
            console.log("orcamento: ", multipleFormOrcamento.getValues())
        })

        if (propostaId) {
            window.history.replaceState({}, document.title, "?proposta_id=" + propostaId);
        }

        // auto resize textarea
        $('textarea').each(function () {
            this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
        }).on('input', function () {
            this.style.height = 'auto';
            this.style.height = (this.scrollHeight) + 'px';
        });
    });
</script>
{% endblock content %}