{% extends "base.html" %}

{% block content %}
<div style="width: 100%;" class="">
    <div class="w-100 shadow
    d-flex justify-content-end align-items-center 
    px-3 py-3 my-3
    bg-white">
        <!-- <div class="d-flex justify-content-start align-items-center ">
            <div class="d-flex flex-column justify-content-start align-items-start mx-2">
                <label for="filterDpEventoDataInicio" class="filter-label">Data de início do projeto</label>
                <input id="filterDpEventoDataInicio" class="form-control-sm border-secondary" name="data_inicio"
                    type="date">
            </div>
            <div class="d-flex flex-column justify-content-start align-items-start mx-2">
                <label for="filterDpEventoDataFim" class="filter-label">Data de Fim do projeto</label>
                <input id="filterDpEventoDataFim" class="form-control-sm border-secondary" name="data_fim" type="date">
            </div>
            <input type="text" hidden id="filterDpEventoTipo" name="order_by">
            <div class="d-flex flex-column justify-content-start align-items-start mx-2">
                <label for="filterDpEventoTipo" class="filter-label">Tipo</label>
                <select name="tipo" id="filterDpEventoTipo" class="form-control-sm border-secondary">
                    <option value="">Selecione uma opção</option>
                    <option value="emprestimo">Empréstimo</option>
                    <option value="curso_gps">Curso GPS</option>
                    <option value="feirao">Feirão do Emprego</option>
                    <option value="goias_feito_a_mao">Goiás Feito à Mão</option>
                    <option value="feira_agro_centro_oeste">Feira Agro Centro-Oeste</option>
                    <option value="pauta_positiva">Pauta Positiva</option>
                    <option value="open_day">Open Day</option>
                    <option value="outro">Outro</option>
                </select>
            </div>
            <input type="text" name="order_by" id="filterDpEventoOrderBy" hidden>
        </div> -->
        <div class="d-flex">
            <a href="{% url 'cotec-projeto-form' %}" style="text-decoration: none; color: white;"
                class="btn-cadastrar rounded d-flex justify-content-between align-items-center">
                <span> cadastrar Projeto</span>
            </a>
        </div>
    </div>
    <div class="w-100">
        <div id="itemsTable">
        </div>
    </div>
</div>
<script>
    function loadPropostasTable() {
        getPropostaTable(
            {},
            function(propostaTable) {
                $('#itemsTable').html(propostaTable)
            },
            function(error) {
                console.log(error)
            }
        );
    }
    $(document).ready(function () {
        loadPropostasTable()
    })
</script>
{% endblock content %}