{% extends "base.html" %}

{% block content %}
<div class="container">

    <div class="dropdown position-fixed" style="right: 10px;">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Opções
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for status, display_status in proposta_projeto.STATUS_CHOICES %}
                <button type="button"
                class="dropdown-item"
                {% if status == 'devolvida' %}data-toggle="modal" data-target="#devolverModal"{% endif %}>
                {% if status == 'em_analise'%}
                <span>Colocar Em Análise</span>
                {% endif %}
                {% if status == 'devolvida'%}
                <span>Devolver ao Autor</span>
                {% endif %}
                {% if status == 'aprovada'%}
                <span>Aprovar</span>
                {% endif %}
                {% if status == 'reprovada'%}
                <span>Reprovar</span>
                {% endif %}
                {% if status == 'cancelada'%}
                <span>Cancelar</span>
                {% endif %}
                </button>
            {% endfor %}
        </div>
    </div>
    
    <div class="modal fade" id="devolverModal" tabindex="-1" aria-labelledby="devolverModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="devolverModalLabel">Justificativa</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="justificativaForm">
                <div class="form-group">
                  <label for="justificativa">Justificativa</label>
                  <textarea class="form-control" id="justificativa" name="justificativa" rows="3"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" id="submitJustificativa" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
<h2>{{ proposta_projeto.titulo_projeto }}</h2>
{% for proponente in proposta_projeto.proponentes %}
    <p>Proponente: {{ proponente.pessoa.nome }}</p>
{% endfor %}
<p>Data de Início: {{ proposta_projeto.data_inicio|date:"d/m/Y" }}</p>
<p>Data de Término: {{ proposta_projeto.data_fim|date:"d/m/Y" }}</p>
<p>Resumo Proposta: {{ proposta_projeto.resumo_proposta }}</p>
<p>Objetivos Gerais: {{ proposta_projeto.objetivos_gerais }}</p>
<p>Objetivos Específicos: {{ proposta_projeto.objetivos_especificos }}</p>
<p>Metodologia: {{ proposta_projeto.metodologia }}</p>
<p>Formato Conteúdo: {{ proposta_projeto.formato_conteudo }}</p>
<p>Justificativas: {{ proposta_projeto.justificativas }}</p>
<p>Resultados Esperados: {{ proposta_projeto.resultados_esperados }}</p>
<p>Fontes Apoio: {{ proposta_projeto.fontes_apoio }}</p>
<p>Informações Adicionais: {{ proposta_projeto.informacoes_adicionais }}</p>
<p>Público Alvo: {{ proposta_projeto.publico_alvo }}</p>

<h3>Orçamento</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Descricao</th>
            <th>Tipo</th>
            <th>Quantidade</th>
            <th>Unidade</th>
            <th>Valor</th>
            <th>Valor Total</th>
        </tr>
    </thead>
    <tbody>
    {% for item in proposta_projeto.orcamento.items.all %}
        <tr>
            <td>{{ item.descricao }}</td>
            <td>{{ item.tipo }}</td>
            <td>{{ item.quantidade }}</td>
            <td>{{ item.unidade }}</td>
            <td>{{ item.valor }}</td>
            <td>{{ item.valor_total }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h3>Equipe</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Função</th>
            <th>Instituicao</th>
            <th>Pessoa</th>
        </tr>
    </thead>
    <tbody>
    {% for membro in proposta_projeto.equipe.all %}
        <tr>
            <td>{{ membro.role }}</td>
            <td>{{ membro.instituicao }}</td>
            <td>{{ membro.pessoa.nome }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h3>Atividades</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data Realizacao</th>
            <th>Horario Inicio</th>
            <th>Local</th>
            <th>Publico Esperado</th>
        </tr>
    </thead>
    <tbody>
    {% for atividade in proposta_projeto.atividades.all %}
        <tr>
            <td>{{ atividade.nome }}</td>
            <td>{{ atividade.data_realizacao_inicio }}</td>
            <td>{{ atividade.horario_inicio }}</td>
            <td>{{ atividade.local }}</td>
            <td>{{ atividade.publico_esperado }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<script>
    $("#submitJustificativa").click(function(e) {
        e.preventDefault();
        var justificativa = $("#justificativa").val();
        var data = { justificativa: justificativa, status: 'devolvida' };
    
        updatePropostaProjeto('{{ proposta_projeto.id }}', data, function(response) {
            $('#devolverModal').modal('hide');
        }, function(error) {
            console.error(error);
        });
    });
    </script>
{% endblock content %}
