{% extends "base.html" %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-success">Cadastro de Pessoa</h6>
    </div>
    <div class="card-body">
        <form action="/auth-user/login-user" method="POST">{% csrf_token %}
            <div class="form-group row">
                <div class="col-12">
                    <label><b>Usuario:</b></label>
                    <input style="background-color: rgb(12, 80, 75); color:#fff;" 
                    type="text" 
                    class="form-control" 
                    id="username" 
                    name="username" 
                    placeholder="" 
                    required>
                </div>
                <div class="col-12">
                    <label><b>Senha:</b></label>
                    <input style="background-color: rgb(12, 80, 75); color:#fff;" 
                    type="password" 
                    class="form-control" 
                    id="password" 
                    name="password" 
                    placeholder="" 
                    required>
                </div>
            </div>
            <button type="submit" class="btn btn-success btn-user btn-block">Logar</button>
 
        </form>

    
    </div>
</div>

{% endblock content %}