<h4>Proposta para o projeto, <strong>{{ titulo_projeto }}</strong>!</h4>
<p>Foi submetida para análise!</p>
<span>Proponente: <strong>{{nome_proponente}}</strong></span>
<div>
    <a href="{{proposta_url}}" 
    target="_blank" 
    style="
    color: #fff; 
    background-color: #337ab7; 
    border-color: #2e6da4; 
    display: inline-block; 
    padding: 6px 12px; 
    margin-bottom: 0; 
    font-size: 14px; 
    font-weight: normal; 
    line-height: 1.42857143; 
    text-align: center; 
    white-space: nowrap; 
    vertical-align: middle; 
    cursor: pointer; 
    border: 1px solid transparent; 
    border-radius: 4px;">Clique aqui para visualizar a proposta</a>
</div>