[user]
	name = Gustavo Côrtes
	email = gpcortes@gmail.com
[author]
	name = Gustavo Côrtes
	email = gpcortes@gmail.com
[committer]
	email = gpcortes@gmail.com
	name = Gustavo Côrtes
[credential]
	helper = "!f() { /home/appuser/.vscode-server/bin/704ed70d4fd1c6bd6342c436f1ede30d1cff4710/node /tmp/vscode-remote-containers-bc456948-54af-48cb-a39f-8c881b03bb3c.js git-credential-helper $*; }; f"
