[user]
	name = Gustavo Côrtes
	email = gpcortes@gmail.com
[author]
	name = Gustavo Côrtes
	email = gpcortes@gmail.com
[committer]
	email = gpcortes@gmail.com
	name = Gustavo Côrtes
[credential]
	helper = "!f() { /home/vscode/.vscode-server/bin/f1b07bd25dfad64b0167beb15359ae573aecd2cc/node /tmp/vscode-remote-containers-7ddbffca-8678-4ec1-8171-abb3eb08cd90.js git-credential-helper $*; }; f"
