<form id="form-alocacao-membro-equipe-container-{{alocacao.id}}">
    <div id="form-container-{{alocacao.id}}">
        <div class="form-group row">
            <div class="col-12">
                {% if read_only == True %}
                <span><strong>{{alocacao.membroExecucao.pessoa.nome}}</strong></span>
                {% else %}
                <label for="nome"><b>Membro da Equipe</b></label>
                <div id="select-alocacao-membro-equipe-{{alocacao.id}}" 
                data-membro-equipe-id="{{alocacao.membroExecucao_id}}">
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row align-items-center ">
            <div class="col-3">
                <label for="nome"><b>Função </b></label>
                <input type="text" class="form-control" {% if read_only == True %} disabled {% endif %}
                data-id="{{alocacao.id}}" data-current-value="{{alocacao.funcao|default_if_none:''}}"
                value="{{alocacao.funcao|default_if_none:''}}" id="funcao" name="funcao">
            </div>
            <div class="col-2">
                <label for="nome"><b>Carga horária</b></label>
                <input type="number" step="0.01" class="form-control" {% if read_only == True %} disabled {% endif %}
                data-id="{{alocacao.id}}" data-current-value="{{alocacao.cargaHoraria|default_if_none:''}}"
                value="{{alocacao.cargaHoraria|default_if_none:''}}" id="cargaHoraria" name="cargaHoraria">
            </div>
            <div class="col-3">
                <label for="nome"><b>Tipo Contratação</b></label>
                <select class="form-control" {% if read_only == True %} disabled {% endif %}
                data-id="{{alocacao.id}}" data-current-value="{{alocacao.tipoContratacao|default_if_none:''}}"
                value="{{alocacao.tipoContratacao|default_if_none:''}}" id="tipoContratacao" name="tipoContratacao">
                    <option value="" {% if alocacao.tipoContratacao == '' %} selected {% endif %}>Selecione uma opção</option>
                    <option value="voluntario" {% if alocacao.tipoContratacao == 'voluntario' %} selected {% endif %}>Voluntário</option>
                    <option value="rpa" {% if alocacao.tipoContratacao == 'rpa' %} selected {% endif %}>RPA</option>
                    <option value="efetivo" {% if alocacao.tipoContratacao == 'efetivo' %} selected {% endif %}>Efetivo</option>
                    <option value="outro" {% if alocacao.tipoContratacao == 'outro' %} selected {% endif %}>Outro</option>
                </select>
            </div>
            <div class="col-3" id="numero-matricula-container-{{alocacao.id}}">
                <label for="nome"><b>Número de matricula</b></label>
                <input type="text" step="0.01" class="form-control" {% if read_only == True %} disabled {% endif %}
                data-id="{{alocacao.id}}" data-current-value="{{alocacao.numero_matricula|default_if_none:''}}"
                value="{{alocacao.numero_matricula|default_if_none:''}}" id="numero_matricula" name="numero_matricula">
            </div>
            <div class="col-1">
                {% if not read_only %}
                <button type="button" 
                data-toggle="tooltip" data-placement="top" title="remover alocação"
                class="btn btn-danger btn-sm mt-2" 
                id="btn-remove-alocacao-membro-equipe-{{alocacao.id}}">
                    <i class="fas fa-trash"></i>
                </button>
                {% endif %}
            </div>
        </div>
        <input hidden type="text" id="parent-data" name="parent-data">
    </div>
</form>
<script>
    $(document).ready(function () {
        (function (params) {
            let formContainer = $("#form-container-" + params.alocacaoId);
            let membro_equipe_ready = false;

            function setupFormReady(field) {
                if (field == 'membro_equipe') {
                    $('#select-alocacao-membro-equipe-' + params.alocacaoId).append(customSelectMembroEquipe.element);
                    membro_equipe_ready = true;
                }

                if (membro_equipe_ready) {
                    formContainer[0].getValue = function () {
                        var membroEquipe = {}
    
                        formContainer.find("input").each(function () {
                            var name = $(this).attr('name');
                            membroEquipe[name] = $(this).val();
                        });
    
                        return membroEquipe;
                    }
    
                    formContainer.find("input, textarea, select").each(function () {
                        let includedField = ['funcao', 'cargaHoraria', 'horario_inicio','tipoContratacao', 'publico_esperado', 'numero_matricula'];
                        if (!includedField.includes($(this).attr('name'))) return;
                        let eventName = $(this).is('select') ? 'change' : 'focusout';
                        $(this).on(eventName, function () {
                            var name = $(this).attr('name');
                            var value = $(this).val();
                            let data = {}
                            let current_value = $(this).data('current-value');
                            data[name] = value;
                            if (name == 'tipoContratacao' && value == 'efetivo') {
                                $("#numero-matricula-container-" + params.alocacaoId).find("input").attr("disabled", false);
                            } else if (name == 'tipoContratacao' && value != 'efetivo') {
                                $("#numero-matricula-container-" + params.alocacaoId).find("input").attr("disabled", true);
                                $("#numero-matricula-container-" + params.alocacaoId).find("input").val('');
                            }

                            if (current_value == value || !params.alocacaoId) return;
                            updateAlocacao(params.alocacaoId, 
                            data, 
                            function (response) {
                                setFormFields(response, `from ${eventName} ${$(this).attr('name')}`);
                                showFloatingMessage("Atividade atualizada com sucesso!", "alert-success")
                            }, function (error) {
                                showFloatingMessage("Erro ao atualizar atividade!", "alert-danger")
                                $(this).val(current_value);
                            });
                        });
                    });
                }
            }

            function setFormFields(alocacaoJson, from) {
                let numero_matricula = alocacaoJson['membroExecucao']['pessoa']['numero_matricula']
                let roles = alocacaoJson['membroExecucao']['roles']
                let horario_inicio = alocacaoJson['atividade']['horario_inicio']
                let horario_fim = alocacaoJson['atividade']['horario_fim']

                professorRole = roles.filter(function (role) {
                    return role['slug'] == 'professor'
                }) 

                if (professorRole.length > 0) {
                    formContainer.find("#funcao").val(roles[0]['nome'])
                } else if (roles.length > 0) {
                    formContainer.find("#funcao").val(roles[0]['nome'])
                }

                if (horario_inicio && horario_fim) {
                    let startTimeArray = horario_inicio.split(':');
                    let endTimeArray = horario_fim.split(':');
                
                    let startDate = new Date();
                    startDate.setHours(startTimeArray[0], startTimeArray[1], 0, 0);
                
                    let endDate = new Date();
                    endDate.setHours(endTimeArray[0], endTimeArray[1], 0, 0);
                
                    let differenceInHours = (endDate - startDate) / (1000 * 60 * 60);
                    formContainer.find("#cargaHoraria").val(differenceInHours)
                }

                if (numero_matricula) {
                    formContainer.find("#numero_matricula").val(numero_matricula)
                    formContainer.find("#numero_matricula").attr("disabled", false);
                    formContainer.find("#tipoContratacao").val('efetivo')
                }

                updateAlocacao(params.alocacaoId,
                    {
                        funcao: formContainer.find("#funcao").val(),
                        cargaHoraria: formContainer.find("#cargaHoraria").val(),
                        numero_matricula: formContainer.find("#numero_matricula").val(),
                        tipoContratacao: formContainer.find("#tipoContratacao").val(),
                    },
                    function (response) {
                        console.log("response", response)
                    }, function (error) {
                        console.log("error", error)
                    }   
                )
            }

            const customSelectMembroEquipe = new CustomSelectMultiple(null, {
                label: "Responsável",
                multiple: false,
                readOnly: params.readOnly,
                selectedOptions: params.membroExecucaoId ? [parseInt(params.membroExecucaoId)] : [],
                loadOptions: function () {
                    return selectDataService.fetchData(
                        'membros_equipe', 
                        () => getMembrosExecucao({atividade_id: params.atividadeId})
                    );
                }
            }, function () {
                setupFormReady('membro_equipe');
                customSelectMembroEquipe.element.on('change', function (event) {
                    const selectedOptions = event.detail;
                    if (selectedOptions.length == 0) return
                    let data = {
                        membro_execucao_id: selectedOptions[0]
                    }

                    updateAlocacao(params.alocacaoId, 
                    data, 
                    function (response) {
                        customSelectMembroEquipe.setValue(data.membro_execucao_id, false);
                        setFormFields(response, `from change on select multiple`);
                        showFloatingMessage("Atividade atualizada com sucesso!", "alert-success")
                    }, function (error) {
                        showFloatingMessage("Erro ao atualizar atividade!", "alert-danger")
                        $(this).val(current_value);
                    });
                });
            });

            $("#btn-remove-alocacao-membro-equipe-" + params.alocacaoId).on('click', function () {
                if (!params.alocacaoId) {
                    formContainer.remove();
                    return;
                }

                removeAlocacao(params.alocacaoId, function (response) {
                    formContainer.remove();
                    showFloatingMessage("Alocação removida com sucesso!", "alert-success")
                }, function (error) {
                    showFloatingMessage("Erro ao remover alocação!", "alert-danger")
                });
            });

            selectDataService.addObserver('membros_equipe', function () {
                customSelectMembroEquipe.init();
            });

        })({
            atividadeId: '{{alocacao.atividade_id}}',
            alocacaoId: '{{alocacao.id}}',
            membroExecucaoId: '{{alocacao.membroExecucao_id}}',
            readOnly: '{{read_only}}'
        })
    });
</script>