<div class="modal fade" id="cadastrarAlocacaoModal" tabindex="-1" role="dialog"
    aria-labelledby="cadastrarAlocacaoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alocarPessoaModalLabel">
                    {% if alocacao %}
                        Editar Alocação
                    {% else %}
                        Cadastrar Alocação
                    {% endif %}
                </h5>
                <button type="button" id="dismissAlocarPessoa" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="w-100">
                    <form id="cadastrarAlocacaoForm" action="/" method="POST">
                        <div class="row d-flex justify-content-start px-2 pb-2">
                            <div class="d-flex justify-content-start align-items-start">
                                <span style="font-size: 1.2rem;"> {{ alocacao.professor.nome }} <strong> ({{ alocacao.professor.cargo }}(a))</strong></span>
                                <input hidden type="text" 
                                id="pessoa_id-{{pessoa.id}}" 
                                name="professor_id" 
                                value="{{pessoa.id}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <input hidden type="text"  
                            name="professor_id" 
                            value="{{alocacao.professor.id}}">
                            <input hidden type="text" 
                            name="acaoEnsino_id" 
                            value="{{alocacao.acaoEnsino.id}}">
                            <div class="col-sm-3">
                                <label><b>Curso:</b></label>
                                <select required 
                                class="form-control" 
                                id="curso-{{pessoa.id}}" 
                                name="curso_id">
                                    {% for curso in alocacao.professor.cursos %}
                                    <option value="{{curso.id}}" 
                                    {% if curso.id == alocacao.curso.id %}selected="selected"{% endif %}>
                                        {{curso.nome}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label><b>Inicio do Curso:</b></label>
                                <input 
                                type="date" 
                                {% if alocacao %}
                                value="{{ alocacao.data_inicio}}" 
                                {% endif %}
                                class="form-control" 
                                id="data_inicio-{{pessoa.id}}"
                                name="data_inicio">
                            </div>
                            <div class="col-sm-3">
                                <label><b>Fim do Curso:</b></label>
                                <input 
                                type="date" 
                                {% if alocacao %}
                                value="{{ alocacao.data_fim}}" 
                                {% endif %}
                                class="form-control" 
                                id="data_fim-{{pessoa.id}}"
                                name="data_fim">
                            </div>

                            <div id="alocacaoFormSelectCidade" class="col-sm-3">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label><b>Cod. SIGA:</b></label>
                                <input
                                type="text" 
                                {% if alocacao %}
                                value="{{ alocacao.codigo_siga|default_if_none:""}}" 
                                {% endif %}
                                class="form-control"
                                id="codigo_siga-{{pessoa.id}}"
                                name="codigo_siga">
                            </div>
                            <div class="col-sm-2">
                                <label><b>Matriculados:</b></label>
                                <input
                                type="text" 
                                {% if alocacao %}
                                value="{{ alocacao.quantidade_matriculas|default_if_none:""}}" 
                                {% endif %}
                                class="form-control"
                                id="quantidade_matriculas-{{pessoa.id}}"
                                name="quantidade_matriculas">
                            </div>
                            <div class="col-sm-2 d-flex justify-content-start align-items-end">
                                <div>
                                    <input id="aulas_sabado" 
                                    type="checkbox" 
                                    {% if alocacao %}
                                    {% if alocacao.aulas_sabado %}checked{% endif %}
                                    {% endif %}
                                    name="aulas_sabado">
                                    <label><b>Haverá aulas Sábado</b></label>
                                </div>
                            </div>
                            <div id="alocacaoFormSelectTurno" class="col-sm-6">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label><b>Datas Removidas:</b></label>
                                {% include 'componentes/datasRemovidasInput/datasRemovidasInput.html' with id=alocacao.id datasRemovidas=alocacao.dataremovida_set is_editing='true' %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label><b>logradouro:</b></label>
                                <input 
                                type="text" 
                                {% if alocacao %}
                                value="{{ alocacao.logradouro|default_if_none:""}}" 
                                {% endif %}
                                class="form-control" 
                                id="logradouro-{{pessoa.id}}"
                                name="logradouro">
                            </div>
                            <div class="col-sm-3">
                                <label><b>bairro:</b></label>
                                <input 
                                type="text" 
                                {% if alocacao %}
                                value="{{ alocacao.bairro|default_if_none:""}}" 
                                {% endif %}
                                class="form-control" 
                                id="bairro-{{pessoa.id}}"
                                name="bairro">
                            </div>
                            <div class="col-sm-4">
                                <label><b>complemento:</b></label>
                                <input 
                                type="text" 
                                {% if alocacao %}
                                value="{{ alocacao.complemento|default_if_none:""}}" 
                                {% endif %} 
                                class="form-control" 
                                id="complemento-{{pessoa.id}}"
                                name="complemento">
                            </div>
                            <div class="col-sm-2">
                                <label><b>cep:</b></label>
                                <input 
                                type="text"
                                {% if alocacao %}
                                value="{{ alocacao.cep|default_if_none:""}}" 
                                {% endif %} 
                                class="form-control" 
                                id="cep-{{pessoa.id}}"
                                name="cep">
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                {% if alocacao %}
                <button
                onclick="editarAlocacao({{alocacao.id}})"
                type="button"
                class="btn btn-primary">
                    </span>
                    <span>Editar</span>
                </button>
                {% else %}
                <button
                onclick="cadastrarAlocacao()"
                type="button"
                class="btn btn-primary">
                    </span>
                    <span>Cadastrar</span>
                </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{{ alocacao.turnos|json_script:"turnos_script" }}
<script>
    formId = "cadastrarAlocacaoForm"
    alocacaoModelId = "alocacaoModelId"
    var alocacaoFormSelectCidadeId = "alocacaoFormSelectCidade"
    var alocacaoFormSelectTurnoId = "alocacaoFormSelectTurno"
    var selectedCidadeId = "{% if alocacao.cidade.id %}{{alocacao.cidade.id}}{% endif %}"
    var selectedTurnos = JSON.parse($("#turnos_script").text())

    function getTurnosSelectData() {
        let turnosId = [] 
        let turnosInputs = $("input[name^='turnos'")
        turnosInputs.each(function() {
            if ($(this).is(':checked')) {
                turnosId.push($(this).val())
            }
        })
        return turnosId
    }

    function getRemovedDatesValues(pessoaId) {
        const chips = $(`#removed_dates-${pessoaId} .chips .chip`);
        const values = [];
        chips.each((index, chip) => {
            const chipText = $(chip).text();
            const date = moment(chipText, "DD/MM/YYYY");
            values.push(date.format("YYYY-MM-DD"));
        });
        return values;
    }

    function getCheckBoxValue(id) {
        return $("#"+id).is(':checked')
    }

    function updateSelectedCidade() {
        if (selectedCidadeId) {
            let cidade = $("#cidade_id").val(selectedCidadeId);
        }
    }
    
    function updateSelectedTurnos(turnos) {
        setTimeout(() => {  
            $("input[name='turnos']").each(function (i, elem) {
                for (let index = 0; index < turnos.length; index++) {
                    const selectedId = turnos[index]["id"];
                    if ($(elem).val() == selectedId) $(elem).trigger("click");
                }
            })
        }, 200);
    }

    function carregarSelectCidades() {
        $.ajax({
            url: "/cidadesSelect",
            method: "GET",
            success: function (data) {
                $("#"+alocacaoFormSelectCidadeId).html(data)
                updateSelectedCidade()
            }
        });
    }
    
    function carregarSelectTurnos() {
        $.ajax({
            url: "/turnosSelect",
            method: "GET",
            success: function (data) {
                $("#"+alocacaoFormSelectTurnoId).html(data)
                updateSelectedTurnos(selectedTurnos)
            }
        });
    }

    function clearModalForm(changedResource = null) {
        document.getElementById(formId).reset();

        if (changedResource) {
            if (typeof alocacaoModificadaEventProxy !== "undefined") {
                alocacaoModificadaEventProxy.modificado = changedResource
            } else {
                carregarAlocacoes()
                $('#cadastrarAlocacaoModal').modal('hide');
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
            }
        }
        if (changedResource) $("#dismissCadastrarAlocacao").click()
    }

    function cadastrarAlocacao(data) {
        $.ajax({
            url: "/saveAlocacao",
            data: JSON.stringify({"data":data}),
            headers: { "X-CSRFToken":  '{{ csrf_token }}' },
            dataType: "json",
            contentType: 'application/json',
            method: "POST",
            success: function (data) {
                clearModalForm(data)
            }
        });
    }
    
    function editarAlocacao(alocacaoId) {
        let formdata = getFormData()
        console.log(formdata)
        $.ajax({
            url: "/editarAlocacao/"+alocacaoId,
            data: JSON.stringify({"data":formdata}),
            headers: { "X-CSRFToken":  '{{ csrf_token }}' },
            dataType: "json",
            contentType: 'application/json',
            method: "PUT",
            success: function (data) {
                clearModalForm(data)
            }
        });
    }

    function getFormData() {
        let form = $('#'+formId)
        var unindexed_array = form.serializeArray();
        enderecoFields = ["logradouro", "bairro", "cep", "complemento", "cidade_id"]
        var values = {};
        var endereco = {}
        $.map(unindexed_array, function (n, i) {
            if (enderecoFields.includes(n['name'])) {
                endereco[n['name']] = n['value']
            } 
            values[n['name']] = n['value'];
        });
        values["endereco"] = endereco
        values["aulas_sabado"] = getCheckBoxValue("aulas_sabado")
        values["turnos"] = getTurnosSelectData()
        values["datas_removidas"] = getRemovedDatesValues(values["pessoa_id"])
        return values
    }

    $(document).ready(function () {
        $("#cadastrarAlocacaoModal").on('hide.bs.modal', function(){
            console.log()
            let pessoaId = $("#"+alocacaoModelId).text()
            if (pessoaId) {
                clearModalForm()
            }
        });
        carregarSelectCidades()
        carregarSelectTurnos()
    });
</script>