<div class="w-100">
    <form id="cadastraracaoForm" action="/" method="POST">
        <div class="form-group row">
            <div class="col-sm-6">
                <label><b>Tipo:</b></label>
                <select required 
                id="tipo"
                class="form-control" 
                name="tipo">
                    <option
                    value="">
                        Selecione uma opção
                    </option>
                    <option
                    {% if acao and acao.tipo == "emprestimo" %} selected {% endif %}
                    value="emprestimo">
                        EMPRÉSTIMO
                    </option>
                    <option 
                    {% if acao and acao.tipo == "curso_gps" %} selected {% endif %} 
                    value="curso_gps">
                        CURSO GPS
                    </option>
                    <option 
                    {% if acao and acao.tipo == "feirao" %} selected {% endif %} 
                    value="feirao">
                        FEIRÃO
                    </option>
                    <option 
                    {% if acao and acao.tipo == "outro" %} selected {% endif %}
                    value="outro">
                        OUTRO
                    </option>
                </select>
            </div>
            <div class="col-sm-6">
                {% if acao %}
                {% include 'escolas/escolas_select.html' with escola_id=acao.escola.id escolas=escolas %}
                {% else %}
                {% include 'escolas/escolas_select.html' %}
                {% endif %}
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-sm-12">
                <label><b>Descrição:</b></label>
                <input 
                type="text" 
                name="descricao" 
                class="form-control" 
                {% if acao %}
                value="{{acao.descricao}}"
                {% endif %}>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                <label><b>Data Início:</b></label>
                <input 
                type="date" 
                name="data_inicio" 
                class="form-control" 
                {% if acao %}
                value="{{acao.data_inicio}}"
                {% endif %}>
            </div>
            <div class="col-sm-3">
                <label><b>Data Fim:</b></label>
                <input 
                type="date" 
                name="data_fim" 
                class="form-control" 
                {% if acao %}
                value="{{acao.data_fim}}"
                {% endif %}>
            </div>
            <div id="select_cidade" class="col-sm-3">
            </div>
            <div class="col-sm-3">
                <label><b>CEP:</b></label>
                <input 
                type="text" 
                name="cep" 
                id="cep" 
                class="form-control" 
                {% if acao %}
                value="{{acao.cep}}"
                {% endif %}>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <label><b>Bairro:</b></label>
                <input 
                type="text" 
                name="bairro" 
                id="bairro" 
                class="form-control" 
                {% if acao %}
                value="{{acao.bairro}}"
                {% endif %}>
            </div>
            <div class="col-sm-4">
                <label><b>Logradouro:</b></label>
                <input 
                type="text" 
                name="logradouro" 
                id="logradouro" 
                class="form-control" 
                {% if acao %}
                value="{{acao.logradouro}}"
                {% endif %}>
            </div>
            <div class="col-sm-4">
                <label><b>Complemento:</b></label>
                <input 
                type="text" 
                name="complemento" 
                id="complemento" 
                class="form-control" 
                {% if acao %}
                value="{{acao.complemento}}"
                {% endif %}>
            </div>
        </div>
    </form>
</div>
{{ escolas|json_script:"escolas-script" }}
<script>
    var cidade_id = "{% if acao %}{{acao.cidade.id}}{% else %}{% endif %}";
    var escolas = JSON.parse(document.getElementById("escolas-script").textContent);

    function carregarSelectCidades(cidade_id) {
        $.ajax({
            url: "/cidadesSelect",
            method: "GET",
            data: {cidade_id: cidade_id},
            success: function (data) {
                $("#select_cidade").html(data)
                $("#select_cidade").children("select").on("change", function () {
                    $("collapse_endereco_")
                });
            }
        });
    }
    
    function getCheckBoxValue(id) {
        return $("#"+id).is(':checked')
    }

    function bindEnderecoFields(escolaId) {
        let escola = escolas.find(escola => escola.id == escolaId)
        if (escola && getCheckBoxValue("use_select_value")) {
            $("#logradouro").val(escola.logradouro).trigger("change")
            $("#bairro").val(escola.bairro).trigger("change")
            $("#cep").val(escola.cep).trigger("change")
            $("#complemento").val(escola.complemento).trigger("change")
            $("#cidade_id").val(escola.cidade.id).trigger("change")
        }
    } 

    function carregarSelectEscolas() {
        $.ajax({
            url: "/escolasSelect",
            method: "GET",
            success: function (data) {
                $("#acaoFormSelectCidade").html(data)
                $("#escola_id").change(function (val) {
                    let selectedEscola = $(this).val() 
                    bindEnderecoFields(selectedEscola)
                })

                $("#use_select_value").change(function (val) {
                    let selectedEscola = $("#escola_id").val() 
                    bindEnderecoFields(selectedEscola)
                })
            }
        });
    }

    $(document).ready(function () {
        carregarSelectCidades(cidade_id)
        carregarSelectEscolas()
    })
</script>