<form id="form-recurso-container-{{recurso.id}}">
    <div id="form-container-{{recurso.id}}">
        <div class="form-group row">
            <div class="col-6">
                <div class="d-flex justify-content-between mb-0">
                    <label for="recurso"><b>Nome</b></label>
                    <div class="mb-2">
                        <input type="checkbox" id="em_estoque_{{recurso.id}}" name="em_estoque" 
                        {% if recurso.em_estoque %} checked {% endif %}>
                        <label for="em_estoque_{{recurso.id}}" class="mb-0">Em estoque</label>
                    </div>
                </div>
                <input type="text" class="form-control" {% if read_only == True %} disabled {% endif %}
                data-id="{{recurso.id}}" data-current-value="{{recurso.nome|default_if_none:''}}"
                value="{{recurso.nome|default_if_none:''}}" id="nome" name="nome">
            </div>
            <div class="col-3">
                <label for="recurso"><b>Unidade</b></label>
                <input type="text" class="form-control" {% if read_only == True %} disabled {% endif %}
                    data-id="{{recurso.id}}" data-current-value="{{recurso.unidade|default_if_none:''}}"
                    value="{{recurso.unidade|default_if_none:''}}" id="unidade" name="unidade">
            </div>

            <div class="col-3">
                <label for="recurso"><b>Quantidade</b></label>
                <input type="number" step="1" class="form-control" {% if read_only == True %} disabled {% endif %}
                    data-id="{{recurso.id}}" data-current-value="{{recurso.quantidade|default_if_none:''}}"
                    value="{{recurso.quantidade|default_if_none:''}}" id="quantidade" name="quantidade">
            </div>
        </div>
    </div>
</form>
