.link-back {
    color: #0c504b;
}

.link-back:hover {
    color: #1cc88a;
}

.logout-last li:last-child{
    bottom: 20px;
    height: 22px;
    position: fixed;
}

.scroll-custom::-webkit-scrollbar {
    width: 4px;
}

.scroll-custom::-moz-scrollbar {
    width: 4px;
}

.scroll-custom::-ms-scrollbar {
    width: 4px;
}

.scroll-custom::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.scroll-custom::-moz-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.scroll-custom::-ms-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.scroll-custom::-webkit-scrollbar-button {
    display: none;
}

.scroll-custom::-moz-scrollbar-button {
    display: none;
}

.scroll-custom::-ms-scrollbar-button {
    display: none;
}

    
.info-danger {
    color: #dc3545;
}

.info-success {
    color: #28a745;
}

.info-warning {
    color: #ffc107;
}

.custom-dropdown-multiple-input {
    cursor: pointer;
}

.custom-dropdown-multiple-selected-item {
    
    background-color: #28a745;
    color: #fff;
    
}

.custom-dropdown-multiple-item-hover {
    background-color: #1cc88a;
    color: #fff;
    transform: scale(1.01);
}

/* Base style for the time input */
input[type="time"] {
    position: relative;
}

/* Style for the time input with validation error */
input[type="time"].error::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 2em;  /* Adjust to cover the clock icon */
    background-color: rgba(255, 0, 0, 0.5); /* Semi-transparent red */
    pointer-events: none;  /* Ensure the input is still usable */
}

.w-5-p {
    width: 5%;
}

.w-10-p {
    width: 10%;
}

.w-15-p {
    width: 15%;
}

.w-20-p {
    width: 20%;
}

.w-25-p {
    width: 25%;
}

.w-30-p {
    width: 30%;
}

.w-35-p {
    width: 35%;
}

.w-40-p {
    width: 40%;
}

.w-45-p {
    width: 45%;
}

.w-50-p {
    width: 50%;
}

.w-55-p {
    width: 55%;
}

.w-60-p {
    width: 60%;
}

.w-65-p {
    width: 65%;
}

.w-70-p {
    width: 70%;
}

.w-75-p {
    width: 75%;
}

.w-80-p {
    width: 80%;
}

.w-85-p {
    width: 85%;
}

.w-90-p {
    width: 90%;
}

.w-95-p {
    width: 95%;
}

.w-100-p {
    width: 100%;
}
