.br {
    border: 1px solid red;
}

.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-45 {
    width: 45%;
}

.w-50 {
    width: 50%;
}

.w-55 {
    width: 55%;
}

.w-60 {
    width: 60%;
}

.w-65 {
    width: 65%;
}

.w-70 {
    width: 70%;
}

.w-75 {
    width: 75%;
}

.w-80 {
    width: 80%;
}

.w-85 {
    width: 85%;
}

.w-90 {
    width: 90%;
}

.w-95 {
    width: 95%;
}

.w-100 {
    width: 100%;
}

.w-2 {
    width: 2%;
}

.justify-start {
    display: flex;
    justify-content: flex-start;
}

.btn-group-custom button {
    background-color: #fff;
    /* Green background */
    border: 1px solid #e3e6f0;
    /* Green border */
    color: #343a40;
    /* White text */
    padding: 10px 24px;
    /* Some padding */
    cursor: pointer;
    /* Pointer/hand icon */
    float: left;
    /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group-custom {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.btn-group-custom button:not(:last-child) {
    border-bottom: none;
    /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group-custom button:hover {
    background-color: #e3e6f0;
}

.btn-group-custom button.delete-btn:hover {
    background-color: #df4759;
    color: white;
}

.btn-circle {
    border: none;
    outline: inherit;
    background-color: #fff;
    width: auto;
    height: 100%;
    padding: 13px 18px;
    border-radius: 60px;
    font-size: 15px;
    text-align: center;
    transition: background-color 0.1s;
}

.btn-cadastrar {
    border: none;
    outline: inherit;
    color: white;
    background-color: #1cc88a;
    width: auto;
    height: 100%;
    padding: 13px 18px;
    border-radius: 60px;
    font-size: 15px;
    text-align: center;
    transition: background-color 0.1s;
}

.btn-cadastrar:hover {
    background-color: #15865d;
    transition: background-color 0.1s;
}

.btn-circle:active {
    background-color: #ececec;
    transition: background-color 0.1s;
}

.active-form-tab {
    background-color: #15865d;
    color: white;
}

/* TABLE HEADERS */
.clickable-column:hover {
    cursor: pointer;
}

.clickable-column:hover.order-by-up i.arrow-up,
.clickable-column:hover.order-by-down i.arrow-down {
    color: #858796;
    transform: scale(1.2);
}

.clickable-column:hover.order-by-up i.arrow-up.current-order-by,
.clickable-column:hover.order-by-down i.arrow-down.current-order-by {
    color: #000;
    transform: scale(1.2);
}

.order-by-up i.arrow-up {
    color: #858796;
    display: inline;
}

.order-by-up i.arrow-down {
    color: #858796;
    display: none;
}

.order-by-down i.arrow-up {
    color: #858796;
    display: none;
}

.order-by-down i.arrow-down {
    color: #858796;
    display: inline;
}

*.order-by-up i.current-order-by,
*.order-by-down i.current-order-by,
span.column-label.current-order-by {
    color: #000;
}

/* INPUT FILTERS */
.filter-label {
    line-height: 0;
    font-size: 0.8rem;
}

.custom-small-label {
    font-size: 0.7rem;
}

/* CUSTOM TABS */
.custom-tab-ul {
    background-color: white;
    display: flex;
    justify-content: space-between;
    color: white;
}

.custom-tab-ul>li {
    flex: 1 1 0;
}

.custom-tab-ul a.nav-link {
    background-color: #15865d;
    color: white;
    border-radius: 0;
}

.custom-tab-ul a.nav-link.active {
    background-color: #1cc88a;
    color: white;
    border-radius: 0;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin: 0;
}