<div class="modal fade" id="cadastrarEventoModal" tabindex="-1" role="dialog"
    aria-labelledby="cadastrarEventoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cadastrarEventoModalLabel">
                    {% if evento is None %}
                        Cadastrar Evento
                        <span id="eventoModelId" hidden></span>
                    {% else %}
                        Editar Cadastro de: {{evento.nome}}
                        <span id="eventoModelId" hidden>{{evento.id}}</span>
                    {% endif %}
                </h5>
                <button type="button" 
                id="dismissCadastrarEvento" 
                class="close" 
                data-dismiss="modal" 
                aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="w-100">
                    <ul class="nav nav-tabs row">
                        <li id="eventoList1" class="col py-2 active-form-tab">
                            <a id="eventoMenuLink1" 
                            style="display: none;" 
                            href="#home">1</a>
                            <span>Dados Gerais</span>
                        </li>
                    </ul>
                    <form id="cadastrarEventoForm" action="/" method="POST">
                        <div class="tab-content">
                            <div id="home" class="tab-pane py-3 active">
                                <div class="form-group row">
                                    <div class="col-sm-8">
                                        <label><b>Descrição:</b></label>
                                        <input 
                                        type="text" 
                                        {% if evento %}
                                        value="{{evento.observacao}}" 
                                        {% endif %}
                                        class="form-control" 
                                        id="observacao" 
                                        name="observacao" 
                                        placeholder=""
                                        required>
                                    </div>
                                    <div class="col-sm-4">
                                        <label><b>Status:</b></label>
                                        <select required class="form-control" 
                                        id="status" name="status">
                                            <option 
                                            {% if evento %}
                                                {% if evento.status == 'planejamento' %}
                                                    selected
                                                {% endif %}
                                            {% endif %}
                                            value="planejamento">Planejamento</option>
                                            <option 
                                            {% if evento %}
                                                {% if evento.status == 'andamento' %}
                                                    selected
                                                {% endif %}
                                            {% endif %}
                                            value="andamento">Em Andamento</option>
                                            <option 
                                            {% if evento %}
                                                {% if evento.status == 'finalizado' %}
                                                    selected
                                                {% endif %}
                                            {% endif %}
                                            value="finalizado">Finalizado</option>
                                            <option 
                                            {% if evento %}
                                                {% if evento.status == 'adiado' %}
                                                    selected
                                                {% endif %}
                                            {% endif %}
                                            value="adiado">Adiado</option>
                                            <option 
                                            {% if evento %}
                                                {% if evento.status == 'cancelado' %}
                                                    selected
                                                {% endif %}
                                            {% endif %}
                                            value="cancelado">Cancelado</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <label><b>Data de Inicio:</b></label>
                                        <input 
                                        type="datetime-local"
                                        {% if evento %}
                                        value="{{ evento.data_inicio}}" 
                                        {% endif %}
                                        class="form-control" 
                                        id="data_inicio"
                                        name="data_inicio"
                                        placeholder=""
                                        required>
                                    </div>
                                    <div class="col-sm-4">
                                        <label><b>Data de Fim:</b></label>
                                        <input 
                                        type="datetime-local"
                                        {% if evento %}
                                        value="{{ evento.data_fim}}" 
                                        {% endif %}
                                        class="form-control" 
                                        id="data_fim"
                                        name="data_fim"
                                        placeholder=""
                                        required>
                                    </div>
                                    <div id="eventoFormSelectCidade" class="col-sm-4">
                                    </div>
                                </div>
                                {% if not evento %}
                                <div class="form-group row">
                                    <div class="col-sm-12" id="eventoFormSelectEnderecos">
                                    </div>
                                </div> 
                                {% endif %}
                                
                                <div
                                {% if not evento %}
                                style="display: none;" 
                                {% endif %}
                                class="dadosNovoEndereco form-group row">
                                    <div class="col-sm-4">
                                        <label><b>Logradouro:</b></label>
                                        <input 
                                        type="text" 
                                        class="form-control" 
                                        {% if evento %}
                                            {% if evento.logradouro %}
                                            value="{{evento.logradouro}}" 
                                            {% else %}
                                            value="{{evento.endereco.logradouro}}" 
                                            {% endif %}
                                        {% endif %}
                                        id="logradouro" 
                                        name="logradouro" 
                                        placeholder=""
                                        required>
                                    </div>
                                    <div class="col-sm-4">
                                        <label><b>Bairro:</b></label>
                                        <input 
                                        type="text" 
                                        class="form-control" 
                                        {% if evento %}
                                            {% if evento.bairro %}
                                            value="{{evento.bairro}}" 
                                            {% else %}
                                            value="{{evento.endereco.bairro}}" 
                                            {% endif %}
                                        {% endif %}
                                        id="bairro" 
                                        name="bairro" 
                                        placeholder=""
                                        required>
                                    </div>
                                    <div class="col-sm-4">
                                        <label><b>CEP: </b></label>
                                        <input 
                                        type="text" 
                                        class="form-control" 
                                        {% if evento %}
                                            {% if evento.cep %}
                                            value="{{evento.cep}}" 
                                            {% else %}
                                            value="{{evento.endereco.cep}}" 
                                            {% endif %}
                                        {% endif %}
                                        id="cep" 
                                        name="cep" 
                                        placeholder=""
                                        required>
                                    </div>
                                </div>
                                <div 
                                {% if not evento %}
                                style="display: none;" 
                                {% endif %}
                                class="dadosNovoEndereco form-group row">
                                    <div class="col-sm-12">
                                        <label><b>Complemento:</b></label>
                                        <input 
                                        type="text" 
                                        class="form-control" 
                                        {% if evento %}
                                            {% if evento.complemento %}
                                            value="{{evento.complemento}}" 
                                            {% else %}
                                            value="{{evento.endereco.complemento}}" 
                                            {% endif %}
                                        {% endif %}
                                        id="complemento" 
                                        name="complemento"
                                        placeholder="" 
                                        required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button
                {% if evento %}
                    onclick="processarEditarEvento({{evento.id}})" 
                {% else %}
                    onclick="processarCadastrarEvento()" 
                {% endif %}
                id="finishCadastroEvento" 
                type="button"
                class="btn btn-primary">
                {% if evento %}
                    <span>Salvar Alterações</span>
                {% else %}
                    <span>Cadastrar</span>
                {% endif %}
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    formId = "cadastrarEventoForm"
    eventoModelId = "eventoModelId"
    eventoFormSelectCidadeId = "eventoFormSelectCidade"
    eventoFormSelectEnderecosId = "eventoFormSelectEnderecos"
    selectedCidadeId = "{% if evento.cidade %}{{evento.cidade.id}}{% else %}{{evento.endereco.cidade.id}}{% endif %}"
    selectedEnderecoId = "{{evento.endereco.id}}"
    isEditing = "{{evento.id}}"

    function clearModalForm(changedResource = null) {
        document.getElementById(formId).reset();

        if (changedResource) eventoModificadaEventProxy.modificado = changedResource
        if (changedResource) $("#"+dismissCadastrarEventoId).click()
    }

    function cadastrarEvento(data) {
        $.ajax({
            url: "saveEvento",
            data: JSON.stringify({"data":data}),
            dataType: "json",
            headers: { "X-CSRFToken":  '{{ csrf_token }}' },
            contentType: 'application/json',
            method: "POST",
            success: function (data) {
                clearModalForm(data)
            }
        });
    }

    function processarCadastrarEvento() {
        let formData = getFormData()
        if (formData["endereco_id"] == "novo") {
            $.ajax({
                url: "saveEndereco",
                data: JSON.stringify({"data":formData["endereco"]}),
                dataType: "json",
                headers: { "X-CSRFToken":  '{{ csrf_token }}' },
                contentType: 'application/json',
                method: "POST",
                success: function (data) {
                    formData["endereco_id"] = data["id"]
                    cadastrarEvento(formData)
                }
            });
        } else {
            cadastrarEvento(formData)
        }
    }

    function editarEvento(eventoId, formData) {
        
        $.ajax({
            url: "editarEvento/"+eventoId,
            data: JSON.stringify({"data":formData}),
            headers: { "X-CSRFToken":  '{{ csrf_token }}' },
            dataType: "json",
            contentType: 'application/json',
            method: "PUT",
            success: function (data) {
                clearModalForm(data)
            }
        });
    }

    function getFormData() {
        let form = $('#'+formId)
        var unindexed_array = form.serializeArray();
        enderecoFields = ["logradouro", "bairro", "cep", "complemento", "cidade_id"]
        var values = {};
        var endereco = {}
        $.map(unindexed_array, function (n, i) {
            if (enderecoFields.includes(n['name'])) {
                endereco[n['name']] = n['value']
            }
            values[n['name']] = n['value'];
        });
        values["endereco"] = endereco
        console.log(values)
        return values
    }

    function updateSelectedCidade() {
        if (selectedCidadeId) {
            let cidade = $("#cidade_id").val(selectedCidadeId);
        }
    }

    function updateSelectedEndereco() {
        if (selectedEnderecoId) {
            console.log("dentro de update select de endereco", selectedEnderecoId)
            $("#endereco_id").val(selectedEnderecoId).change();
        }
    }

    function carregarSelectEnderecos(cidadeId = null) {
        let url = cidadeId ? "enderecosSelect?cidade_id="+cidadeId : "enderecosSelect" 
        $.ajax({
            url: url,
            method: "GET",
            success: function (data) {
                $("#"+eventoFormSelectEnderecosId).html(data)
                $("#endereco_id").change(function () {
                    let selectedValue = $(this).val() 
                    $(".dadosNovoEndereco").each(function(elem) {
                        if (selectedValue == "novo") $(this).show()
                        else $(this).hide()
                    })
                })
                updateSelectedEndereco()
            }
        });
    }

    function carregarSelectCidades() {
        $.ajax({
            url: "cidadesSelect",
            method: "GET",
            success: function (data) {
                $("#"+eventoFormSelectCidadeId).html(data)
                $("#cidade_id").change(function (val) {
                    carregarSelectEnderecos($(this).val())
                    if (!isEditing) {
                        $(".dadosNovoEndereco").each(function(elem) {
                            $(this).hide()
                        })
                    }
                })
                updateSelectedCidade()
            }
        });
    }
    
    function processarEditarEvento(eventoId) {
        let formData = getFormData()
        editarEvento(eventoId,formData)
    }

    $(document).ready(function () {
        $("#"+cadastrarEventoModalId).on('hide.bs.modal', function(){
            let pessoaId = $("#"+eventoModelId).text()
            if (pessoaId) {
                clearModalForm()
            }
        });
        console.log("selectedCidadeId: ", selectedCidadeId)
        carregarSelectCidades()
        maskValues()
    });
</script>