{% extends "base.html" %}

{% block content %}
<style>
    .cs-tab-link{
        color: gray;
        padding: 8px;
    }
    
    .cs-tab-link .active {
        background-color: #0c504b;
        border-radius: 5px 5px 0px 0px;
        padding: 8px 12px;
        color: white;
    }
    
    .cs-tab-link a{
        text-decoration: none;
        color: gray;
    }

    .cs-tab-link a:hover{
        text-decoration: none;
    }
</style>
<div class="card shadow mb-4 w-100">
    <div class="d-flex justify-content-between pt-3 px-2">
        <div class="d-flex flex-column">
            <div class="d-flex align-items-center ">
                <i class="fa-solid fa-location-dot "></i>
                <span class="ml-2">{{evento.endereco_completo}}</span>
            </div>
            <div class="d-flex align-items-center ">
                <i class="fa-solid fa-calendar-days"></i>
                 <span class="ml-2">de {{evento.data_inicio|date:"d-m-Y"}}  até </span>
                <span class="ml-2">{{evento.data_fim|date:"d-m-Y"}}</span>
            </div>
        </div>
        <div class="d-flex align-items-center ">
            <span class="{{evento.status_class}}">{{evento.status}}</span>
        </div>
    </div>
    <div class="card-body w-100">
        <ul class="nav nav-tabs w-100">
            <li class=" cs-tab-link active">
                <a id="linkDadosGerais" data-toggle="tab" href="#alocacoes">Alocações</a>
            </li>
        </ul>
        <div class="tab-content w-100">
            <div id="alocacoes" class="tab-pane active in">
                <div id="receberTabelaAlocacoes"></div>
            </div>
        </div>
    </div>
</div>
<div id="modalAlocacaoContainer"></div>
<script>
    let modalCadastrarAlocacaoContainerId = "modalCadastrarAlocacaoContainer"
    let buttonMenuAlocacoesId = "buttonMenuAlocacoes"
    let hiddenMenuAlocacoesId = "hiddenMenuAlocacoes"
    let cadastrarAlocacaoModalId = "cadastrarAlocacaoModal"
    let cadastrarAlocacaoFormId = "cadastrarAlocacaoForm"
    let dismissCadastrarAlocacaoId = "dismissCadastrarAlocacao"
    let rotaDeletarAlocacao = "eliminarAlocacao"
    let rotaModalAlocacao = "alocacaoModalCadastrar"
    let rotaVisualizarAlocacao = "visualizarAlocacao"
</script>
<script>
    let alocacaoModificadaEvent = {};
    let alocacaoModificadaEventProxy = null
    let idTabelaAlocacoes = "receberTabelaAlocacoes"
    let rotaTabelaAlocacoes = "alocacoesTable"
    let eventoId = "{{evento.id}}" 

    function deleteAlocacao(id) {
        deletar_url = "/eliminarAlocacao/" + id

        $.ajax({
            url: deletar_url,
            method: "DELETE",
            data: {},
            headers: { "X-CSRFToken":  '{{ csrf_token }}' },
            success: function (data) {
                console.log("sucesso")
                let menuId = "#"+hiddenMenuAlocacoesId+ id
                $(menuId).toggle()
                carregarAlocacoes()
            }
        });
    }

    function carregarAlocacoes() {
        let recarregarTabela = rotaTabelaAlocacoes
        console.log(eventoId)
        $.ajax({
            url: "/"+recarregarTabela,
            contentType: 'application/json',
            data: {evento_id: eventoId},
            success: function (data) {
                $("#" + idTabelaAlocacoes).html(data);
            }
        });
    }
    
    $(document).ready(function() {
        alocacaoModificadaEventProxy = new Proxy(alocacaoModificadaEvent, {
            set: function (target, key, value) {
                console.log("alocacao modificada: ", value)
                target[key] = value;
                if (value) {
                    carregarAlocacoes()
                    $('#cadastrarAlocacaoModal').modal('hide');
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                }
                target[key] = false
                return false;
            }
        });

        $("#linkDadosGerais").trigger("click")
        carregarAlocacoes()
    })
</script>

{% endblock content %}