<style>
    .departamentos-w-90 {
        width: 90%;
    }
</style>
<table class="table table-borderless"
width="100%" 
cellspacing="0">
    <thead class="border">
        <tr class="">
            <th class="departamentos-w-90 text-left">Nome</th>
            <th class="w-2 text-left">Ação</th>
        </tr>
    </thead>
    <tbody>
        {% for departamento in departamentos %}
        <tr>
            <td class="w-10 text-left">{{departamento.nome}}</td>
            <td class="w-2 text-left" style="position: relative;">
                <button id="buttonMenuDepartamentos{{departamento.id}}" 
                class="btn-circle">
                    <i class="fa-solid fa-ellipsis-vertical"></i>                        
                </button>
                <div style="display: none; position: absolute; z-index: 2; right: 10%" 
                id="hiddenMenuDepartamentos{{departamento.id}}" 
                class="btn-group-custom">
                    <a id="linkVisualizardepartamento{{departamento.id}}" href="/visualizarDepartamento/({{departamento.id}})"></a>
                    <!-- <button onclick="visualizarDepartamento({{departamento.id}})">Visualizar</button>  -->
                    <button onclick="carregarDepartamentosModalCadastrar('{{departamento.id}}')">Editar</button> 
                    <button onclick="deleteDepartamento('{{departamento.id}}')" >Excluir</button>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    $(document).ready(function () {
        function isvisibleOnViewport(element) {
            var rect = element.getBoundingClientRect();
            var html = document.documentElement;
            return (
                (rect.top) >= 0 &&
                rect.left >= 0 &&
                (rect.bottom + 100) <= (window.innerHeight || html.clientHeight) &&
                rect.right <= (window.innerWidth || html.clientWidth)
            );
        }

        function bindButtons() {
            $("button[id^='"+buttonMenuDepartamentosId+"']").each(function (i, el) {
                $(this).on("click", function () {
                    let id = $(this).attr('id').split("Departamentos")[1];
                    let menuId = "#"+hiddenMenuDepartamentosId + id
                    $("div[id^='"+hiddenMenuDepartamentosId+"']").each(function (i, el) {
                        
                        if (menuId != "#" + $(this).attr("id")) {
                            if ($(this).css('display') != 'none') {
                                $(this).toggle()
                            }
                        }
                    })
                    let hiddenMenu = $(menuId).parent()
                    let isVisible = isvisibleOnViewport(hiddenMenu[0])
                    if (!isVisible) {
                        $(menuId).css("bottom", "40px")
                    } 
                    $(menuId).toggle()
                });
            });
        }

        $(document).mouseup(function (e) {
            $("div[id^='"+hiddenMenuDepartamentosId+"']").each(function (i, el) {
                if (!$(this).is(e.target) && $(this).has(e.target).length === 0) {
                    if ($(this).css('display') != 'none') {
                        $(this).toggle()
                    }
                }
            })
        });

        bindButtons()
     })
</script>