{% load custom_tags %}

<style>
    .select-dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        max-height: 200px;
        overflow-y: auto;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .select-dropdown-inputed-item {
        position: relative;
        display: inline-block;
        padding: 2px 8px;
        border: 1px solid #ccc;
        width: 100%;
    }

    .select-dropdown-inputed-item:hover {
        background-color: #ccc;
        cursor: pointer;
        color: white;
    }
    
    .select-selected-dropdown-item {
        background-color: #ddd;
    }

    .selected-escolas-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    

</style>
<div class="selected-escolas-container">

</div>
<input type="hidden" name="selected_address_escola_id" id="selected_address_escola_id">
<input type="hidden" id="use_select_value" name="use_select_value">
<div class="" id="escolasMultipleSelect">
    <label class="" for="">
        Escolas
    </label>
    <div>
        <input class="form-control border-secondary" 
        type="text"
        placeholder="Selecione as escolas...">
        <div style="position:relative">
            <div class="select-dropdown-content">
                {% for item in items %}
                <div class="select-dropdown-inputed-item" 
                id="drop-down-item-1"
                style="z-index: 1;"
                onclick="selectDropdownItem(this, '{{item.nome}}')"
                data-id="{{item.id}}"
                data-selected="{{item.id|is_in:selectedEscolas}}">
                    <input 
                    onclick="selectDropdownItem(this, '{{item.nome}}')"
                    type="checkbox" 
                    name="cursos" 
                    value="1">
                    <span>{{item.cidade.nome}} - {{item.nome}}</span>
                    <span hidden>{{item.id}}</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{{ items|json_script:"items-script" }}
{{ selectedEscolas|json_script:"selected-escolas-script" }}
<script>
    var dropDownItems = JSON.parse(document.getElementById('items-script').textContent);
    var keepFocus = false;
    var dropdownInputPlaceholder = "Selecione as escolas...";
    var selectMultipleDropdownId = "escolasMultipleSelect";
    var selectedEscolas = JSON.parse(document.getElementById('selected-escolas-script').textContent);

    function initializeSelectedItems() {
        let dropdown = $("#" + selectMultipleDropdownId + " .select-dropdown-content");
        let items = dropdown.children();
        items.each(function () {
            let input = $(this).find("input");
            let isSelected = $(this).data("selected") == "True" ? true : false;
            input.prop("checked", isSelected);
            if (isSelected) {
                $(this).addClass("select-selected-dropdown-item");
            } else {
                $(this).removeClass("select-selected-dropdown-item");
            }
        });
    }
    

    function getSelectedEscolas() {
        let selectedItems = [];
        let dropdown = $("#"+selectMultipleDropdownId+" .select-dropdown-content");
        let items = dropdown.children();
        items.each(function () {
            let input = $(this).find("input");
            if (input.is(":checked")) {
                let itemId = $(this).data("id");
                selectedItems.push(itemId);
            }
        });

        return selectedItems;
    }

    function filterItems(query) {
        let dropdown = $("#"+selectMultipleDropdownId+" .select-dropdown-content");
        let items = dropdown.children();
        items.each(function () {
            let textContent = $(this).children("span").text();
            if (textContent.toUpperCase().indexOf(query) > -1) {
                $(this).show();
            } else {
                $(this).hide();
            }
        })
    }

    function isClickInsideDropdown(event) {
        let dropdown = $("#"+selectMultipleDropdownId+" .select-dropdown-content");
        let input = $("#"+selectMultipleDropdownId+" input");
        let reseult = dropdown.has(event.target).length > 0 || dropdown.is(event.target);
        reseult = reseult || input.has(event.target).length > 0 || input.is(event.target);
        return reseult;
    }

    function createSelectedEscolaBadge(selectedEscolasFromApi = []) {
        let selectedEscolas = getSelectedEscolas();
        let selectedEscolasContainer = $(".selected-escolas-container");
        selectedEscolasContainer.empty();
        $.each(selectedEscolas, function(index, escolaId){
            let escola = dropDownItems.find(function(item){
                return item.id == escolaId;
            });
            let badge = $("<span class='badge badge-secondary mx-1 my-1 py-1'></span>");
            badge.text(escola.cidade.nome + " - " + escola.nome + " #" + escola.id);
            badge.css("cursor", "pointer");
            badge.attr("title", "Clique para utilizar o endereço desta escola");
            badge.click(function(){
                let selectedAddressEscolaIdInput = $("#selected_address_escola_id");
                selectedAddressEscolaIdInput.val(escola.id);
                selectedAddressEscolaIdInput.trigger("change");
            });
            selectedEscolasContainer.append(badge);
        });
    };
    

    function selectDropdownItem(item , value) {
        let input = $(item)
        if ($(item).attr("type") != "checkbox") input = $(item).find("input");

        let currentChecked = !input.is(":checked");
        input.prop("checked", currentChecked);
        input.trigger("change");
        $(item).toggleClass("select-selected-dropdown-item");

        createSelectedEscolaBadge()
    }

    $(document).ready(function () {
        let input = $("#"+selectMultipleDropdownId+" input");
        input.focus(function () {
            let dropdown = $("#"+selectMultipleDropdownId+" .select-dropdown-content");
            dropdown.show();
            keepFocus = true
        })

        input.focusout(function (event) {
            if (keepFocus) {
                event.preventDefault();
                event.stopPropagation();
                $(this).focus();
                return
            }
        })
        
        input.blur(function (event) {
            if (keepFocus) {
                event.preventDefault();
                event.stopPropagation();
                $(this).focus();
                return
            }
        })

        input.keyup(function () {
            let input = $(this);
            let query = input.val().toUpperCase();
            filterItems(query);
        })

        $(document).click(function (event) {
            let dropdown = $("#"+selectMultipleDropdownId+" .select-dropdown-content");
            if (isClickInsideDropdown(event)) return

            let input = $("#"+selectMultipleDropdownId+" input");
            dropdown.hide();
            input.val("");
            keepFocus = false
            input.focusout();
            filterItems("");
            input.blur();
        })
        initializeSelectedItems();
        console.log("escolas selecionadas: ",selectedEscolas)
        if (selectedEscolas.length > 0) {
            createSelectedEscolaBadge(selectedEscolas);
        }
    })
</script>