<div class="modal fade" id="modalRelatorioEventos" tabindex="-1" role="dialog" aria-labelledby="modalRelatorioEventosLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalRelatorioEventosTitle">
                    Filtros
                </h5>
                <button type="button" id="dismisModalRelatorios" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="filtrosRelatorioModal">
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <label><b>Tipo do Relatório:</b></label>
                            <select required 
                            id="tipo_relatorio"
                            class="form-control" 
                            name="tipo_relatorio">
                                <option
                                value="">
                                    Selecione uma opção
                                </option>
                                <option
                                value="exel_sintetico">
                                    EXCEL (ANALÍTICO)
                                </option>
                                <option 
                                value="cirscunstanciado_word">
                                    WORD (CIRSCUNSTANCIADO)
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-3" id="filtrorelatorioEventosDepartamentoSelect">
                        </div>
                        <div class="col-sm-3">
                            <label><b>Tipo do Evento:</b></label>
                            <select required 
                            id="tipo"
                            class="form-control" 
                            name="tipo">
                                <option
                                value="">
                                    Selecione uma opção
                                </option>
                                <option
                                {% if dpEvento and dpEvento.tipo == "emprestimo" %} selected {% endif %}
                                value="emprestimo">
                                    EMPRÉSTIMO
                                </option>
                                <option 
                                {% if dpEvento and dpEvento.tipo == "curso_gps" %} selected {% endif %} 
                                value="curso_gps">
                                    CURSO GPS
                                </option>
                                <option 
                                {% if dpEvento and dpEvento.tipo == "feirao" %} selected {% endif %} 
                                value="feirao">
                                    FEIRÃO DO EMPREGO
                                </option>
                                <option 
                                {% if dpEvento and dpEvento.tipo == "goias_feito_a_mao" %} selected {% endif %} 
                                value="goias_feito_a_mao">
                                    GOIÁS FEITO À MÃO
                                </option>
                                <option 
                                {% if dpEvento and dpEvento.tipo == "mutirao" %} selected {% endif %} 
                                value="mutirao">
                                    MUTIRÃO
                                </option>
                                <option 
                                {% if dpEvento and dpEvento.tipo == "recicla_goias" %} selected {% endif %} 
                                value="recicla_goias">
                                    RECICLA GOIÁS
                                </option>
                                <option 
                                {% if dpEvento and dpEvento.tipo == "feira_agro_centro_oeste" %} selected {% endif %} 
                                value="feira_agro_centro_oeste">
                                    FEIRA AGRO CENTRO OESTE
                                </option>
                                <option 
                                {% if dpEvento and dpEvento.tipo == "pauta_positiva" %} selected {% endif %} 
                                value="pauta_positiva">
                                    PAUTA POSITIVA
                                </option>
                                <option 
                                {% if dpEvento and dpEvento.tipo == "outro" %} selected {% endif %}
                                value="outro">
                                    OUTRO
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <label><b>Data de Inicio:</b></label>
                            <input type="date" class="form-control" id="data_inicio" name="data_inicio">
                        </div>
                        <div class="col-sm-2">
                            <label><b>Data de Fim:</b></label>
                            <input type="date" class="form-control" id="data_fim" name="data_fim">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button onclick="gerarRelatorioFiltrado()" 
                id="confimarModalCalendario" 
                type="button" 
                class="btn btn-primary">
                    <span id="text-gerar-relatorio">Gerar Relatório</span>
                    <span id="text-gerando-relatorio" style="display: none;">Gerando Relatório...</span>
                    <div id="spinner-gerar-relatorio" class="spinner-border text-light" role="status" style="display: none;">
                        <span class="sr-only">Gerando Relatório...</span>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    function toggleLoadingRelatorio() {
        $("#text-gerar-relatorio").toggle();
        $("#text-gerando-relatorio").toggle();
        $("#spinner-gerar-relatorio").toggle();
    }

    function loadEventoRelatorioDepartamentoSelect() {
        $.ajax({
            url: "/departamentosSelect",
            type: "GET",
            success: function (data) {
                $("#filtrorelatorioEventosDepartamentoSelect").html(data);
            },
            error: function (data) {
                console.log(data);
            }
        });
    }

    function getFiltroRelatorioEvento() {
        var data_inicio = $("#data_inicio").val();
        var data_fim = $("#data_fim").val();
        var departamento_id = $("#filtrorelatorioEventosDepartamentoSelect select").val();
        var tipo = $("#tipo").val();
        var filtros = {
            data_inicio: data_inicio,
            data_fim: data_fim,
            departamento_id: departamento_id,
            tipo: tipo
        }
        return filtros;
    }

    function gerarRelatorioCircunstanciado() {
        toggleLoadingRelatorio();
        filtros = getFiltroRelatorioEvento();
        const xhr = new XMLHttpRequest();
        let uri = '/relatorioDpEvento'
        let params = Object.keys(filtros).map(function (key) {
            return encodeURIComponent(key) + '=' + encodeURIComponent(filtros[key]);
        }).join('&');
        xhr.open('GET', uri+"?"+params, true);
        xhr.addEventListener('progress', event => {
            if (event.lengthComputable) {
                const percentComplete = (event.loaded / event.total) * 100;
                console.log('Download progress:', percentComplete + '%');
            }
        });

        xhr.responseType = 'blob';
        
        xhr.onload = event => {
            if (xhr.status === 200) {
                const blob = xhr.response;
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                a.download = 'relatorio_eventos.docx';
                a.target = '_blank';
                document.body.appendChild(a);
                a.click();
                a.remove();
                window.URL.revokeObjectURL(url);
                $("#modalRelatorioEventos").modal("toggle");
                toggleLoadingRelatorio();
            } else {
                console.error('Download failed:', xhr.statusText);
                toggleLoadingRelatorio();
            }
        };

        xhr.send();
    }

    function gerarRelatorioSintetico() {
        $("#modalRelatorioEventos").modal("toggle");
        filtros = getFiltroRelatorioEvento(); // Ajuste isto se os filtros do novo relatório forem diferentes
        const xhr = new XMLHttpRequest();
        let uri = '/relatorioSintetico' // Altere isto para o endpoint do novo relatório
        let params = Object.keys(filtros).map(function (key) {
            return encodeURIComponent(key) + '=' + encodeURIComponent(filtros[key]);
        }).join('&');
        xhr.open('GET', uri+"?"+params, true);
        xhr.addEventListener('progress', event => {
        if (event.lengthComputable) {
            const percentComplete = (event.loaded / event.total) * 100;
            console.log('Download progress:', percentComplete + '%');
        }
        });

        xhr.responseType = 'blob';
        
        xhr.onload = event => {
            if (xhr.status === 200) {
                const blob = xhr.response;
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                a.download = 'relatorio_sintetico.xlsx'; // Altere isto para o nome do novo relatório
                a.target = '_blank';
                document.body.appendChild(a);
                a.click();
                a.remove();
                window.URL.revokeObjectURL(url);
                $("#modalRelatorioEventos").modal("toggle"); // Ajuste isto se o id do modal for diferente
                $("#modalRelatorioEventos").modal("toggle");
            } else {
                console.error('Download failed:', xhr.statusText);
                $("#modalRelatorioEventos").modal("toggle");
            }
        };

        xhr.send();
    };

    function gerarRelatorioFiltrado() {
        filtroTipoRelatorio = $("#tipo_relatorio").val();  
        if (filtroTipoRelatorio == "cirscunstanciado_word") {
            gerarRelatorioCircunstanciado();
        } else if (filtroTipoRelatorio == "exel_sintetico") {
            gerarRelatorioSintetico();
        }
    }

    $(document).ready(function () {
        loadEventoRelatorioDepartamentoSelect();
        $('#dismisModalRelatorios').click(function(){
            $('#modalRelatorioEventos').modal('hide');
        });
    })
</script>