<div class="w-100">
    <form id="cadastrardpEventoForm" action="/" method="POST">
        <div class="form-group row">
            <div class="col-sm-5">
                <label><b>Nome:</b></label>
                <select required 
                id="tipo"
                class="form-control" 
                name="tipo">
                    <option
                    value="">
                        Selecione uma opção
                    </option>
                    <option
                    {% if dpEvento and dpEvento.tipo == "emprestimo" %} selected {% endif %}
                    value="emprestimo">
                        EMPRÉSTIMO
                    </option>
                    <option 
                    {% if dpEvento and dpEvento.tipo == "curso_gps" %} selected {% endif %} 
                    value="curso_gps">
                        CURSO GPS
                    </option>
                    <option 
                    {% if dpEvento and dpEvento.tipo == "feirao" %} selected {% endif %} 
                    value="feirao">
                        FEIRÃO DO EMPREGO
                    </option>
                    <option 
                    {% if dpEvento and dpEvento.tipo == "goias_feito_a_mao" %} selected {% endif %} 
                    value="goias_feito_a_mao">
                        GOIÁS FEITO À MÃO
                    </option>
                    <option 
                    {% if dpEvento and dpEvento.tipo == "mutirao" %} selected {% endif %} 
                    value="mutirao">
                        MUTIRÃO
                    </option>
                    <option 
                    {% if dpEvento and dpEvento.tipo == "recicla_goias" %} selected {% endif %} 
                    value="recicla_goias">
                        RECICLA GOIÁS
                    </option>
                    <option 
                    {% if dpEvento and dpEvento.tipo == "feira_agro_centro_oeste" %} selected {% endif %} 
                    value="feira_agro_centro_oeste">
                        FEIRA AGRO CENTRO OESTE
                    </option>
                    <option 
                    {% if dpEvento and dpEvento.tipo == "pauta_positiva" %} selected {% endif %} 
                    value="pauta_positiva">
                        PAUTA POSITIVA
                    </option>
                    <option 
                    {% if dpEvento and dpEvento.tipo == "dia_mulheres" %} selected {% endif %} 
                    value="dia_mulheres">
                        DIA DAS MULHERES
                    </option>
                    <option 
                    {% if dpEvento and dpEvento.tipo == "open_day" %} selected {% endif %} 
                    value="open_day">
                        OPEN DAY
                    </option>
                    <option 
                    {% if dpEvento and dpEvento.tipo == "outro" %} selected {% endif %}
                    value="outro">
                        OUTRO
                    </option>
                </select>
            </div>
            <div class="col-sm-2">
                <label><b>Edição:</b></label>
                <input 
                type="number"
                step="1"     
                name="edicao" 
                id="edicao" 
                class="form-control" 
                {% if dpEvento %}
                value="{{dpEvento.edicao|default_if_none:""}}"
                {% endif %}>
            </div>
            <div id="acao-ensino-select-container" class="col-sm-5">
                {% if dpEvento %}
                {% include 'ensinos/ensino_select.html' with selected=selected_ensino ensinos=ensinos %}
                {% else %}
                {% include 'ensinos/ensino_select.html' %}
                {% endif %}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                {% if dpEvento %}
                {% include 'escolas/escolas_select_multiple.html' with items=escolas selectedEscolas=selectedEscolas %}
                {% else %}
                {% include 'escolas/escolas_select_multiple.html' with id=1 items=escolas selectedEscolas=selectedEscolas %}
                {% endif %}
            </div>
       </div>
        
        <div class="form-group row">
            <div class="col-sm-12">
                <label><b>Descrição:</b></label>
                <textarea 
                rows="3"
                name="descricao" 
                class="form-control">{% if dpEvento %}{{dpEvento.descricao|default_if_none:""}}{% endif %}</textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                <label><b>Data Início:</b></label>
                <input 
                type="date" 
                name="data_inicio" 
                class="form-control" 
                {% if dpEvento %}
                value="{{dpEvento.data_inicio}}"
                {% endif %}>
            </div>
            <div class="col-sm-3">
                <label><b>Data Fim:</b></label>
                <input 
                type="date" 
                name="data_fim" 
                class="form-control" 
                {% if dpEvento %}
                value="{{dpEvento.data_fim}}"
                {% endif %}>
            </div>
            <div class="col-sm-3">
                <label><b>Horario Início:</b></label>
                <input 
                type="time" 
                name="horarioInicio" 
                class="form-control" 
                {% if dpEvento %}
                value="{{dpEvento.horarioInicio}}"
                {% endif %}>
            </div>
            <div class="col-sm-3">
                <label><b>Horario Fim:</b></label>
                <input 
                type="time" 
                name="horarioFim" 
                class="form-control" 
                {% if dpEvento %}
                value="{{dpEvento.horarioFim}}"
                {% endif %}>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <label><b>CEP:</b></label>
                <input 
                type="text" 
                name="cep" 
                id="cep" 
                class="form-control" 
                {% if dpEvento %}
                value="{{dpEvento.cep|default_if_none:""}}"
                {% endif %}>
            </div>
            <div id="select_cidade" class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <label><b>Bairro:</b></label>
                <input 
                type="text" 
                name="bairro" 
                id="bairro" 
                class="form-control" 
                {% if dpEvento %}
                value="{{dpEvento.bairro|default_if_none:""}}"
                {% endif %}>
            </div>
            <div class="col-sm-4">
                <label><b>Logradouro:</b></label>
                <input 
                type="text" 
                name="logradouro" 
                id="logradouro" 
                class="form-control" 
                {% if dpEvento %}
                value="{{dpEvento.logradouro|default_if_none:""}}"
                {% endif %}>
            </div>
            <div class="col-sm-8">
                <label><b>Complemento:</b></label>
                <input 
                type="text" 
                name="complemento" 
                id="complemento" 
                class="form-control" 
                {% if dpEvento %}
                value="{{dpEvento.complemento|default_if_none:""}}"
                {% endif %}>
            </div>
        </div>
    </form>
</div>
{{ escolas|json_script:"escolas-script" }}
<script>
    var cidade_id = "{% if dpEvento %}{{dpEvento.cidade.id}}{% else %}{% endif %}";
    var escolas = JSON.parse(document.getElementById("escolas-script").textContent);

    function carregarSelectCidades(cidade_id) {
        $.ajax({
            url: "/cidadesSelect",
            method: "GET",
            data: {cidade_id: cidade_id},
            success: function (data) {
                $("#select_cidade").html(data)
                $("#select_cidade").children("select").on("change", function () {
                    console.log("cidade modificada: ",$(this).val())
                    $("collapse_endereco_")
                });
            }
        });
    }
    
    function getCheckBoxValue(id) {
        return $("#"+id).is(':checked')
    }

    function bindEnderecoFields(escolaId) {
        let escola = escolas.find(escola => escola.id == escolaId)
        if (escola) {
            $("#logradouro").val(escola.logradouro).trigger("change")
            $("#bairro").val(escola.bairro).trigger("change")
            $("#cep").val(escola.cep).trigger("change")
            $("#complemento").val(escola.complemento).trigger("change")
            $("#cidade_id").val(escola.cidade.id).trigger("change")
        }
    } 

    $(document).ready(function () {
        carregarSelectCidades(cidade_id)
        $("#selected_address_escola_id").change(function (val) {
            console.log("escola modificada: ",$(this).val())
            let selectedEscola = $(this).val() 
            bindEnderecoFields(selectedEscola)
        })
    })
</script>