<style>
    .dpEvento-vw-50 {
        max-width: 30vw;
        width: 30vw;
        min-width: 30vw;
    }
    .dpEvento-w-20 {
        width: 20%;
    }
    .dpEvento-w-10 {
        width: 10%;
    }
    .dpEvento-w-50 {
        width: 50%;
    }
    .dpEvento-w-15 {
        width: 15%;
    }

    /* .overflow {
        overflow: hidden;
        white-space: nowrap;
    } */

    .width-100 {
        max-width: 100%;
        width: 100%;
        min-width: 100%;
    }

    .flex-item {
        flex: 0 0 15%;
        
    }

    .counter-btn {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #feb204;
        border: none;
        outline: inherit;
        border-radius: 50%;
        padding: 0;
        text-align: center;
        width: 30px;
        line-height: 30px;
        height: 30px;
        font-size: 0.9rem;
        font-weight: 700;
        color: #fff;
        cursor: pointer;
    }

    .counter-btn:hover {
        background-color: #ffc200;
        font-size: 1rem;
        transition: font-size 0.1s;
    }

    .wrapped-item-text
    {
        overflow: hidden;
        white-space:nowrap;
        flex: 1;
        text-overflow:ellipsis;
    }

    .btn-icon-dpEvento {
        font-size: 0.8em;
        transition: font-size 0.2s;
        border-radius: 50%;
    }

    .btn-icon-dpEvento:hover {
        font-size: 0.95rem;
        transition: font-size 0.2s;
    }

    .membro-equipe-container:hover {
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        transition: box-shadow 0.2s;
    }

    .membro-equipe-red {
        color: tomato; 
        font-size: 0.9rem;
    }
    .membro-equipe-green {
        color: #27b132; 
        font-size: 0.9rem;
    }

    .boxed {
        background-color: #27b132;
        color: #fff;
        border-radius: 5px;
        font-size: 0.8rem;
        font-weight: bolder;
    }
</style>
<table class="table table-borderless" 
width="100%" 
cellspacing="0">
    <thead class="border">
        <tr class="">
            <th class="dpEvento-w-50 text-left clickable-column" 
            id="column-dp-evento--data_inicio" data-toggle="tooltip"
            data-placement="top" onclick="orderTableBy(
                this,
                'data_inicio', 
                'filterDpEventoOrderBy',
                (state) => carregarDpEventos(getDpEventoFilters(), state)
            )" 
            title="Ordenar por Data de início">
                <div class="d-flex justify-content-start align-items-center">
                    <i class="fa-solid fa-arrow-down-a-z arrow-down"></i>
                    <i class="fa-solid fa-arrow-down-z-a arrow-up"></i>
                    <span class="column-label ml-1">Data Início</span>
                </div>
            </th>
            <th class="dpEvento-vw-50 text-left">Equipe de Execução</th>
            <th class="w-2 text-left">Ação</th>
        </tr>
    </thead>
    <tbody>
        {% for dpEvento in dpEventos %}
        <tr>
            <td class="dpEvento-w-50 text-left">
                <div class="d-flex flex-column justify-content-start align-items-start">
                    <div>
                        <span class="px-2 py-1 boxed">{{dpEvento.tipo_formatado}}</span>
                        <span class="font-weight-bold">de {{dpEvento.data_inicio_formatada}} até {{dpEvento.data_fim_formatada}}</span>
                    </div>
                    <span>{{dpEvento.endereco_completo}}</span>
                </div>
                <div><span class="font-weight-bold">{{dpEvento.descricao}}</span></div>
            </td>
            <td  class="dpEvento-vw-50 text-left position-relative">
                <div class="d-flex flex-wrap py-1">
                    {% for membro in dpEvento.membroexecucao_set %}
                        <span class="badge badge-pill badge-secondary mr-2 mb-1 btn btn-secondary" 
                        data-toggle="tooltip" data-placement="top" title="Clique para visualizar as demandas"
                        onclick="openMembroExecucaoDemandasModal('{{membro.id}}')"
                        style="font-size: 0.9rem;">
                            {{membro.pessoa.nome}}
                        </span>
                    {% endfor %}
                </div>
            </td>
            <td class="w-2 text-left" style="position: relative;">
                <button id="buttonMenuDpEventos{{dpEvento.id}}" 
                class="btn-circle">
                    <i class="fa-solid fa-ellipsis-vertical"></i>                         
                </button>
                <div style="display: none; position: absolute; z-index: 2; right: 10%" 
                id="hiddenMenuDpEventos{{dpEvento.id}}" 
                class="btn-group-custom">
                    <a id="linkVisualizarDpEvento{{dpEvento.id}}" href="/visualizarDpEvento/({{dpEvento.id}})"></a>
                    <button onclick="visualizarDpEvento('{{dpEvento.id}}')">Visualizar</button> 
                    <button onclick="carregarDpEventoModalEditar('{{dpEvento.id}}')">Editar</button> 
                    <button onclick="openDeleteModal(() => deleteDpEvento('{{dpEvento.id}}'))" >Excluir</button>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div id="membroExecucaoDemandasModalContainer"></div>
<script>
    var buttonMenuDpEventosId = "buttonMenuDpEventos"
    var hiddenMenuDpEventosId = "hiddenMenuDpEventos"
    var cadastrarDpEventoFormId = "cadastrarDpEventoForm"
    var dismissCadastrarDpEventoId = "dismissCadastrarDpEvento"
    var dpEventoModificadaEvent = {}
    var dpEventoModificadaEventProxy = null
    var ticketModificadaEvent = {}
    var ticketModificadaEventProxy = null
    var modalCadastrarDpEventoContainerId = "modalCadastrarDpEventoContainer"
    var idTabelaDpEventos = "receberTabelaDpEventos"
    var rotaTabelaDpEventos = "dpEventosTable"
    var rotaDeletarDpEvento = "eliminarDpEvento"
    var rotaVisualizarDpEvento = "visualizarDpEvento"
    var rotaEditarDpEvento = "dpEventoModal"    
    var wrappedItemHeight = []
    var wrappedItemWidth = []
    var wrapperContainerWidth = []
    
    function visualizarDpEvento(id) {
        location.href = "visualizarDpEvento/" + id
    }

    function openMembroExecucaoDemandasModal(membroId) {
        let data = {membro_execucao_id: membroId, from: "dpEvento"}
        $.ajax({
            url: "/membroExecucaoDemandasModal/"+membroId,
            data: data,
            success: function (data) {
                $("#membroExecucaoDemandasModalContainer").html(data);
                $('#membroExecucaoDemandasModal').modal('toggle');
            }
        });
    }

    function carregarDpEventoModalEditar(id) {
        let data = {id: id}
        $.ajax({
            url: "/"+rotaEditarDpEvento,
            data: data,
            success: function (data) {
                $("#" + idModal).html(data);
                $('#' + cadastrarDpEventoModalId).modal('toggle');
            }
        });
    }

    function bindButtons() {
        $("button[id^='"+buttonMenuDpEventosId+"']").each(function (i, el) {
            $(this).on("click", function () {
                let id = $(this).attr('id').split("DpEventos")[1];
                let menuId = "#"+hiddenMenuDpEventosId + id
                $("div[id^='"+hiddenMenuDpEventosId+"']").each(function (i, el) {
                    
                    if (menuId != "#" + $(this).attr("id")) {
                        if ($(this).css('display') != 'none') {
                            $(this).toggle()
                        }
                    }
                })
                let hiddenMenu = $(menuId).parent()
                let isVisible = isvisibleOnViewport(hiddenMenu[0])
                if (!isVisible) {
                    $(menuId).css("bottom", "40px")
                } 
                $(menuId).toggle()
            });
        });
    }

    function isvisibleOnViewport(element) {
        var rect = element.getBoundingClientRect();
        var html = document.documentElement;
        return (
            (rect.top) >= 0 &&
            rect.left >= 0 &&
            (rect.bottom + 100) <= (window.innerHeight || html.clientHeight) &&
            rect.right <= (window.innerWidth || html.clientWidth)
        );
    }

    function deleteDpEvento(id) {
        let deletar_url = rotaDeletarDpEvento+"/" + id

        $.ajax({
            url: "/"+deletar_url,
            data: {},
            success: function (data) {
                let menuId = "#" + hiddenMenuDpEventosId + id
                $(menuId).toggle()
                carregarDpEventos()
            }
        });
    }

    $(document).ready(function () {
        dpEventoModificadaEventProxy = new Proxy(dpEventoModificadaEvent, {
            set: function (target, key, value) {
                target[key] = value;
                if (value) {
                    carregarDpEventos()
                }
                target[key] = false
                return false;
            }
        });
        
        ticketModificadaEventProxy = new Proxy(ticketModificadaEvent, {
            set: function (target, key, value) {
                target[key] = value;
                if (value) {
                    console.log("ticketModificadaEventProxy")
                    carregarDpEventos()
                }
                target[key] = false
                return false;
            }
        });

        $(document).mouseup(function (e) {
            $("div[id^='"+hiddenMenuDpEventosId+"']").each(function (i, el) {
                if (!$(this).is(e.target) && $(this).has(e.target).length === 0) {
                    if ($(this).css('display') != 'none') {
                        $(this).toggle()
                    }
                }
            })
        });

        bindButtons()
    })
</script>