{% extends "base.html" %}

{% block content %}
<style>
    .cs-tab-link{
        color: gray;
        padding: 8px;
    }
    
    .cs-tab-link .active {
        background-color: #0c504b;
        border-radius: 5px 5px 0px 0px;
        padding: 8px 12px;
        color: white;
    }
    
    .cs-tab-link a{
        text-decoration: none;
        color: gray;
    }

    .cs-tab-link a:hover{
        text-decoration: none;
    }

    #galerias::-webkit-scrollbar {
        width: 5px;
      }
      
      /* Changes the scrollbar color */
      #galerias::-webkit-scrollbar-thumb {
        background-color: #ddd;
      }
</style>
<div 
class="shadow w-100" 
style="height: calc(100vh - 75px);">
    
    <div class="w-100 h-100 mb-2 ">
        <div class="d-flex">
            <ul id="dpEvento-visualizar-tabs" class="nav nav-tabs w-100">
                <li class=" cs-tab-link active">
                    <a id="membro-execucao-tab" data-toggle="tab" href="#membrosExecucao">Equipe de Execução</a>
                </li>
                {% comment %} <li class=" cs-tab-link active">
                    <a id="itinerarios-tab" data-toggle="tab" href="#itinerarios">Itinerários</a>
                </li> {% endcomment %}
                <li class=" cs-tab-link active">
                    <a id="atividades-tab" data-toggle="tab" href="#atividades">Atividades</a>
                </li>
                <li class=" cs-tab-link active">
                    <a id="avaliacao-local-tab" data-toggle="tab" href="#avaliacao">Avaliação do Local</a>
                </li>
                <li class=" cs-tab-link active">
                    <a id="galerias-tab" data-toggle="tab" href="#galerias">Galerias de Imagens</a>
                </li>
                {% comment %} <li class=" cs-tab-link active">
                    <a id="servico-contratado-tab" data-toggle="tab" href="#servicoContratado">Serviços</a>
                </li> {% endcomment %}
            </ul>
            <div class="d-flex justify-content-between px-2">
                <div id="add-membro-execucao-btn">
                    <div data-toggle="tooltip" data-placement="top" title="Adicionar Membro a Equipe de Execução"
                    class="d-flex align-items-center ">            
                        <button onclick="addMembroExecucaoModal()" 
                        class="btn btn-success">Adicionar</button>
                    </div>
                </div>
                <div id="add-atividade-btn">
                    <div  data-toggle="tooltip" data-placement="top" title="Adicionar Atividade"
                    class="d-flex align-items-center ">            
                        <button onclick="addAtividadeModal()" 
                        class="btn btn-success">Adicionar</button>
                    </div>
                </div>
                <div id="add-avaliacao-btn">
                    <div data-toggle="tooltip" data-placement="top" title="Adicionar Avaliação" 
                    class="d-flex align-items-center ">            
                        <button onclick="addAvaliacaoModal()" 
                        class="btn btn-success">Adicionar</button>
                    </div>
                </div>
                <div id="add-servico-contratado-btn">
                    <div data-toggle="tooltip" data-placement="top" title="Adicionar Serviço" 
                    class="d-flex align-items-center ">            
                        <button onclick="openServicoContratadoModal()" 
                        class="btn btn-success">Adicionar</button>
                    </div>
                </div>
                {% comment %} add galeria button {% endcomment %}
                <div id="add-galeria-btn">
                    <div data-toggle="tooltip" data-placement="top" title="Adicionar Galeria" 
                    class="d-flex align-items-center ">            
                        <button onclick="openGaleriaModal()" 
                        class="btn btn-success">Adicionar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-content w-100 h-100 scroll-custom position-relative" 
        style="overflow: scroll; margin-bottom: 24px; padding-bottom: 24px">
            <div id="membrosExecucao" 
            class="tab-pane active in" >
                <div id="receberTabelaMembrosExecucao" ></div>
            </div>
            {% comment %} <div id="itinerarios" class="tab-pane" style="height: 100%;">
                {% include "itinerarios/itinerario_input.html" with itinerario=dpEvento acao=dpEvento %}
            </div> {% endcomment %}
            <div id="atividades" class="tab-pane" >
                <div id="atividadesTableContainer"></div>
            </div>
            <div id="avaliacao" class="tab-pane" >
                <div id="avaliacaoLocalTableContainer"></div>
            </div>
            <div id="galerias" class="tab-pane" >
                <div id="galeriasTableContainer"></div>
            </div>
            {% comment %} <div id="servicoContratado"  class="tab-pane active in h-100"
            style="overflow-y: scroll;">
                <div id="servicoContratadoTableContainer"></div>
            </div> {% endcomment %}
        </div>
    </div>
</div>
<div id="modalMembroExecucaoContainer"></div>
<div id="modalAtividadeContainer"></div>
<div id="modalAvaliacaoContainer"></div>
<div id="modalServicoContainer"></div>
<div id="modalServicoContratadoContainer"></div>
<div id="modalGaleriaContainer"></div>

<script>
    let modalCadastrarMembroExecucaoContainerId = "modalCadastrarMembroExecucaoContainer"
    let buttonMenuMembrosExecucaoId = "buttonMenuMembrosExecucao"
    let hiddenMenuMembrosExecucaoId = "hiddenMenuMembrosExecucao"
    let cadastrarMembroExecucaoModalId = "cadastrarMembroExecucaoModal"
    let cadastrarMembroExecucaoFormId = "cadastrarMembroExecucaoForm"
    let dismissCadastrarMembroExecucaoId = "dismissCadastrarMembroExecucao"
    let rotaDeletarMembroExecucao = "eliminarMembroExecucao"
    let rotaModalMembroExecucao = "membroExcucaoModalCadastrar"
    let rotaVisualizarMembroExecucao = "visualizarMembroExecucao"
</script>
<script>
    let membroExecucaoModificadaEvent = {};
    let membroExecucaoModificadaEventProxy = null
    let idTabelaMembrosExecucao = "receberTabelaMembrosExecucao"
    let rotaTabelaMembrosExecucao = "membrosExecucaoDpEventoTable"
    let dpEventoId = "{{dpEvento.id}}" 

    function reloadMap() {
        $('body').trigger('reloadMap')
    }

    function addMembroExecucaoModal() {
        $.ajax({
            url: "/membroExecucaoModal",
            method: "GET",
            data: {
                evento_id: dpEventoId
            },
            success: function (data) {
                $("#modalMembroExecucaoContainer").html('');
                $("#modalMembroExecucaoContainer").html(data);
                $('#cadastrarMembroExecucaoModal').modal('show');
            }
        });
    }

    function clearModalFormTicket(tableToReload = null) {
        console.log("clearModalFormTicket", tableToReload)
        $("#cadastrarTicketModal").modal('hide');
        $("#modalTicketContainer").html("");
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
        if (tableToReload == "atividade") {
            carregarAtividades()
        } else if (tableToReload == "avaliacao") {
            carregarAvaliacoes()
        } else if (tableToReload == "servico") {
            carregarServicos()
        } else if (tableToReload == "servicoContratado") {
            carregarServicosContratados()
        } else if (tableToReload == "galeria") {
            carregarGalerias()
        } else if (tableToReload == "membro_execucao") {
            carregarMembrosExecucao()
        }
    }
    
    function addAtividadeModal() {
        $.ajax({
            url: "/atividadeModal",
            method: "GET",
            data: {
                dp_evento_id: dpEventoId
            },
            success: function (data) {
                $("#modalAtividadeContainer").html('');
                $("#modalAtividadeContainer").html(data);
                $('#cadastrarAtividadeModal').modal('show');
            }
        });
    }

    function openServicoContratadoModal() {
        $.ajax({
            url: "/servicoContratadoModal",
            method: "GET",
            data: {
                dp_evento_id: dpEventoId
            },
            success: function (data) {
                $("#modalServicoContratadoContainer").html('');
                $("#modalServicoContratadoContainer").html(data);
                $('#cadastrarServicoContratadoModal').modal('show');
                setModalBehaviour(function () {
                    carregarSelectMembroExecucao();
                });
            }
        });
    }
    
    function addAvaliacaoModal() {
        $.ajax({
            url: "/avaliacaoModal",
            method: "GET",
            data: {
                dp_evento_id: dpEventoId
            },
            success: function (data) {
                $("#modalAvaliacaoContainer").html('');
                $("#modalAvaliacaoContainer").html(data);
                $('#cadastrarAvaliacaoModal').modal('show');
            }
        });
    }

    function carregarAtividades() {

        $.ajax({
            url: "/atividadesDpEventoTable",
            data: {dp_evento_id: dpEventoId},
            success: function (data) {
                $("#atividadesTableContainer").html(data);
            }
        });
    }
    
    function carregarServicosContratados() {
        $.ajax({
            url: "/servicoContratadoTable",
            data: {dp_evento_id: dpEventoId},
            success: function (data) {
                $("#servicoContratadoTableContainer").html(data);
            }
        });
    }
    
    function carregarGalerias() {
        $.ajax({
            url: "/galeriaTable",
            data: {dp_evento_id: dpEventoId},
            success: function (data) {
                $("#galeriasTableContainer").html(data);
            }
        });
    }

    function carregarAvaliacaoLocal() {
        $.ajax({
            url: "/avaliacoesDpEventoTable",
            data: {dp_evento_id: dpEventoId},
            success: function (data) {
                $("#avaliacaoLocalTableContainer").html(data);
            }
        });
    }

    function deleteMembroExecucao(id) {
        deletar_url = "/eliminarMembroExecucao/" + id

        $.ajax({
            url: deletar_url,
            method: "DELETE",
            data: {},
            headers: { "X-CSRFToken":  '{{ csrf_token }}' },
            success: function (data) {
                let menuId = "#"+hiddenMenuMembrosExecucaoId+ id
                $(menuId).toggle()
                carregarMembrosExecucao()
            }
        });
    }

    function carregarMembrosExecucao() {
        $.ajax({
            url: "/"+rotaTabelaMembrosExecucao,
            contentType: 'application/json',
            data: {dp_evento_id: dpEventoId},
            success: function (data) {
                $("#" + idTabelaMembrosExecucao).html(data);
            }
        });
    }

    function deletarServicoContratado(servico_contratado_id) {
        $.ajax({
            url: "/deleteServicoContratado/"+servico_contratado_id,
            headers: { "X-CSRFToken":  '{{ csrf_token }}' },
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            method: "POST",
            success: function (data) {
                carregarServicosContratados()
            }
        });
    }
    
    function dpEventoVisualizarTabsControl(id) {
        console.log(id)
        {% comment %} add-servico-contratado-btn {% endcomment %}
        if (id == "membro-execucao-tab") {
            $("#add-membro-execucao-btn").show()
            $("#add-atividade-btn").hide()
            $("#add-avaliacao-btn").hide()
            $("#add-galeria-btn").hide()
            $("#add-servico-contratado-btn").hide()
        } else if (id == "itinerarios-tab") {
            $("#add-membro-execucao-btn").hide()
            $("#add-atividade-btn").hide()
            $("#add-avaliacao-btn").hide()
            $("#add-galeria-btn").hide()
            $("#add-servico-contratado-btn").show()
            reloadMap()
        } else if (id == "atividades-tab") {
            $("#add-membro-execucao-btn").hide()
            $("#add-atividade-btn").show()
            $("#add-avaliacao-btn").hide()
            $("#add-galeria-btn").hide()
            $("#add-servico-contratado-btn").hide()
        } else if (id == "avaliacao-local-tab") {
            $("#add-membro-execucao-btn").hide()
            $("#add-atividade-btn").hide()
            $("#add-avaliacao-btn").show()
            $("#add-galeria-btn").hide()
            $("#add-servico-contratado-btn").hide()
        } else if (id == "galerias-tab") {
            $("#add-membro-execucao-btn").hide()
            $("#add-atividade-btn").hide()
            $("#add-avaliacao-btn").hide()
            $("#add-galeria-btn").show()
            $("#add-servico-contratado-btn").hide()
        } else {
            $("#add-membro-execucao-btn").hide()
            $("#add-atividade-btn").hide()
            $("#add-avaliacao-btn").hide()
            $("#add-galeria-btn").hide()
            $("#add-servico-contratado-btn").show()
        }
    }
    
    $(document).ready(function() {
        membroExecucaoModificadaEventProxy = new Proxy(membroExecucaoModificadaEvent, {
            set: function (target, key, value) {
                target[key] = value;
                if (value) {
                    carregarMembrosExecucao()
                    $('#cadastrarMembroExecucaoModal').modal('hide');
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                }
                target[key] = false
                return false;
            }
        });

        carregarMembrosExecucao()
        carregarAtividades()
        carregarAvaliacaoLocal()
        carregarServicosContratados()
        carregarGalerias()
        $("body").css("overflow", "hidden")
        $("#dpEvento-visualizar-tabs a").each(function() {
            let link = $(this)
            link.on("click", function() {
                dpEventoVisualizarTabsControl(link.attr("id"))
            })
        })
        $("#membro-execucao-tab").trigger("click")
    })
</script>

{% endblock content %}