{% extends "base.html" %}

{% block content %}
<style>
    .cs-tab-link{
        color: gray;
        padding: 8px;
    }
    
    .cs-tab-link .active {
        background-color: #0c504b;
        border-radius: 5px 5px 0px 0px;
        padding: 8px 12px;
        color: white;
    }
    
    .cs-tab-link a{
        text-decoration: none;
        color: gray;
    }

    .cs-tab-link a:hover{
        text-decoration: none;
    }

    #galerias::-webkit-scrollbar {
        width: 5px;
      }
      
      /* Changes the scrollbar color */
      #galerias::-webkit-scrollbar-thumb {
        background-color: #ddd;
      }
</style>
<div 
class="shadow w-100" 
style="height: calc(100vh - 75px);">
    <div class="w-100 h-100 mb-2 ">
        <div class="d-flex">
            <ul id="dpEvento-visualizar-tabs" class="nav nav-tabs w-100">
                <li class=" cs-tab-link active">
                    <a id="membro-execucao-tab" data-toggle="tab" href="#membrosExecucao">Equipe de Execução</a>
                </li>
                <!-- <li class=" cs-tab-link active">
                    <a id="itinerarios-tab" data-toggle="tab" href="#itinerarios">Itinerários</a>
                </li> -->
                <li class=" cs-tab-link active">
                    <a id="atividades-tab" data-toggle="tab" href="#atividades">Atividades</a>
                </li>
                <li class=" cs-tab-link active">
                    <a id="orcamento-tab" data-toggle="tab" href="#orcamento">Orcamento</a>
                </li>
                <li class=" cs-tab-link active">
                    <a id="galerias-tab" data-toggle="tab" href="#galerias">Galerias de Imagens</a>
                </li>
            </ul>
            <div class="d-flex justify-content-between px-2">
                <div id="add-membro-execucao-btn">
                    <div data-toggle="tooltip" data-placement="top" title="Adicionar Membro a Equipe de Execução"
                    class="d-flex align-items-center ">            
                        <button onclick="addMembroExecucaoModal()" 
                        class="btn btn-success">Adicionar</button>
                    </div>
                </div>
                <div id="add-avaliacao-btn">
                    <div data-toggle="tooltip" data-placement="top" title="Adicionar Avaliação" 
                    class="d-flex align-items-center ">            
                        <button onclick="addAvaliacaoModal()" 
                        class="btn btn-success">Adicionar</button>
                    </div>
                </div>
                <div id="add-servico-contratado-btn">
                    <div data-toggle="tooltip" data-placement="top" title="Adicionar Serviço" 
                    class="d-flex align-items-center ">            
                        <button onclick="openServicoContratadoModal()" 
                        class="btn btn-success">Adicionar</button>
                    </div>
                </div>
                <div id="add-item-orcamento-btn">
                    <div data-toggle="tooltip" data-placement="top" title="Adicionar Atividade" 
                    class="d-flex align-items-center ">            
                        <button onclick="addItemOrcamento('{{dpEvento.proposta_projeto.orcamento.id}}')" 
                        class="btn btn-success">Adicionar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content w-100 h-100 scroll-custom position-relative" 
        style="overflow: scroll; margin-bottom: 24px; padding-bottom: 24px">
            <div id="atividades-table-header" class="w-100 bg-light position-sticky pt-3" style="top:0; z-index: 2;">
                <div class="d-flex w-100">
                    <div>
                        <div class="d-flex flex-column justify-content-start align-items-start mx-2">
                            <label class="filter-label">Busca</label>
                            <input style="font-size: 0.8rem;" 
                            id="filterAtividadesNome" 
                            placeholder="Procurar pelo nome" 
                            class="form-control-sm border-secondary"
                            name="nome" type="text">
                        </div>
                    </div>
                    <div>
                        <div class="d-flex flex-column justify-content-start align-items-start mx-2">
                            <label class="filter-label">Departamento</label>
                            <select style="font-size: 0.8rem;" 
                            id="filterAtividadesDepartamento" 
                            name="departamento_id" 
                            class="form-control-sm border-secondary">
                                <option value="">Selecione um Departamento</option>
                                {% for departamento in departamentos %}
                                <option value="{{departamento.id}}" {% if departamento.id == atividade.departamento.id %} selected {% endif %}>
                                    <span>{{departamento.nome}}</span>
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex flex-column justify-content-start align-items-start mx-2">
                            <label class="filter-label">Categoria</label>
                            <select style="font-size: 0.8rem;" 
                            id="filterAtividadesCategoria" 
                            name="categoria" 
                            class="form-control-sm border-secondary">
                                <option value="">Selecione uma Categoria</option>
                                {% for categoria in categoriaAtividades %}
                                <option value="{{categoria.id}}">
                                    <span>{{categoria.name}}</span>
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex flex-column justify-content-start align-items-start mx-2">
                            <label class="filter-label">Responsavel</label>
                            <select style="font-size: 0.8rem;" 
                            name="responsavel_id" 
                            id="filterAtividadesResponsavel" 
                            class="form-control-sm border-secondary">
                                <option value="">Selecione um responsavel</option>
                                {% for membro in dpEvento.membroexecucao_set %}
                                <option value="{{membro.id}}">
                                    <span>{{membro.pessoa.nome}}</span>
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex flex-column justify-content-start align-items-start mx-2">
                            <label class="filter-label">Data de Conclusão</label>
                            <input type="date" 
                            style="font-size: 0.8rem;" 
                            id="filterAtividadesDataFim"
                            name="data_fim"
                            class="form-control-sm border-secondary">
                        </div>
                    </div>
                </div>
                <div class="py-2 d-flex w-100">
                    <div class="w-35 pl-2" >
                        Nome
                    </div>
                    <div class="w-20 pl-2" >
                        Responsável
                    </div>
                    <div class="w-15 pl-2" >
                        Departamento
                    </div>
                    <div class="w-20 pl-2" >
                        Data de Conclusão
                    </div>
                    <div class="w-10 pl-2">
                        Ações
                    </div>
                </div>
            </div>    
            <div id="membrosExecucao" 
            class="tab-pane active in" >
                <div id="receberTabelaMembrosExecucao" ></div>
            </div>
            <div id="atividades" class="tab-pane " >
                <div id="atividadesTableContainer"></div>
                <div  class="w-100 d-flex flex-column justify-content-center align-items-center" style="height: 70vh">
                    <div class="loading-container"
                    style="display: none; position: relative">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <div class="spinner-border text-primary " role="status">
                            </div>
                            <h3>Carregando...</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div id="orcamento" class="tab-pane">
                <div id="orcamentoTableContainer"></div>
                <div  class="w-100 d-flex flex-column justify-content-center align-items-center" style="height: 70vh">
                    <div class="loading-container"
                    style="display: none; position: relative">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <div class="spinner-border text-primary " role="status">
                            </div>
                            <h3>Carregando...</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div id="galerias" class="tab-pane" >
                <div id="galeriasTableContainer"></div>
            </div>
        </div>
    </div>
</div>
<div id="modalMembroExecucaoContainer"></div>
<div id="modalAtividadeContainer"></div>
<div id="modalAvaliacaoContainer"></div>
<div id="modalServicoContainer"></div>
<div id="modalServicoContratadoContainer"></div>
<div id="modalGaleriaContainer"></div>

<script>
    let modalCadastrarMembroExecucaoContainerId = "modalCadastrarMembroExecucaoContainer"
    let buttonMenuMembrosExecucaoId = "buttonMenuMembrosExecucao"
    let hiddenMenuMembrosExecucaoId = "hiddenMenuMembrosExecucao"
    let cadastrarMembroExecucaoModalId = "cadastrarMembroExecucaoModal"
    let cadastrarMembroExecucaoFormId = "cadastrarMembroExecucaoForm"
    let dismissCadastrarMembroExecucaoId = "dismissCadastrarMembroExecucao"
    let rotaDeletarMembroExecucao = "eliminarMembroExecucao"
    let rotaModalMembroExecucao = "membroExcucaoModalCadastrar"
    let rotaVisualizarMembroExecucao = "visualizarMembroExecucao"
</script>
<script>
    let membroExecucaoModificadaEvent = {};
    let membroExecucaoModificadaEventProxy = null
    let idTabelaMembrosExecucao = "receberTabelaMembrosExecucao"
    let rotaTabelaMembrosExecucao = "membrosExecucaoDpEventoTable"
    let dpEventoId = "{{dpEvento.id}}" 

    function reloadMap() {
        $('body').trigger('reloadMap')
    }

    function addMembroExecucaoModal() {
        $.ajax({
            url: "/membroExecucaoModal",
            method: "GET",
            data: {
                evento_id: dpEventoId
            },
            success: function (data) {
                $("#modalMembroExecucaoContainer").html('');
                $("#modalMembroExecucaoContainer").html(data);
                $('#cadastrarMembroExecucaoModal').modal('show');
            }
        });
    }

    function addItemOrcamento(orcamentoId) {
        const orcamentoModal = new CustomModalComponent({
            modalTitle: "Adicionar Item de Orçamento",
            modalBtnActionText: "Salvar",
            initializeForm: (container) => initializeItemOrcamentoForm(null, container),
            loadContent: (parms) => getItemOrcamentoForm({}),
            modalActionFunction: (data) =>  createItemOrcamento({orcamento_id: orcamentoId, ...data}, function (data) {
                showFloatingMessage("Item adicionado ao orçamento com sucesso", "alert-success");
                carregarOrcamento({model_id: orcamentoId})
            }, function (error) {
                showFloatingMessage(error.responseJSON.message, "alert-danger");
            })
        });

        orcamentoModal.open('xl');
    }

    function clearModalFormTicket(tableToReload = null) {
        console.log("clearModalFormTicket", tableToReload)
        $("#cadastrarTicketModal").modal('hide');
        $("#modalTicketContainer").html("");
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
        if (tableToReload == "atividade") {
            carregarAtividades()
        } else if (tableToReload == "avaliacao") {
            carregarAvaliacoes()
        } else if (tableToReload == "servico") {
            carregarServicos()
        } else if (tableToReload == "servicoContratado") {
            carregarServicosContratados()
        } else if (tableToReload == "galeria") {
            carregarGalerias()
        } else if (tableToReload == "membro_execucao") {
            carregarMembrosExecucao()
        }
    }
    
    function addAtividadeModal() {
        $.ajax({
            url: "/atividadeModal",
            method: "GET",
            data: {
                dp_evento_id: dpEventoId
            },
            success: function (data) {
                $("#modalAtividadeContainer").html('');
                $("#modalAtividadeContainer").html(data);
                $('#cadastrarAtividadeModal').modal('show');
            }
        });
    }

    function openServicoContratadoModal() {
        $.ajax({
            url: "/servicoContratadoModal",
            method: "GET",
            data: {
                dp_evento_id: dpEventoId
            },
            success: function (data) {
                $("#modalServicoContratadoContainer").html('');
                $("#modalServicoContratadoContainer").html(data);
                $('#cadastrarServicoContratadoModal').modal('show');
                setModalBehaviour(function () {
                    carregarSelectMembroExecucao();
                });
            }
        });
    }
    
    function addAvaliacaoModal() {
        $.ajax({
            url: "/avaliacaoModal",
            method: "GET",
            data: {
                dp_evento_id: dpEventoId
            },
            success: function (data) {
                $("#modalAvaliacaoContainer").html('');
                $("#modalAvaliacaoContainer").html(data);
                $('#cadastrarAvaliacaoModal').modal('show');
            }
        });
    }

    function carregarAtividades(data = null) {
        toggleLoading("show");
        $("#atividadesTableContainer").html("");
        $.ajax({
            url: "/atividadesDpEventoTable",
            data: data == null ? {dp_evento_id: dpEventoId} : data,
            success: function (data) {
                toggleLoading("hide");
                $("#atividadesTableContainer").html(data);
            },
            error: function (data) {
                showFloatingMessage("Erro ao carregar atividades", "alert-danger");
                toggleLoading("hide");
            }
        });

    }
    
    function carregarOrcamento(data = null) {
        toggleLoading("show");
        $("#orcamentoTableContainer").html("");
        getOrcamentoTable(data, function (data) {
            toggleLoading("hide");
            $("#orcamentoTableContainer").html(data);
        }, function (error) {
            showFloatingMessage("Erro ao carregar orçamento", "alert-danger");
            toggleLoading("hide");
        });
    }
    
    function carregarServicosContratados() {
        $.ajax({
            url: "/servicoContratadoTable",
            data: {dp_evento_id: dpEventoId},
            success: function (data) {
                $("#servicoContratadoTableContainer").html(data);
            }
        });
    }
    
    function carregarGalerias() {
        $.ajax({
            url: "/galeriaTable",
            data: {dp_evento_id: dpEventoId},
            success: function (data) {
                $("#galeriasTableContainer").html(data);
            }
        });
    }

    function carregarAvaliacaoLocal() {
        $.ajax({
            url: "/avaliacoesDpEventoTable",
            data: {dp_evento_id: dpEventoId},
            success: function (data) {
                $("#avaliacaoLocalTableContainer").html(data);
            }
        });
    }

    function deleteMembroExecucao(id) {
        deletar_url = "/eliminarMembroExecucao/" + id

        $.ajax({
            url: deletar_url,
            method: "DELETE",
            data: {},
            headers: { "X-CSRFToken":  '{{ csrf_token }}' },
            success: function (data) {
                let menuId = "#"+hiddenMenuMembrosExecucaoId+ id
                $(menuId).toggle()
                carregarMembrosExecucao()
            }
        });
    }

    function carregarMembrosExecucao() {
        $.ajax({
            url: "/"+rotaTabelaMembrosExecucao,
            contentType: 'application/json',
            data: {dp_evento_id: dpEventoId},
            success: function (data) {
                $("#" + idTabelaMembrosExecucao).html(data);
            }
        });
    }

    function deletarServicoContratado(servico_contratado_id) {
        $.ajax({
            url: "/deleteServicoContratado/"+servico_contratado_id,
            headers: { "X-CSRFToken":  '{{ csrf_token }}' },
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            method: "POST",
            success: function (data) {
                carregarServicosContratados()
            }
        });
    }
    
    function dpEventoVisualizarTabsControl(id) {
        if (id == "membro-execucao-tab") {
            $("#add-membro-execucao-btn").show()
            $("#add-atividade-btn").hide()
            $("#add-avaliacao-btn").hide()
            $("#add-galeria-btn").hide()
            $("#add-servico-contratado-btn").hide()
            $("#add-item-orcamento-btn").hide()
            $("#atividades-table-header").hide()
        } else if (id == "itinerarios-tab") {
            $("#add-membro-execucao-btn").hide()
            $("#add-atividade-btn").hide()
            $("#add-avaliacao-btn").hide()
            $("#add-galeria-btn").hide()
            $("#add-servico-contratado-btn").show()
            $("#add-item-orcamento-btn").hide()
            $("#atividades-table-header").hide()
        } else if (id == "atividades-tab") {
            $("#add-membro-execucao-btn").hide()
            $("#add-atividade-btn").show()
            $("#add-avaliacao-btn").hide()
            $("#add-galeria-btn").hide()
            $("#add-servico-contratado-btn").hide()
            $("#add-item-orcamento-btn").hide()
            $("#atividades-table-header").show()
        } else if (id == "avaliacao-local-tab") {
            $("#add-membro-execucao-btn").hide()
            $("#add-atividade-btn").hide()
            $("#add-avaliacao-btn").show()
            $("#add-galeria-btn").hide()
            $("#add-item-orcamento-btn").hide()
            $("#add-servico-contratado-btn").hide()
            $("#atividades-table-header").hide()
        } else if (id == "galerias-tab") {
            $("#add-membro-execucao-btn").hide()
            $("#add-atividade-btn").hide()
            $("#add-avaliacao-btn").hide()
            $("#add-item-orcamento-btn").hide()
            $("#add-galeria-btn").show()
            $("#add-servico-contratado-btn").hide()
            $("#atividades-table-header").hide()
        } else if (id == "orcamento-tab") {
            $("#add-membro-execucao-btn").hide()
            $("#add-atividade-btn").hide()
            $("#add-avaliacao-btn").hide()
            $("#add-galeria-btn").hide()
            $("#add-item-orcamento-btn").show()
            $("#atividades-table-header").hide()
        } else {
            $("#add-membro-execucao-btn").hide()
            $("#add-atividade-btn").hide()
            $("#add-avaliacao-btn").hide()
            $("#add-item-orcamento-btn").hide()
            $("#add-galeria-btn").hide()
            $("#add-servico-contratado-btn").show()
            $("#atividades-table-header").hide()
        }
    }

    function getAtividadeFilters() {
        let filterAtividades = $("[id^=filterAtividades]")
        data = {}
        filterAtividades.each(function() {
            let filter = $(this)
            let filterValue = filter.val()
            let filterName = filter.attr("name")
            data[filterName] = filterValue
        })
        data["dp_evento_id"] = dpEventoId
        return data
    }
    function setFiltersBehaviour() {
        let filterAtividades = $("[id^=filterAtividades]")
        filterAtividades.each(function() {
            let filter = $(this)
            filter.on("change", function() {
                carregarAtividades(getAtividadeFilters())
            })
        })
    }
    
    $(document).ready(function() {
        let orcamentoId = '{{dpEvento.proposta_projeto.orcamento.id}}'
        membroExecucaoModificadaEventProxy = new Proxy(membroExecucaoModificadaEvent, {
            set: function (target, key, value) {
                target[key] = value;
                if (value) {
                    carregarMembrosExecucao()
                    $('#cadastrarMembroExecucaoModal').modal('hide');
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                }
                target[key] = false
                return false;
            }
        });

        setFiltersBehaviour()

        carregarMembrosExecucao()
        carregarAtividades()
        carregarAvaliacaoLocal()
        carregarServicosContratados()
        carregarGalerias()
        carregarOrcamento({model_id: orcamentoId})
        $("body").css("overflow", "hidden")
        $("#dpEvento-visualizar-tabs a").each(function() {
            let link = $(this)
            link.on("click", function() {
                dpEventoVisualizarTabsControl(link.attr("id"))
            })
        })
        $("#membro-execucao-tab").trigger("click")
    })
</script>

{% endblock content %}