<style>
    .center {
        position: absolute;
        top: 50%;
        left: 50%;
    }
</style>
<div class="modal fade" id="cadastrarGaleriaModal" tabindex="-1" role="dialog"
    aria-labelledby="cadastrarGaleriaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cadastrarGaleriaModalLabel">
                    {% if galeria.id %}
                    Editar galeria de imagens
                    {% else %}
                    Cadastrar galeria de imagens
                    {% endif %}
                </h5>
                <button type="button" id="dismissCadastrarGaleria" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="w-100">
                    <form id="cadastrarGaleriaForm" action="/" method="POST">
                        <input type="text" value="{{dp_evento_id}}" name="dp_evento_id" id="dp_evento_id" hidden>
                        <input type="text" value="galeria" name="model" id="model" hidden>
                        <input type="text" value="{{galeria.id}}" name="galeria_id" id="galeria_id" hidden>

                        <div class="mb-3">
                            <label for="nome" class="form-label">Nome da Galeria:</label>
                            <input type="text" class="form-control" id="nome" name="nome" 
                            {% if galeria %}
                            value="{{galeria.nome|default_if_none:''}}"
                            {% endif %}
                            required>
                        </div>

                        <div class="mb-3">
                            {% if galeria %}
                            {% include "componentes/imagesInput/imagesInput.html" with imagens=galeria.imagem_set galeria_id=galeria.id %}
                            {% else %}
                            {% include "componentes/imagesInput/imagesInput.html" %}
                            {% endif %} 
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button onclick="saveGaleria('{{galeria.id}}')" type="button" class="btn btn-primary">
                    {% if galeria.id %}
                    <span id="save-galeria-btn">Salvar Alterações</span>
                    {% else %}
                    <span id="save-galeria-btn">Cadastrar</span>
                    {% endif %}
                </button>
            </div>
        </div>
    </div>
    <div id="save-galeria-spinner" class="spinner-border center" style="width: 3rem; height: 3rem;">
        <span class="sr-only">Salvando...</span>
    </div>
</div>

<script>
    var galleryImages = [];
    var galleryImagesFiles = [];

    function clearModalForm(changedResource = null) {
        document.getElementById("cadastrarGaleriaForm").reset();
        $("#dismissCadastrarGaleria").click()
        carregarGalerias()
    }

    function saveGaleria(galeria_id) {
        console.log("salvando galeria: ", getFormData())
        $("#save-galeria-btn").html("Salvando...");
        $("#save-galeria-btn").prop("disabled", true);
        $("#save-galeria-spinner").show();
        $.ajax({
            type: "POST",
            url: "/saveGaleria",
            data: JSON.stringify(getFormData()),
            headers: { "X-CSRFToken": '{{ csrf_token }}' },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                clearModalForm(response)
                showFloatingMessage("Galeria salva com sucesso", "alert-success");
            },
            error: function (error) {
                showFloatingMessage("Erro ao atualizar imagem", "alert-danger");
            },
        });
    }

    function getFormData() {
        const images = [];
        const galleryName = $("#nome").val();
        const dpEventoId = $("#dp_evento_id").val();
        const model = $("#model").val();
        const galeriaId = $("#galeria_id").val();

        $(".thumbnail-template-container").each(function () {
            const imagemId = $(this).find("input[name='imagem_id']").val();
            const imageUuid = $(this).data("uuid");
            const imageDataUrl = $(this).find("img").attr("src");
            const imageDescription = $(`textarea[data-uuid="${imageUuid}"]`).val();

            images.push({
                imagemId: imagemId,
                uuid: imageUuid,
                dataUrl: imageDataUrl,
                descricao: imageDescription,
            });
        });

        const galeriaData = {
            galeria_id: galeriaId,
            nome: galleryName,
            dp_evento_id: dpEventoId,
            model: model,
        };

        if (!galeriaId) galeriaData.imagens = images;
        return galeriaData;
    }

    $(document).ready(function () {
        $("#save-galeria-spinner").hide();
    });
</script>