<div class="w-100">
    <form id="cadastrarAtividadeForm" action="/" method="POST">
        <div class="form-group row">
            <div class="col-sm-6">
                <label><b>Link de Documentos:</b></label>
                <input type="text"
                required
                class="form-control"
                {% if atividade.id and atividade.linkDocumentos and atividade.linkDocumentos != 'None' %}
                value="{{atividade.linkDocumentos}}"
                {% endif %}
                id="linkDocumentos"
                name="linkDocumentos">
            </div>
            <div class="col-sm-2">
                <label><b>Status:</b></label>
                <select required 
                class="form-control" 
                id="status" 
                name="status">
                    <option 
                    {% if atividade.status == "pendente" %}
                    selected
                    {% endif %}
                    value="pendente">
                    PENDENTE
                    </option>
                    <option
                    {% if atividade.status == "realizada" %}
                    selected
                    {% endif %}
                    value="realizada">
                    REALIZADA
                    </option>
                    <option
                    {% if atividade.status == "cancelada" %}
                    selected
                    {% endif %}
                    value="cancelada">
                    CANCELADA
                    </option>
                </select>
            </div>
            <div class="col-sm-2">
                <label><b>Data de Inicio:</b></label>
                <input type="date"
                class="form-control"
                {% if atividade.id %}
                value="{{atividade.data_realizacao_inicio|date:"Y-m-d"}}"
                {% endif %}
                id="data_realizacao_inicio"
                name="data_realizacao_inicio">
            </div>
            <div class="col-sm-2">
                <label><b>Data de Fim:</b></label>
                <input type="date"
                class="form-control"
                {% if atividade.id %}
                value="{{atividade.data_realizacao_fim|date:"Y-m-d"}}"
                {% endif %}
                id="data_realizacao_fim"
                name="data_realizacao_fim">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <label><b>Descrição:</b></label>
                <input type="text"
                required
                class="form-control"
                {% if atividade.id and atividade.descricao and atividade.descricao != 'None' %}
                value="{{atividade.descricao}}"
                {% endif %}
                id="descricao"
                name="descricao">
            </div>
        </div>
        <div class="form-group row">
            <div id="tipoAtividadeSelectContainer" class="col-sm-3">
            </div>
            <div id="membroExecucaoSelectContainer" class="col-sm-4">
            </div>
            <div id="departamentoSelectContainer" class="col-sm-3">
            </div>
            <div class="col-sm-2">
                <label><b>Carga Horária:</b></label>
                <input type="number"
                required
                class="form-control"
                {% if atividade.id %}
                value="{{atividade.cargaHoraria}}"
                {% endif %}
                id="cargaHoraria"
                name="cargaHoraria">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                <label class="custom-small-label"><b>Quantidade de Certificações:</b></label>
                <input type="number"
                required
                class="form-control"
                {% if atividade.id %}
                value="{{atividade.quantidadeCertificacoes}}"
                {% endif %}
                id="quantidadeCertificacoes"
                name="quantidadeCertificacoes">    
            </div>
            <div class="col-sm-3">
                <label class="custom-small-label"><b>Quantidade de Matrículas:</b></label>
                <input type="number"
                required
                class="form-control"
                {% if atividade.id %}
                value="{{atividade.quantidadeMatriculas}}"
                {% endif %}
                id="quantidadeMatriculas"
                name="quantidadeMatriculas">
            </div>
            <div class="col-sm-2">
                <label class="custom-small-label"><b>Quantidade de Atendimentos:</b></label>
                <input type="number"
                required
                class="form-control"
                {% if atividade.id %}
                value="{{atividade.quantidadeAtendimentos}}"
                {% endif %}
                id="quantidadeAtendimentos"
                name="quantidadeAtendimentos">
            </div>
            <div class="col-sm-2">
                <label class="custom-small-label"><b>Quantidade de Inscrições:</b></label>
                <input type="number"
                required
                class="form-control"
                {% if atividade.id %}
                value="{{atividade.quantidadeInscricoes}}"
                {% endif %}
                id="quantidadeInscricoes"
                name="quantidadeInscricoes">
            </div>
            <div class="col-sm-2">
                <label class="custom-small-label"><b>Valor:</b></label>
                <input type="float"
                step="0.01"
                required
                class="form-control"
                {% if atividade.id %}
                value="{{atividade.valor|default_if_none:""}}"
                {% endif %}
                id="valor"
                name="valor">
            </div>
        </div>
        {% if acao %}
        <div class="form-group row">
            <div class="col-sm-4">
                <input id="atividade-user-acao-endereco" type="checkbox" class="mr-1">
                <span>Usar endereço da ação</span> 
            </div>
        </div>
        {% elif evento %}
        <div class="form-group row">
            <div class="col-sm-4">
                <input id="atividade-user-acao-endereco" type="checkbox" class="mr-1">
                <span>Usar endereço do evento</span> 
            </div>
        </div>
        {% endif %}
        <div class="form-group row">
            <div id="cidadesSelectContainer" class="col-sm-3">
            </div>
            <div class="col-sm-3">
                <label><b>Logradouro:</b></label>
                <input type="text"
                required
                class="form-control"
                {% if atividade.id %}
                value="{{atividade.logradouro|default_if_none:""}}"
                {% endif %}
                id="logradouro"
                name="logradouro">
            </div>
            <div class="col-sm-3">
                <label><b>Bairro:</b></label>
                <input type="text"
                required
                class="form-control"
                {% if atividade.id %}
                value="{{atividade.bairro|default_if_none:""}}"
                {% endif %}
                id="bairro"
                name="bairro">
            </div>
            <div class="col-sm-3">
                <label><b>CEP:</b></label>
                <input type="text"
                required
                class="form-control"
                {% if atividade.id %}
                value="{{atividade.cep|default_if_none:""}}"
                {% endif %}
                id="cep"
                name="cep">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <label><b>Complemento:</b></label>
                <input type="text"
                required
                class="form-control"
                {% if atividade.id %}
                value="{{atividade.complemento|default_if_none:""}}"
                {% endif %}
                id="complemento"
                name="complemento">
            </div>
        </div>
        
        {% if atividade.acao %}
        <input type="text" hidden 
        id="acao_id"
        name="acao_id" 
        value="{{atividade.acao.id}}">
        {% elif acao %}
        <input type="text" hidden 
        id="acao_id"
        name="acao_id" 
        value="{{acao.id}}">
        {% endif %}

        {% if atividade.evento %}
        <input type="text" hidden
        id="evento_id"
        name="evento_id"
        value="{{atividade.evento.id}}">
        {% elif evento %}
        <input type="text" hidden
        id="evento_id"
        name="evento_id"
        value="{{evento.id}}">
        {% endif %}


    </form>
    <span hidden id="selected-membro-equipe">{% if atividade %}{{atividade.responsavel.id}}{% endif %}
    </span>
    <span hidden id="selected-tipo-atividade">{% if atividade %}{{atividade.tipoAtividade.id}}{% endif %}
    </span>
    <span hidden id="selected-departamento">{% if atividade %}{{atividade.departamento.id}}{% endif %}</span>
    <span hidden id="selected-cidade">{% if atividade %}{{atividade.cidade.id}}{% endif %}</span>
    {% if acao %}
    <span hidden id="acao-logradouro">{{acao.logradouro|default_if_none:""}}</span>
    <span hidden id="acao-cep">{{acao.cep|default_if_none:""}}</span>
    <span hidden id="acao-bairro">{{acao.bairro|default_if_none:""}}</span>
    <span hidden id="acao-complemento">{{acao.complemento|default_if_none:""}}</span>
    <span hidden id="acao-cidade">{{acao.cidade.id|default_if_none:""}}</span>
    {% endif %}
    {% if evento %}
    <span hidden id="acao-logradouro">{{evento.logradouro|default_if_none:""}}</span>
    <span hidden id="acao-cep">{{evento.cep|default_if_none:""}}</span>
    <span hidden id="acao-bairro">{{evento.bairro|default_if_none:""}}</span>
    <span hidden id="acao-complemento">{{evento.complemento|default_if_none:""}}</span>
    <span hidden id="acao-cidade">{{evento.cidade.id|default_if_none:""}}</span>
    {% endif %}
</div>

<script>
    function getMembroExecucaoData() {
        let data = {}
        data["title"] = "Responsável"
        if ($("#acao_id").val()) data["acao_id"] = $("#acao_id").val()
        if ($("#evento_id").val()) data["evento_id"] = $("#evento_id").val()
        if ($("#selected-membro-equipe").text()) data["selected"] = $("#selected-membro-equipe").text()
        return data
    }

    function carregarSelectMembroExecucao() {
        let data = getMembroExecucaoData()
        console.log(data)
        $.ajax({
            url: "/membrosExecucaoSelect",
            data: data,
            type: "GET",
            success: function(data) {
                $("#membroExecucaoSelectContainer").html(data);
            }
        });
    }
    
    function carregarSelectDepartamento() {
        let data = {}
        if ($("#selected-departamento").text()) data["selected"] = $("#selected-departamento").text()

        $.ajax({
            url: "/departamentosSelect",
            data: data,
            type: "GET",
            success: function(data) {
                $("#departamentoSelectContainer").html(data);
            },
            error: function(data) {
                console.log(data)
            }
        });
    }
    
    function carregarSelectTipoAtividade() {
        let data = {}
        if ($("#selected-tipo-atividade").text()) data["selected"] = $("#selected-tipo-atividade").text()

        $.ajax({
            url: "/tiposAtividadesSelect",
            data: data,
            type: "GET",
            success: function(data) {
                $("#tipoAtividadeSelectContainer").html(data);
            }
        });
    }

    function carregarSelectCidades() {
        let data = {}
        if ($("#selected-cidade").text()) data["selected"] = $("#selected-cidade").text()

        $.ajax({
            url: "/cidadesSelect",
            data: data,
            type: "GET",
            success: function(data) {
                $("#cidadesSelectContainer").html(data);
            }
        });
    }

    $(document).ready(function(){
        carregarSelectMembroExecucao();
        carregarSelectTipoAtividade();
        carregarSelectCidades();
        carregarSelectDepartamento();

        $("#atividade-user-acao-endereco").change(function() {
            if (this.checked) {
                $("#logradouro, #bairro, #cep, #complemento").val(function() {
                    return $("#acao-" + this.id).text();
                });
                $("#cidadesSelectContainer select").val($("#acao-cidade").text());
            } else {
                $("#logradouro, #bairro, #cep, #complemento").val("");
                $("#cidadesSelectContainer select").val("");
            }
        });
    });
</script>