<style>
    .atividade-w-90 {
        width: 90%;
    }
    .atividade-w-15 {
        width: 15%;
    }
    .atividade-w-25 {
        width: 25%;
    }
    .atividade-w-50 {
        width: 50%;
    }
    .servico-btn {
        padding: 3px 6px;
        font-size: 0.9rem;
        height: 100%;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 200px;
        text-align: left;
        white-space: wrap;
    }
    
    .servico-btn:hover {
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        transition: box-shadow 0.2s;
        cursor: pointer;
    }

    .servico-delete-btn:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    .delete-container {
        background-color: #df4759;
        color: white;
    }
</style>
<table class="table table-borderless" 
width="100%" 
cellspacing="0">
    <thead class="border">
        <tr class="">
            <th class="text-left">Descricao</th>
            <!-- <th class="text-left">Departamento</th> -->
            <!-- <th class="text-left">Status</th> -->
            <th class="text-left">Atividades relacionadas</th>
            <th class="text-left">Demandas</th>
            <!-- <th class="w-2 text-left">Tipo</th> -->
        </tr>
    </thead>
    <tbody>
        {% for atividade in atividades %}
        <tr>
            <td class="atividade-w-50">
                {% include "atividades/atividadeCard.html" with atividade=atividade %}
            </td>
            <td>
                <div class="d-flex flex-wrap">
                    {% for servico in atividade.servico_set.all %}
                    <div id="deleteServicoContainer-{{servico.id}}" 
                    class="d-flex justify-content-center align-items-center border rounded mx-1 my-1">
                        <span class="servico-btn mr-1" 
                        onclick="openServicoDialog('{{atividade.id}}', '{{servico.id}}')">
                        <strong>{{servico.nome}}</strong>
                        </span>
                        <span class="fa-stack servico-delete-btn "  
                        style="border-radius: 50%;" 
                        id="deleteServico-{{servico.id}}"
                        onclick="openDeleteModal(() => deleteServico('{{servico.id}}'))"
                        data-toggle="tooltip" 
                        data-placement="top"
                        title="Deletar Atividade Relacionada">
                            <i style="border-radius: 50%; color: #df4759;" class="fas fa-circle-thin fa-stack-2x"></i>
                            <i style="border-radius: 50%;" class="fa-solid fa-trash fa-stack-1x fa-inverse "></i>
                        </span>
                    </div>
                    {% endfor %}
                </div>
            </td>
            <td class="membro-execucao-w-70 text-left">
                <div class="membro-execucao-w-100 d-flex flex-wrap">
                    {% for demanda in atividade.ticket_set.all %}
                        {% include "tickets/ticket_card.html" with ticket=demanda model='atividade' show_delete=True show_edit=True show_conclude=False %}
                    {% endfor %}
                </div>
            </td>
            <td class="w-2 text-left" style="position: relative;">
                <button id="buttonMenuAtividades{{atividade.id}}" 
                class="btn-circle">
                    <i class="fa-solid fa-ellipsis-vertical"></i>                        
                </button>
                <div style="display: none; position: absolute; z-index: 2; right: 10%;" 
                id="hiddenMenuAtividades{{atividade.id}}" 
                class="btn-group-custom">
                    <a id="linkVisualizarAtividade{{atividade.id}}" href="/visualizarAtividade/({{atividade.id}})"></a>
                    <!-- <button onclick="visualizarCidade({{cidade.id}})">Visualizar</button>  -->
                    <button onclick="editarAtividadeModal('{{atividade.id}}')">Editar</button> 
                    <button onclick="openServicoDialog('{{atividade.id}}')">Adicionar SubAtividade</button> 
                    <button onclick="adicionarDemandaAtividade('{{atividade.id}}')">Adicionar Demanda</button> 
                    <button onclick="openGaleriaModal({{atividade.galeria.id}})">Imagens</button>
                    <button onclick="openDeleteModal(() => deleteAtividade('{{atividade.id}}'))" >Excluir</button>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script id="tabelaAtividadeScript">
    var buttonMenuAtividadesId = "buttonMenuAtividades"
    var hiddenMenuAtividadesId = "hiddenMenuAtividades"
    var cadastrarAtividadeFormId = "cadastrarAtividadeForm"
    var dismissCadastrarAtividadeId = "dismissCadastrarAtividade"
    var AtividadeModificadaEvent = {}
    var AtividadeModificadaEventProxy = null
    var modalCadastrarAtividadeContainerId = "modalCadastrarAtividadeContainer"
    var idTabelaAtividades = "receberTabelaAtividades"
    var rotaTabelaAtividades = "atividadesTable"
    var rotaDeletarAtividade = "eliminarAtividade"
    var rotaModalAtividade = "atividadesModalCadastrar"
    var rotaVisualizarAtividade = "visualizarAtividade"
    var deleteServicoControl = []

    function adicionarDemandaAtividade(atividade_id) {
        $.ajax({
            url: "/ticketModal",
            data: { 
                atividade_id: atividade_id, 
                model: "atividade",
                layout: 6 
            },
            success: function (data) {
                $("#" + "modalTicketContainer").html(data);
                $('#' + "cadastrarTicketModal").modal('toggle');
            }
        });
    }

    function editarAtividadeModal(id) {
        $.ajax({
            url: "/atividadeEditarModal/" + id,
            success: function (data) {
                $("#modalAtividadeContainer").html(data);
                $('#cadastrarAtividadeModal').modal('toggle');
            }
        });
    }

    function precessDelete(servicoId) {
        $.ajax({
            url: "/eliminarServico/" + servicoId,
            data: {},
            success: function (data) {
                carregarAtividades()
            }
        });
    }

    function deleteServico(servicoId) {
        console.log("delete "+ servicoId)
        deleteServicoControl[servicoId] = deleteServicoControl[servicoId] == null ? 0 : 1
        
        if (deleteServicoControl[servicoId] == 0) {
            $("#deleteServicoContainer-" + servicoId).addClass("delete-container")
            setTimeout(function () {
                $("#deleteServicoContainer-" + servicoId).removeClass("delete-container")
                deleteServicoControl[servicoId] = null
            }, 2000)
        }  else precessDelete(servicoId)
    }

    function openServicoDialog(atividadeId, servicoId = null) {
        let data = {
            atividade_id: atividadeId
        }

        if (servicoId != null) {
            data.servico_id = servicoId
        }

        $.ajax({
            url: "/ServicoModalCadastrar",
            data: data,
            contentType: "application/json",
            success: function (data) {
                $("#modalServicoContainer").html('');
                $("#modalServicoContainer").html(data);
                $('#cadastrarServicoModal').modal('show');
            }
        });
    }

    function deleteAtividade(id) {
        $.ajax({
            url: "/eliminarAtividade/" + id,
            data: {},
            success: function (data) {
                let menuId = "#hiddenMenuAtividadesId" + id
                $(menuId).toggle()
                carregarAtividades()
            }
        });
    }

    function bindButtons() {
        $("button[id^='"+buttonMenuAtividadesId+"']").each(function (i, el) {
            $(this).on("click", function () {
                let id = $(this).attr('id').split("Atividades")[1];
                let menuId = "#"+hiddenMenuAtividadesId + id
                $("div[id^='"+hiddenMenuAtividadesId+"']").each(function (i, el) {
                    
                    if (menuId != "#" + $(this).attr("id")) {
                        if ($(this).css('display') != 'none') {
                            $(this).toggle()
                        }
                    }
                })
                let hiddenMenu = $(menuId).parent()
                let isVisible = isvisibleOnViewport(hiddenMenu[0])
                if (!isVisible) {
                    $(menuId).css("bottom", "40px")
                } 
                $(menuId).toggle()
            });
        });
    }

    function isvisibleOnViewport(element) {
        var rect = element.getBoundingClientRect();
        var html = document.documentElement;
        return (
            (rect.top) >= 0 &&
            rect.left >= 0 &&
            (rect.bottom + 100) <= (window.innerHeight || html.clientHeight) &&
            rect.right <= (window.innerWidth || html.clientWidth)
        );
    }
    
    $(document).ready(function () {

        $(document).mouseup(function (e) {
            $("div[id^='"+hiddenMenuAtividadesId+"']").each(function (i, el) {
                if (!$(this).is(e.target) && $(this).has(e.target).length === 0) {
                    if ($(this).css('display') != 'none') {
                        $(this).toggle()
                    }
                }
            })
        });

        bindButtons()
    })
</script>