<div id="atividade-row-container-{{atividade.id}}"  class="w-100 d-flex align-items-start" >
    <div class="d-flex w-35" id="atividade-row-nome-{{atividade.id}}" >
        <div>
            <div id="atividade-row-status-{{atividade.id}}" class="w-5 d-flex align-items-center" style="box-sizing: border-box;">
               {% include 'atividades/atividade-btn-status.html' with atividade=atividade replaceContainerId='atividade-row-status-' %}
            </div>
        </div>
        <div id="atividade-row-categoria-{{atividade.id}}" class="d-flex align-items-center" style="box-sizing: border-box;">
           {% include 'atividades/atividade-btn-categoria.html' with atividade=atividade categorias=categorias replaceContainerId='atividade-row-categoria-' containerId='atividade-row' %}
        </div>
        <div>
            <input type="text" 
            id="input-nome-atividade-{{atividade.id}}"
            class="input-hover-highlight w-95 bg-light ml-1"
            placeholder="Escreva o nome da tarefa"
            value="{{atividade.nome|default_if_none:''}}">
        </div>
    </div>
    <div class="w-20 d-flex align-items-center" style="box-sizing: border-box;">
        <div id="select-membro-execucao-atividade-{{atividade.id}}">
            {% include 'atividades/atividade-select-membro-execucao.html' with membrosExecucao=membrosExecucao atividade=atividade %}
        </div>
    </div>
    <div class="w-15  d-flex align-items-center" style="box-sizing: border-box;">
        <div id="select-departamento-atividade-{{atividade.id}}">
            {% include 'atividades/atividade-select-departamento.html' with departamentos=departamentos atividade=atividade %}
        </div>
    </div>
    <div class="w-20  d-flex align-items-center" style="box-sizing: border-box;">
        <div id="input-data-realizacao-atividade-{{atividade.id}}">
            {% include 'atividades/atividade-input-data-fim.html' with atividade=atividade %}
        </div>
    </div>
    <div class="10 ">
        <div class="ml-3 position-relative d-flex justify-content-end w-100">
            <button id="open-drawer-atividade-{{atividade.id|default_if_none:""}}"
            onclick="showDrawer('{{atividade.id}}')"
            data-toggle="tooltip" data-placement="top" title="Detalhes"
            class="btn btn-light btn-sm" type="button">
                <i class="fa-solid fa-angles-right"></i>
            </button>
            <button data-toggle="tooltip" data-placement="top" title="remover atividade" 
            onclick="openDeleteModal(() => removeAtividade('{{atividade.id}}'))"
            class="btn btn-danger btn-sm dropdown-item m-0 px-1 py-2 text-danger">
                <i class="fas fa-trash mx-1"></i>
            </button>
        </div>
    </div>
</div>

<script> 
    $(document).ready(function() {
        (function(params) {    
            let oldName = "{{atividade.nome|default_if_none:''}}"        
            function setNomeInputBehaviour(data) {
                let nomeInput = $("#atividade-row-nome-" + params.atividadeId + " #input-nome-atividade-" + params.atividadeId)
                if (params.fromCreate == "True") {
                    nomeInput.focus()
                }

                nomeInput.on('focusout', function() {
                    let nome = $(this).val()
                    if (nome == "") nome = "Tarefa sem título"

                    if (nome == oldName) return

                    $(this).val(nome)

                    let data = {
                        "nome": nome
                    }
                    updateAtividade(params.atividadeId, data)
                })
            }

            $(`atividade-row-status-${params.atividadeId}`).on('click', function() {
                let status = $(this).attr('data-status')
                let data = {
                    "status": status
                }
                
                updateAtividade(params.atividadeId, data)
            })

            setNomeInputBehaviour()
            

        })({atividadeId: "{{atividade.id}}", fromCreate: "{{fromCreate}}"});
    });
</script>