<style>
    .table-container {
        width: 100%;
        display: block;
    }
</style>
<div class="table-container">
    <div class="w-100 position-relative"
    id="atividades-section-container">
        {% include "atividades/atividadeSection/atividade-section-table.html" with evento_id=evento_id atividadeSections=atividadeSections categorias=categorias departamentos=departamentos %}
        <hr>
    </div>
    <div id="activity-drawer" 
    style="display: none; width: 60%; height: 100%; position: fixed; bottom: 0; right: 0; background-color: #f0f0f0; overflow: auto; z-index: 99;">
    </div>
</div>


<script>
    function removeAtividade(atividadeId) {
        deleteAtividade(atividadeId, function(data) {
            $("#atividade-row-container-" + atividadeId).remove();
        })
    }

    async function showDrawer(atividadeId) {
        getAtividadeDrawer(atividadeId, function(html) {
            $('#activity-drawer').html(html);
            $('#activity-drawer').show();
        })
    }
</script>