<style>
    .ensinos-w-5 {
        width: 5%;
    }
    .ensinos-w-25 {
        width: 25%;
    }
    .ensinos-w-15 {
        width: 15%;
    }
</style>
<table class="table table-borderless" 
width="100%" 
cellspacing="0">
    <thead class="border">
        <tr class="">
            <th class="ensinos-w-20 text-left">Observação</th>
            <th class="ensinos-w-15 text-left">Status</th>
            <th class="ensinos-w-15 text-left">Inicio</th>
            <th class="ensinos-w-15 text-left">Fim</th>
            <th class="ensinos-w-15 text-left">Endereco</th>
            <th class="ensinos-w-15 text-left">Escola</th>
            <th class="w-5 text-left">Ação</th>
        </tr>
    </thead>
    <tbody>
        {% for ensino in ensinos %}
        <tr>
            <td class="ensinos-w-15 text-left">{{ensino.observacao}}</td>
            <td class="ensinos-w-15 text-left">{{ensino.status}}</td>
            <td class="ensinos-w-15 text-left">{{ensino.data_inicio|date:"d-m-Y"}}</td>
            <td class="ensinos-w-15 text-left">{{ensino.data_fim|date:"d-m-Y"}}</td>
            <td class="ensinos-w-25 text-left">
                {% if ensino.cidade %}
                    <strong>{{ensino.cidade.nome}}</strong>
                {% else %}
                    <strong>{{ensino.endereco.cidade.nome}}</strong>
                {% endif %}
                {{ensino.endereco_completo}} 
            </td>
            <td class="ensinos-w-15 text-left">{{ensino.escola.nome}}</td>

            <td class="w-5 text-left" style="position: relative;">
                <button id="buttonMenuEnsinos{{ensino.id}}" 
                class="btn-circle">
                    <i class="fa-solid fa-ellipsis-vertical"></i>                        
                </button>
                <div style="display: none; position: absolute; z-index: 2; right: 10%" 
                id="hiddenMenuEnsinos{{ensino.id}}" 
                class="btn-group-custom">
                    <a id="linkVisualizarensino{{ensino.id}}" href="/visualizarEnsino/({{ensino.id}})"></a>
                    <button onclick="visualizarEnsino('{{ensino.id}}')">Visualizar</button> 
                    <button onclick="carregarEnsinosModalCadastrar('{{ensino.id}}')">Editar</button> 
                    <button onclick="deleteEnsino('{{ensino.id}}')" >Excluir</button>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    function visualizarEnsino(id) {
        location.href = "visualizarEnsino/" + id
    }

    $(document).ready(function () {
        function isvisibleOnViewport(element) {
            var rect = element.getBoundingClientRect();
            var html = document.documentElement;
            return (
                (rect.top) >= 0 &&
                rect.left >= 0 &&
                (rect.bottom + 100) <= (window.innerHeight || html.clientHeight) &&
                rect.right <= (window.innerWidth || html.clientWidth)
            );
        }

        function bindButtons() {
            $("button[id^='"+buttonMenuEnsinosId+"']").each(function (i, el) {
                $(this).on("click", function () {
                    let id = $(this).attr('id').split("Ensinos")[1];
                    let menuId = "#"+hiddenMenuEnsinosId + id
                    $("div[id^='"+hiddenMenuEnsinosId+"']").each(function (i, el) {
                        
                        if (menuId != "#" + $(this).attr("id")) {
                            if ($(this).css('display') != 'none') {
                                $(this).toggle()
                            }
                        }
                    })
                    let hiddenMenu = $(menuId).parent()
                    let isVisible = isvisibleOnViewport(hiddenMenu[0])
                    if (!isVisible) {
                        $(menuId).css("bottom", "40px")
                    } 
                    $(menuId).toggle()
                });
            });
        }

        $(document).mouseup(function (e) {
            $("div[id^='"+hiddenMenuEnsinosId+"']").each(function (i, el) {
                if (!$(this).is(e.target) && $(this).has(e.target).length === 0) {
                    if ($(this).css('display') != 'none') {
                        $(this).toggle()
                    }
                }
            })
        });

        bindButtons()
     })
</script>